

/* CUSTOM --------------------------------------------------------------------*/


section#content {
  padding-bottom: 60px;
}
#projects h3 {
  margin-top: 40px;
  margin-bottom: 10px;
}
#projects .project:first-child {
  padding-top: 20px;
  padding-bottom: 100px;
  border-bottom: 2px solid $secondary-color;
}
#projects .project {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 2px solid $secondary-color;
  text-align: justify;
}
#projects .project:last-child {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: none;
}
#projects img {
  border: 1px solid  #c7c7c7;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#other-projects .project {
  margin-bottom: 40px;
}
.notice {
  text-align: center;
}
ul.skills {
  margin-bottom: 30px;
  margin-left: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  text-align: center;;
}
#projects ul li,
#other-projects ul li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  list-style: none;
  font-style: italic;
  font-size: 14px;
  line-height: 22px;
  color: #aaa;
}
#projects ul.normal li,
#other-projects ul.normal li {
  list-style: disc; ;
  text-align: left;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
}
#projects .project-title {
  text-align: center;
}
#other-projects {
  margin-top: 80px;
}
.resource {
  margin-bottom: 35px;
}
.sidebar {
  background: $accent-color;
  padding-top: 30px;
  padding-bottom: 25px;
}
.page-Home h2 {
  display: none;
}
.home-page {
  display: flex;
  justify-content: center;
  h4 {
    margin-bottom: 20px;
  }
}
.home-page-logo {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.home-block {
  background: $footer-background;
}
.home-block h3 {
  margin-top: 0;
  margin-bottom:  30px;
  font-size: 30px;
}
.home-headline {
  padding: 70px;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
  color: $secondary-color;
  background: $accent-color;
}
.home-headline-secondary {
  color: $primary-color;
}
.home-info {
  padding: 40px 30px;
  margin-top: 30px;
}
.home-featured-project {
  h3:first-child {
    margin-bottom: 5px;
  }
}
.page-About p {
  text-align: justify;
}
.all-resources-contents {
  background: $footer-background;
  padding: 70px 50px;
  font-size: 20px;
  ul {
    list-style: none;
  }
}
