/* FOOTER ------------------------------------------------------------------- */


footer {
  background: $footer-background;
}
footer .container {
  background:$footer-background;
  color: $secondary-color;
  padding-bottom: 30px;
  font-size: 13px;
  line-height: 21px;
}
.footer-links-row {
  padding: 0 200px;
}
.footer-title {
  font-weight: bold;
  margin-top: 50px;
}
.footer-title-top {
  margin-bottom: 8px;
}
.footer-logo-row {
  text-align: center;
}
.footer-logo img {
  margin-top: -26px;
  margin-bottom: 0px;
  border: none;
}
.social-icons-row {
  text-align: center;
  padding-top: 50px;
}
i.fa {
  margin-left: 6px;
  margin-right: 6px;
}
.copyright {
  height: 50px;
  color: $accent-color;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: $navbar-background;
}

@media(min-width:$medium){
  .footer-list-middle {
    padding-left: 45px;
  }
}
