<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--
  <title>Bob Humphrey - <%= title %></title>
-->
<title>programming reference</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="<%= stylesheet %>" type="text/css" rel="stylesheet">
</head>
<body>
  <div id="outerWrapper" class="page-<%= title %>">

<%- partial("_navbar.ejs") %>

    <!-- CONTENT ------------------------------------------------------------------>

    <section id="content">
      <div id="page-heading">
        <div class="container">
          <h2><%= title %></h2>
        </div>
      </div>
      <%- yield %>
    </section>

<%- partial("_footer.ejs") %>

  <!--
  blade - {{ $home}}
  ejs - <%= home %>
-->

<!-- SCRIPTS ------------------------------------------------------------------>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" ></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-6192228-3', 'bobhumphrey.org');
ga('send', 'pageview');
</script>
</div>
</body>
</html>
