<!-- NAVBAR ------------------------------------------------------------------->


<%
var workClass = '';
if ((current.source == 'personal') || (current.source == 'randall') ) {
  workClass = 'active';
}
var resourcesClass = '';
if ((current.source == 'articles') || (current.source == 'code') || (current.source == 'ebooks') ||
(current.source == 'laravel') || (current.source == 'news') || (current.source == 'reference')  ||
(current.source == 'tools') || (current.source == 'vue') || (current.source == 'front-end') ) {
  resourcesClass = 'active';
}
%>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/logo-80.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= current.source=='about'?'active':'' %>"><a href="/about.html">ABOUT</a></li>
        <li class="<%= current.source=='skills'?'active':'' %>"><a href="/skills.html">SKILLS</a></li>
        <li class="dropdown <%= workClass %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            WORK <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/work/personal.html">PERSONAL PROJECTS</a></li>
            <li><a href="/work/randall.html">RANDALL LIBRARY PROJECTS</a></li>
          </ul>
        </li>
        <li class="dropdown <%= resourcesClass %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            RESOURCES <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/resources/all.html">ALL</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/resources/articles.html">ARTICLES</a></li>
            <li><a href="/resources/bodyandsoul.html">BODY AND SOUL</a></li>
            <li><a href="/resources/code.html">CODE LIBRARIES</a></li>
            <li><a href="/resources/ebooks.html">EBOOKS</a></li>
            <li><a href="/resources/front-end.html">FRONT END</a></li>
            <li><a href="/resources/laravel.html">LARAVEL</a></li>
            <li><a href="/resources/news.html">NEWS AND BLOGS</a></li>
            <li><a href="/resources/php.html">PHP</a></li>
            <li><a href="/resources/reference.html">REFERENCE</a></li>
            <li><a href="/resources/tools.html">TOOLS</a></li>
            <li><a href="/resources/vue.html">VUE.JS</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
