<div class="container">
  <div class="row">
    <div class="col-md-4">
      &nbsp;
    </div>

    <div class="col-md-7 col-md-offset-1">
      <p>
        Hi, my name is Bob, and I'm the Web and Applications Developer at
        <a href="http://library.uncw.edu" target="_blank">
          William Randall Library
        </a>
        on the campus of
        <a href="http://uncw.edu" target="_blank">
          The University of North Carolina Wilmington</a>.
          As a web programmer, my job is to solve business problems and make
          life better for my many customers and my boss.
      </p>
      <p>
        In my current position, I’ve developed dozens of database driven
        applications, most of them using PHP frameworks like Laravel and Yii.
        Our main library website is built using the Drupal content management
        system, and I have made numerous improvements to it by writing custom
        modules and modifications.
        We also make extensive use of other open source software,
        much of which I’ve modified to meet the special requirements of the library.
      </p>
      <p>
        I'm the only programmer on the library staff, which means I have to be
        super resourceful!  I’ve got to be able to perform a wide range of
        development tasks, from figuring out what technologies to use to building
        LAMP web stacks on virtual servers running Red Hat Linux.  I am
        responsible for every part of the development process, from front end
        to back end, including database design, coding, testing, debugging,
        deployment and documentation.
      </p>
      <p>
        Before coming to Randall Library, I worked for many years at Roadway
        Express, a large trucking company that once employed over 35,000 people,
        but has now been acquired by
        <a href="http://yrc.com/" target="_blank">YRC Freight</a>.
        At Roadway, I was only one
        developer on an IT staff of over 300, but I still managed to distinguish
        myself.  As a systems analyst and technical lead for a small group of
        developers, I was the first person in the company to create a web based
        application.  The sales system that my team designed and built was used
        by Roadway’s 1,000 member sales force to coordinate their efforts across
        all 50 states and provide exceptional service to more than a million
        customers.  I was recognized for my efforts with the You’re Number One
        Award, an honor that was given on an annual basis to thirty of the
        company’s employees.
      </p>
      <p>
        I love being a programmer because I enjoy lifelong learning and coding
        helps me to achieve a wonderful state of
        <a href="https://www.ted.com/talks/mihaly_csikszentmihalyi_on_flow?language=en#t-923984"
        target="_blank">flow</a>.
        But I also have a number of interests away from the computer,
        including photography, travel, reading, music, and bicycling.
        I’m trying to teach myself to draw and paint.  Perhaps my favorite thing
        of all is going for a long walk in the evening
        along the beach with my wife.
      </p>
    </div>

  </div>
</div>
