<div class="home-page">
  <div class="container">

    <div class="row">
      <div class="home-page-logo">
        <img src="/images/logo-name-400.png" />
      </div>
    </div>

    <div class="home-block home-headline">
      <div class="home-headline-main">I build modern web applications</div>
      <div class="home-headline-secondary">
      database driven sites,
      single page applications, static sites, <br>
      and content management systems</div>
      <div class="home-headline-main">using PHP, Laravel, JavaScript, and SQL</div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="home-block home-info">
          <h3>About Me</h3>
          <p>
            Hi, my name is Bob, and I'm the Web and Applications Developer at
            <a href="http://library.uncw.edu" target="_blank">
              William Randall Library
            </a>
            on the campus of
            <a href="http://uncw.edu" target="_blank">
              The University of North Carolina Wilmington</a>.
              I love being a programmer because I enjoy life long learning,
              and coding often helps me to achieve a wonderful state of
              <a href="https://www.ted.com/talks/mihaly_csikszentmihalyi_on_flow?language=en#t-923984" target="_blank">
                flow</a>.
                <br />
                <br>
                <a href="<%= home %>/about.html">More about me</a>
              </div>

              <div class="home-block home-info">
                <h3>Soft Skills</h3>
                <ul>
                  <li>Customer service orientation</li>
                  <li>Oral and written communications</li>
                  <li>Great team player</li>
                  <li>Mentoring and knowledge sharing</li>
                  <li>Organization</li>
                  <li>Problem solving</li>
                  <li>Online research</li>
                </ul>
              </div>

              <div class="home-block home-info home-info-technical-skills">
                <h3>Technical Skills</h3>
                <div id="php">
                  <h4 class="first">PHP</h4>
                    <a href="https://secure.php.net/" target="_blank">PHP</a><br>
                    <a href="http://laravel.com/" target="_blank">Laravel Framework</a><br>
                    <a href="http://www.yiiframework.com/" target="_blank">YII Framework</a><br>
                    <a href="https://www.drupal.org/" target="_blank">Drupal Module Coding</a><br>
                    <a href="https://wordpress.org/" target="_blank">WordPress Module Coding</a><br>
                </div>

                <div id="javascript">
                  <h4>JavaScript</h4>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a><br>
                    <a href="https://jquery.com/" target="_blank">jQuery</a><br>
                    <a href="http://vuejs.org/" target="_blank">Vue.js</a><br>
                    <a href="https://facebook.github.io/react/" target="_blank">React</a><br>
                    <a href="https://nodejs.org/en/" target="_blank">Node.js</a><br>
                    <a href="https://www.npmjs.com/" target="_blank">Node Package Manager</a><br>
                    <a href="http://expressjs.com/" target="_blank">Express</a><br>
                    <a href="https://developer.mozilla.org/en-US/docs/AJAX" target="_blank">Ajax</a><br>
                </div>

                <div id="database">
                  <h4>Database</h4>
                    <a href="https://en.wikipedia.org/wiki/SQL" target="_blank">SQL</a><br>
                    <a href="https://www.mysql.com/" target="_blank">MySQL</a><br>
                    <a href="http://www.postgresql.org/" target="_blank">PostgreSQL</a><br>
                    <a href="https://www.phpmyadmin.net/" target="_blank">phpMyAdmin</a><br>
                    <a href="http://www.microsoft.com/en-us/" target="_blank">MS Access</a><br>
                </div>

                <div id="front-end">
                  <h4>Front End</h4>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">HTML</a><br>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">CSS</a><br>
                    <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a><br>
                    <a href="http://foundation.zurb.com/" target="_blank">Foundation</a><br>
                    <a href="http://sass-lang.com/" target="_blank">SASS</a><br>
                    <a href="https://developers.google.com/web/fundamentals/design-and-ui/responsive/fundamentals/?hl=en" target="_blank">Responsive Design</a><br>
                    <a href="http://gulpjs.com/" target="_blank">Gulp</a><br>
                    <a href="http://mincss.com/" target="_blank">Min</a><br>
                    <a href="http://purecss.io/" target="_blank">Pure</a><br>
                </div>

                <div id="cms">
                  <h4>Content Management</h4>
                    <a href="https://www.drupal.org/" target="_blank">Drupal</a><br>
                    <a href="https://wordpress.org/" target="_blank">WordPress</a><br>
                    <a href="https://www.joomla.org/" target="_blank">Joomla</a><br>
                </div>

                <div id="static">
                  <h4>Static Sites</h4>
                    <a href="http://harpjs.com/" target="_blank">Harp</a><br>
                    <a href="http://jekyllrb.com/" target="_blank">Jekyll</a><br>
                </div>

                <br>
                <a href="<%= home %>/skills.html"><br>Lots more technical skills</a>
              </div>

            </div>

            <div class="col-md-8">

              <div class="home-block home-info home-featured-project">
                <h3>Featured Personal Project:</h3>
                <h3>Baseball Stats</h3>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <a href="http://baseball.bobhumphrey.org/" target="_blank">
                    <img class="img-responsive" src="images/Baseball-Statistics.jpg">
                    </a>
                  </div>
                </div>
                <div>
                  <h4>Description</h4>
                  <p>
                    <b>Baseball Stats</b> displays the final standings and statistics for the
                    Major Leagues from 1871 to 2012.  Every player is included, from Hank
                    Aaron to Dutch Zwilling, and all 120 franchises are here, from the
                    immortal New York Yankees to the nearly forgotten Brooklyn Tip-Tops.
                    You can find out what year Ted Williams batted .406 while hitting 37
                    home runs (1941), or check out what year the Montreal Expos became the
                    Washington Nationals (2005).
                  </p>
                  <h4>Built With</h4>
                  <p>
                    PHP, Laravel, MySQL, and Bootstrap.
                    The data for the application is from
                    <a href="http://www.seanlahman.com/baseball-archive/statistics/"
                    target="blank">Sean Lahman’s Baseball Database</a>, which is
                    copyright by Sean Lahman and available for use under a Creative
                    Commons Attribution-ShareAlike 3.0 License.
                  </p>
                  <a href="http://baseball.bobhumphrey.org/" target="_blank">See the application</a><br>
                </div>
              </div>

              <div class="home-block home-info">
                <h3>Other Personal Projects</h3>
                <a href="http://artinspiration.bobhumphrey.org/" target="_blank">Art Inspiration</a><br>
                <a href="http://photography.bobhumphrey.org/" target="_blank">Tumblr Photos</a><br>
                <a href="http://unisex.bobhumphrey.org/" target="_blank">Unisex Names</a><br>
                <a href="http://kurebeachvillage.org/" target="_blank">Kure Beach Village</a><br>
                <a href="http://kylehumphrey.com/" target="_blank">Kyle Humphrey Visual Effects</a><br>
                <br>
                <a href="https://gitlab.com/u/Bob_Humphrey"  target="_blank">See my code on GitLab</a>
                <br>
                <br>
                <a href="<%= home %>/work/personal.html">Screen shots and project summaries</a>
              </div>

              <div class="home-block home-info">
                <h3>Work Projects</h3>
                <div class="row">
                  <div class="col-md-6">
                    Bento Box Search<br />
                    Group Study Room Reservations<br />
                    Get It From Randall Library<br />
                    Learning Commons Computer Availability<br />
                    Fund Report for Selectors<br />
                    Library Dashboard<br />
                    Research Strategy<br />
                    Linux Server Administration<br />
                    Instructions Reporting<br />
                    E-resource Administration<br />
                    Drupal Maintenance<br />
                    Information Kiosk Usage<br />
                    Follow Me Tutorials<br />
                    Ebooks Library<br />
                    Special Collections Visitors<br />
                    Oral Histories PDFs<br />
                    TAC Circulation Transactions<br />
                    Watchdog<br />
                    Link Translator<br />
                  </div>
                  <div class="col-md-6">
                    Price List<br />
                    Library Staff Site<br />
                    Overdue Items Search List<br />
                    TAC Inventory Report<br />
                    Information Literacy Website<br />
                    Group Study Room Reservation Statistics<br />
                    Assignment Calculator<br />
                    Virtual Shelf<br />
                    Best Bets<br />
                    Transfers<br />
                    Guides<br />
                    Duplicate Patrons<br />
                    Project Management<br />
                    Equipment Availability<br />
                    Item Status Reports<br />
                    Summon Deletes<br />
                    Interlibrary Loan<br />
                    Ticket Tracking<br />
                  </div>
                </div>
                <br>
                <a href="<%= home %>/work/randall.html">Screen shots and project summaries</a>
              </div>

              <div class="home-block home-info">
                <h3>Work History</h3>
                2011 - Present<br>
                Web and Applications Developer<br>
                <a href="http://library.uncw.edu" target="_blank">
                  William Randall Library
                </a><br>
                <a href="http://uncw.edu" target="_blank">
                  University of North Carolina Wilmington</a><br>
                <br>
                Consultant<br>
                <a href="http://www.nttdata.com/global/en/" target="_blank">Keane Inc. (now NTT Data Corporation)</a><br>
                Boston, MA<br>
                <br>
                Systems Analyst<br>
                <a href="http://yrc.com/" target="_blank">Roadway Express (now YRC Freight)</a><br>
                Akron, OH<br>
              </div>

              <div class="home-block home-info">
                <h3>Education</h3>
                 Associate of Science - Computer Programming<br>
                 <a href="http://www.uakron.edu/" target="_blank">
                The University of Akron</a>
              </div>

            </div>
          </div>





        </div>
      </div>
