<div class="container">
  <div id="projects">

    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/inspiration.jpg" class="img-responsive" alt="art inspiration website">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Art Inspiration</h3>

          <h4>Description</h4>

          <p>I use this application to collect links to my favorite artists' websites.
            Each artist included here creates work that I find beautiful,
            engaging, and inspirational.</p>

            <h4>Built With</h4>

            <p>PHP, Laravel, JavaScript, Vue.js, DropZone.js, MySQL, Bootstrap,
              and the Intervention image manipulation library.</p>
            <br>
            <a href="http://artinspiration.bobhumphrey.org/" target="_blank">Vist the Site</a>
            <br>
            <a href="https://gitlab.com/Bob_Humphrey/art" target="_blank">See the Code</a>
          </div>
        </div>
      </div>

      <div class="project">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <img src="../images/tumblr-photos.jpg" class="img-responsive" alt="tumblr photos website">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h3 class="project-title">Tumblr Photos</h3>

              <h4>Description</h4>

              <p>
                I created this application to see if I could find a wider audience for
                my photography and increase the number of followers of
                <a href="http://bobhumphreyphotography.tumblr.com/" target="_blank">
                my tumblr photography site</a>.
                There are several popular tumblr sites  that showcase the work of
                unknown photographers.  Many of these sites allow you to submit your
                work to them for consideration and possible posting.  I use this
                application to keep track of my submissions to these sites.
              </p>

            <h4>Built With</h4>

              <p>PHP, Laravel, JavaScript, DropZone.js, MySQL, Bootstrap,
              and the Intervention image manipulation library.</p>
              <br>
              <a href="http://photography.bobhumphrey.org/" target="_blank">Vist the Site</a>
              <br>
              <a href="https://gitlab.com/Bob_Humphrey/photography" target="_blank">See the Code</a>
            </div>
          </div>
        </div>

        <div class="project">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <img src="../images/baseball.jpg" class="img-responsive" alt="baseball stats website">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h3 class="project-title">Baseball Stats</h3>

                <h4>Description</h4>
                <p>
                  <b>Baseball Stats</b> displays the final standings and statistics for the
                  Major Leagues from 1871 to 2012.  Every player is included, from Hank
                  Aaron to Dutch Zwilling, and all 120 franchises are here, from the
                  immortal New York Yankees to the nearly forgotten Brooklyn Tip-Tops.
                  You can find out what year Ted Williams batted .406 while hitting 37
                  home runs (1941), or check out what year the Montreal Expos became the
                  Washington Nationals (2005).
                </p>
                <h4>Built With</h4>
                <p>
                  PHP, Laravel, MySQL, and Bootstrap.
                  The data for the application is from
                  <a href="http://www.seanlahman.com/baseball-archive/statistics/"
                  target="blank">Sean Lahman’s Baseball Database</a>, which is
                  copyright by Sean Lahman and available for use under a Creative
                  Commons Attribution-ShareAlike 3.0 License.
                </p>
                <br>
                <a href="http://baseball.bobhumphrey.org/" target="_blank">Vist the Site</a>
                <br>
                <a href="https://gitlab.com/Bob_Humphrey/baseball-stats" target="_blank">See the Code</a>
              </div>
            </div>
          </div>


          <div class="project">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <img src="../images/unisex.jpg" class="img-responsive" alt="unisex names website">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h3 class="project-title">Unisex Names</h3>

                  <h4>Description</h4>
                  <p>This application is an exercise in using the Vue.js development framework.</p>

                  <p>FiveThirtyEight.com crunched 100 years of data from the Social Security
                    Administration to determine that about 3 million Americans have unisex names.
                    A unisex name--acording to their definition--is one that is shared by both
                    sexes, with one sex having at least 33% of all the people with that name.</p>

                  <p>There is additional information on
                    <a href="http://fivethirtyeight.com/features/there-are-922-unisex-names-in-america-is-yours-one-of-them/"
                    target="_blank"> their website</a>.</p>
                  <h4>Built With</h4>
                  <p>PHP, Laravel, JavaScript, Vue.js, MySQL, and Bootstrap.  The data is
                  provided by FiveThirtyEight.com and made available under the
                  <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                  Creative Commons Attribution 4.0 International License</a>.</p>
                  <br>
                  <a href="http://unisex.bobhumphrey.org/" target="_blank">Vist the Site</a>
                  <br>
                  <a href="https://gitlab.com/Bob_Humphrey/" target="_blank">See the Code</a>
                </div>
              </div>
            </div>

            <div class="project">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <img src="../images/kyle.jpg" class="img-responsive" alt="kyle humphrey website">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h3 class="project-title">Kyle Humphrey Visual Effects</h3>

                    <h4>Description</h4>

                    <p>This is the portfolio site I built for my artist son, which has helped him
                    obtain work with Walt Disney Animation, Sony ImageWorks, Reel FX,
                    and other animation and visual effects studios.</p>
                    <h4>Built With</h4>
                    <p>Jekyll and Bootstrap.</p>
                    <br>
                    <a href="http://kylehumphrey.com/" target="_blank">Vist the Site</a>
                    <br>
                    <a href="https://gitlab.com/Bob_Humphrey/kyle" target="_blank">See the Code</a>
                  </div>
                </div>
              </div>

              <div class="project">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <img src="../images/kbv.jpg" class="img-responsive" alt="Kure Beach Village">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <h3 class="project-title">Kure Beach Village</h3>

                      <h4>Description</h4>

                      <p>Website I built and have maintained since 2008 for the homeowners association
                        in the allotment where I live.</p>
                      <h4>Built With</h4>
                      <p>Wordpress and PHP.</p>
                      <br>
                      <a href="http://kurebeachvillage.org/" target="_blank">Vist the Site</a>
                    </div>
                  </div>
                </div>



  </div>
</div>
