<div class="container">

  <div id="projects">

<!--

    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/xxxxx.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">xxxxxxx<h3>

          <h4>Description</h4>

          xxxx

          <h4>Built With</h4>

xxxx

        </div>
      </div>
    </div>


-->

    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/bento.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Bento Box Search<h3>

          <h4>Description</h4>

          <p>
            This is a new version of Randall Library’s search box that looks
            across multiple systems, presenting the top results in separate
            categories on a single page.  This kind of search application has
            proven to be popular at many of the nation’s top academic libraries,
            including UNC Chapel Hill, Duke, Princeton, and Cornell. The name
            has been borrowed from Japanese takeout meals and lunch boxes,
            where each individual item is placed in its own individual
            compartment.
          </p>
          <p>
            Patrons enter search terms in a simple box, and then the application
            makes calls to various sources, including the library catalog,
            Google, and Summon Serial Solutions, a service that provides access
            to scholarly articles, journals, newspapers, and magazines.
          </p>
          <p>
            Multiple Ajax calls are employed to fetch the information behind the
            scenes, and then the results are presented in a way that encourages
            additional searching and deeper exploration.  The application is
            written as a Drupal module so that it integrates seamlessly with the
            rest of the library website.
          </p>
        <p>
          Search results for books, e-books, videos, and music come from Randall
          Library’s own catalog, but we were unable to produce results that
          were an exact match to our other catalog searches.  The reason for
          this is that the catalog software is provided by an outside vendor
          who doesn’t share their proprietary search algorithms.  We solved
          this problem by screen-scraping our own catalog pages, with the payoff
          being consistent results every time.
        </p>

          <h4>Built With</h4>

          PHP, Drupal, JavaScript, jQuery, Ajax, MySQL, phpMyAdmin, HTML, CSS,
          Screen scraping,
          <a href="http://api.summon.serialssolutions.com/" target="_blank">Summon Serial Solutions API</a>,
          <a href="https://developers.google.com/custom-search/" target="_blank">Google Custom Search API</a>

          <br /><br />
          <a href="http://library.uncw.edu/search_randall" target="_blank">Vist the Site</a>
        </div>
      </div>
    </div>


    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/group-study.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Group Study Room Reservations<h3>

          <h4>Description</h4>

          <p>
            Like most academic libraries, Randall Library had a number of rooms
            set aside for groups to get together and study.  But access to these
            rooms was somewhat difficult.  Since they were available on a first
            come, first serve basis, and there was a high demand for these rooms,
            it was very difficult for groups of students to make plans ahead of
            time to secure a quiet, private study space.
          </p>
          <p>
            The library wanted a scheduling application that patrons could use to
            reserve a group study room at a future time.  It had to be so easy to
            use that students could manage the whole process themselves, with
            little to no assistance from the already busy library staff.  The
            application needed to implement library specific rules, such as one
            reservation per day per student, and a two hour maximum time limit.
            It also had to work seamlessly with the rest of the library web site.
          </p>
          <p>
            I created the Room Reservation Drupal module to meet these
            requirements. An easy to use calendar shows students what rooms are
            available on any given day and time.  Clicking an open slot on the
            calendar brings up a simple form that is used to complete the
            reservation.  Confirmation and reminder messages are emailed to the
            student, or sent as a message to the student’s cell phone.  In the
            three years since the application was launched, it has been
            successfully used to make more than 59,000 reservations.
          </p>

          <h4>Built With</h4>

          PHP,Drupal module coding,
          JavaScript, jQuery,
          MySQL, phpMyAdmin,
          HTML, CSS

          <br /><br />
          <a href="http://library.uncw.edu/room_reservations" target="_blank">Vist the site</a>

        </div>
      </div>
    </div>


    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/get-it-from-randall.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Get It From Randall Library<h3>

          <h4>Description</h4>

          <p>
            WorldCat is a large database of library content and services that is
            often used by students and researchers to locate books, music, videos,
            and other items.  When Randall Library switched from WorldCat Local to
            Summon as its primary resource database, we still wanted a way to
            provide support to those patrons who would be continuing to use WorldCat.
          </p>
          <p>
            Our solution was to create a bookmarklet that makes it easier for
            researchers to get copies of materials found with WorldCat from Randall
            Library. If the user is on any WorldCat title page, they can click the
            bookmarklet, and the application will then search Randall Library’s
            catalog to see if the item can be located.
          </p>
          <p>
            If the item is found, the user will be taken to the library’s catalog
            page, which has information on where to locate the item inside the
            library.  If the item is not found, the user is redirected to Randall’s
            interlibrary loan page.  A form is provided to request the item from
            interlibrary loan, but the form is already completely filled out using
            the information that was contained in WorldCat. All the patron has to do
            is submit the form, and then Randall will borrow the item from another
            library and make it available to the user.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          JavaScript, jQuery,
          HTML, CSS

          <br /><br />
          <a href="http://library.uncw.edu/tools_widgets"
            target="_blank">Vist the website</a>

        </div>
      </div>
    </div>


    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/computer-availability.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Learning Commons Computer Availability<h3>

          <h4>Description</h4>

          <p>
            Randall Library maintains 124 PCs for use by students in its Learning
            Commons.  There are a number of challenges associated with this.  How
            do we provide usage statistics to justify the expense of providing this
            equipment?  How do we know when additional hardware needs to be p
            urchased?  How do we direct students to open machines?   How can we
            provide daily maintenance to this equipment in as efficient a manner as
            possible?
          </p>
          <p>
            Using <a href="https://www.lib.ncsu.edu/reports/computer-availability"
            target="_blank">open source software created by North Carolina State
            University</a> and <a href="http://www.labstats.com/" target="_blank">
              proprietary reporting tools purchased from Labstats</a>,
              we were able to create maps and reports showing current and historical
              usage.  However, when Labstats increased their prices for a new version
              of their software, which also required the purchase and maintenance of a
              dedicated server, I was asked to provide a more cost effective in-house
              solution.
            </p>
            <p>
              I was able to build a database of PC usage for each machine and provide
              graphical and table-based reporting for all of our resources on an
              hourly, daily, weekly, and monthly basis.  This information is used to
              demonstrate the service level being provided by the library, as well as
              to plan for future expansion of this service.
            </p>
            <p>
              I also created reports that show machines where no one has logged on or
              logged off during the past 6, 12, and 24 hours.  This information is used
              by our technical staff to quickly identify and resolve computer hardware
              and software problems as soon as they arise.
            </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap,
          <a href="http://api.highcharts.com/highcharts" target="_blank">Highcharts charting API</a>

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/fund-report.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Fund Report<h3>

          <h4>Description</h4>

          <p>
            Collection development at an academic library is a complicated process.
            Materials are acquired at Randall Library for over 40 different
            departments, based in part on requests from faculty, students, and
            librarians.  Budgets are developed on an annual basis, and purchases
            need to be tracked against these budgets.
          </p>
          <p>
            The information for managing this process had been housed in the
            library’s ILS (integrated library system), but not in a way that was
            practical for using and making decisions.   Also, much of this data was
            lost over the course of the accounting cycle once certain fund activity
            reports had been run.
          </p>
          <p>
            This application was built to collect the required information on a
            daily basis and store it in a local database where it would not be
            deleted.  Then reports were built to display the information in a way
            that clarified what items were being purchased, how much money was
            being spent, and what funds were available for future purchases.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap,
          <a href="https://sandbox.iii.com/docs/Content/titlePage.htm" target="_blank">
            Sierra Integrated Library System API
          </a>

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/dashboard.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Library Dashboard<h3>

          <h4>Description</h4>

          <p>
            Librarians (administrators, politicians, and a lot of other people) are
            constantly asking the question:  What value is being provided by the
            academic librarian in the Internet Age?
          </p>
          <p>
            Randall Library, like every other library, knows that it has to make a
            strong case to justify its considerable annual budget.  This is being
            done in a lot of different ways.  One small part of this effort is the
            Library Dashboard.  The dashboard is a visual presentation of the use,
            activity, and resources available in the library.
          </p>
          <p>
            I built the dashboard inside of the library’s Drupal website using PHP
            and the Highcharts JavaScript library.  Where possible, the graphs are
            updated in real time using current data from the library’s various
            database applications.
          </p>

          <h4>Built With</h4>

          PHP, Drupal,
          JavaScript,
          MySQL, phpMyAdmin,
          HTML, CSS,
          <a href="http://www.highcharts.com/">HighCharts API</a>

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/research-strategy.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Research Strategy<h3>

          <h4>Description</h4>

          <p>
            Students come to college with a dependency on the Google search box.
            They’ve spent their entire lives navigating the internet via a keyword
            or two.  Suddenly they are faced with more challenging research
            projects, and how do you help them to develop a more deliberate,
            effective approach to finding information?
          </p>
          <p>
            The Research Strategy application is Randall Library’s attempt to an
            answer this question.  It involves following a series of steps to
            produce a search statement that can be successfully used to locate
            relevant scholarly material.  The process is simple enough to work, but
            complicated enough to be a little difficult to communicate.
          </p>
          <p>
            It originally began as a paper form, but that proved to be confusing to
            use, so I coded a Drupal module with ten screens and lots of buttons to
            navigate through all the various steps and choices.  This too proved
            difficult to teach and learn.  So I then created a single page
            JavaScript application.  Students are no longer bounced from one screen
            to another.  Instead, everything is presented on one page just when it’s
            needed, along with plenty of explanation and support.  The application
            adjusts itself to every keystroke and mouse click, gently guiding the
            student from start to finish.
          </p>

          <h4>Built With</h4>

          JavaScript, React, Ajax,
          HTML, CSS, Bootstrap

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/linux.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Linux Server Administration<h3>

          <h4>Description</h4>

          <p>
            Randall Library had a lot of reasons for wanting to migrate our
            applications from Windows to Linux servers: better performance, better
            security, and campus IT would help with software updates and patches.
            The one thing we didn’t have is any experience with Linux.
          </p>
          <p>
            I volunteered for a pilot project to migrate twenty or so internal
            applications to servers running Red Hat Enterprise Linux 6.  The first
            step was to set up a test server on an old machine that wasn’t being
            used for anything else.  I learned how to install CentOs, Apache, MySQL,
            and PHP, set up the firewall tables and backups, and I then moved all
            the applications over to the new server for testing.  The project went
            well enough that I have since built a second server and migrated another
            set of applications away from Windows.
          </p>

          <h4>Built With</h4>

          Red Hat Linux, CentOS,
          Apache, PHP,
          JavaScript,
          MySQL, phpMyAdmin,
          Bash Scripting,
          WinSCP FTP client,
          PuTTY

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/instructions.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Instructions Reporting<h3>

          <h4>Description</h4>

          <p>
            One of the responsibilities of the Randall Library librarians is to
            provide instruction to university students, faculty, and staff.  This
            application keeps track of all the various details of the classes being
            taught.  The database contains records for over 7,000 sessions, and the
            application includes summary reports by month and by year, broken down
            into all kinds of categories.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/eresource-admin.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">E-resource Administration<h3>

          <h4>Description</h4>

          <p>
            The subject experts and liaison librarians at Randall Library create
            research guides to provide students with an overview of some of the best
            materials available for a given topic.  These guides are created using
            the Drupal content management system, but Drupal does not provide all of
            the functionality required to customize these pages the way our
            librarians wanted.  I wrote the e-resource administration module to add
            the requested new features to what was already available through Drupal.
          </p>

          <h4>Built With</h4>

          PHP, Drupal,
          JavaScript, jQuery,
          MySQL, phpMyAdmin,
          HTML, CSS

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/guide_duplicates.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Drupal Maintenance<h3>

          <h4>Description</h4>

          <p>
            There is always plenty of Drupal maintenance that needs to be done
            at Randall Library.  We normally have between 15 and 20 sites running
            for both patrons and internal library staff.
          </p>
          <p>
            An example of a typical request involved creating a report of information
            resources assigned to two or more research guides.  A sample from
            the report is shown above.  Due to the complex nature of Drupal,
            simple-sounding requests can often be extremely challenging.
            The information required for the report was buried somewhere
            within the database's 270 tables and 3 million plus records,
            and nowhere was there documentation that would help me figure out
            where it was all at.
          </p>
          <p>
            I was also asked to do things like:
            <ul class="normal">
              <li>
                customize interfaces
              </li>
              <li>
                hide sensitive data or prevent data being collected that would
                violate our privacy guidelines
              </li>
              <li>
                fix Drupal bugs
              </li>
              <li>
                make Drupal do what it was never intended to do!
              </li>
            </ul>
          </p>
          <p>
            Of course many changes went way beyond simple reports and customizations.
            For these, I would write custom modules making full use of the
            <a href="https://api.drupal.org/api/drupal" target="_blank">
              Drupal programming API
            </a>
            .
          </p>

          <h4>Built With</h4>

          PHP, Drupal, Yii Framework,
          JavaScript, jQuery,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap

          <br /><br />
          <li><a href="http://library.uncw.edu/" target="_blank">Vist the Randall Library Site</a></li>
          <li><a href="http://library.uncw.edu/cmc/" target="_blank">Vist the CMC Site</a></li>
          <li><a href="http://library.uncw.edu/archives_special/" target="_blank">Vist the Archives and Special Collections Site</a></li>
          <li><a href="http://library.uncw.edu/info_lit/" target="_blank">Vist the Info Lit Site</a></li>
          <li><a href="https://randall3.uncw.edu/applied_learning/" target="_blank">Vist the Applied Learning Site</a></li>
          <li><a href="http://portcitybizinfo.org/" target="_blank">Vist Port City BizInfo</a></li>

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/clickheat.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Information Kiosk Usage<h3>

          <h4>Description</h4>

          <p>
            The library created an electronic information kiosk to help patrons
            find people, places, resources, and events within the
            building.  We wanted to get a better idea if the application was
            being used the way we envisioned.
            <a href="http://www.labsmedia.com/clickheat/index.html"
            target="_blank">ClickHeat</a> was identified as a good open
            source heatmap tool to assist with this.
            The tool creates a set of maps showing where the users are
            clicking on every page of our site.
            It was my job to
            install the software and get it working with our Drupal application.
          </p>

          <h4>Built With</h4>

          Drupal, JavaScript, ClickHeat open source software

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/guide-on-the-side.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Follow Me Tutorials<h3>

          <h4>Description</h4>

          <p>
            This application allows librarians to create guided tutorials
            to help students access and use library, university, and other
            internet resouces.  Based on the open source
            <a href="http://code.library.arizona.edu/" target="_blank">
              Guide on the Side</a> project created by The University of
              Arizona, it displays instructions on one side of a browser
              window and a relevant web page on the other.  Students
              are advised to use the displayed web page to follow along
              with the instructions provided.  I was asked to
              customize the project for use at Randall Library, and to
              document the process so that other staff members could do the
              same.
          </p>

          <h4>Built With</h4>

          JavaScript, HTML,
          Sass, CSS

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/ebooks.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Ebooks Library<h3>

          <h4>Description</h4>

          <p>
            I’ve collected a library of around 150 ebooks that I use for
            learning new skills and as references for performing specific tasks
            and solving problems.   Many of these books I’ve purchased.  The
            rest were provided for free, either by the authors or the
            publishers.  Some of them are posted online by the authors.
            For quick access, I also built a menu page organized by topic, with
            a link to each book.
          </p>

          <h4>Built With</h4>

          PHP, HTML, CSS

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/special-collections.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Special Collections Visitors<h3>

          <h4>Description</h4>

          <p>
            This application keeps a record of visitors to the library’s Special
            Collections Department.  It provides a record of the service being
            provided by this department, as well as information about which
            parts of the collection are being used by researchers.  A similar
            application was also created for the library Archives Department.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap

        </div>
      </div>
    </div>





    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/sc-pdf.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Oral Histories PDFs<h3>

          <h4>Description</h4>

          <p>
            Randall Library staff have been conducting interviews with
            university and southeastern North Carolina residents for the past
            25 years.  This collection of oral histories is available online,
            along with the transcripts from the interviews.   Using the
            dompdf library, I added a new feature that allows researchers to
            dynamically create a PDF document of any transcript.
          </p>

          <h4>Built With</h4>

          PHP, HTML, CSS,
          <a href="https://github.com/dompdf/dompdf" target="_blank">
            Dompdf API
          </a>
        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/tac-circulation-transactions.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">TAC Circulation Transactions<h3>

          <h4>Description</h4>

          <p>
            The TAC desk in Randall Library lends computers, battery chargers,
            headphones, and other technology-related items to students.  This report
            queries the library management system and creates a report that
            is used to help determine inventory requirements and staffing levels
            at different times of the day.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap,
          <a href="http://api.highcharts.com/highcharts" target="_blank">Highcharts charting API</a>,
          <a href="https://sandbox.iii.com/docs/Content/titlePage.htm"
          target="_blank">
          Sierra Integrated Library System API
          </a>

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/watchdog.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Watchdog<h3>

          <h4>Description</h4>

          <p>
            This application is used to find records in the Drupal
            watchdog table.  It provides additional search options
            beyond what is normally available in a Drupal site.
            Watchdog can be used to assist with debugging and finding
            errors in a Drupal application.
          </p>

          <h4>Built With</h4>

          PHP, Drupal, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/link_translator.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Link Translator<h3>

          <h4>Description</h4>

          <p>
            When Randall Library decided to switch providers for its discovery
            service, thousands of links on our website needed to be changed.
            I created a Drupal module that examined every record in our
            database so that each link could be updated.  However, there were
            still many links that were out of our reach that could not be
            changed: on other websites, in student bookmarks, and on class
            syllabi.  For these, I built the Link Translator as another
            Drupal module.  Just paste or type in the old link and an updated
            one is displayed.
          </p>

          <h4>Built With</h4>

          PHP, Drupal,
          JavaScript, jQuery,
          MySQL, phpMyAdmin,
          HTML, CSS

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/price_list.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Price List<h3>

          <h4>Description</h4>

          <p>
            So here’s a task that’s not a lot of fun.  Once a week, someone in
            the library has to find all the books and other materials that
            have been borrowed and are now more than two weeks overdue.  Then
            they have to figure out how much each of these items would cost to
            replace, and enter that information into the library’s computer
            system.  That way, if the item is not returned, the library knows
            how much to charge the patron to replace it.   The first step in
            this process is to find the overdue items, and that’s what the
            Price List application does.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap,
          <a href="https://sandbox.iii.com/docs/Content/titlePage.htm" target="_blank">
            Sierra Integrated Library System API
          </a>

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/staff.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Library Staff Site<h3>

          <h4>Description</h4>

          <p>
            I built the Randall Library Staff site using Drupal 6.  The
            site is used by library personnel to do things like request funds
            for travel or training, respond to internal surveys, and recognize
            coworkers for special work or service.  In 2015 I converted the
            site to Drupal 7.
          </p>

          <h4>Built With</h4>

          PHP, Drupal,
          JavaScript, jQuery,
          MySQL, phpMyAdmin,
          HTML, CSS

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/overdue_search_list.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Overdue Items Search List<h3>

          <h4>Description</h4>

          <p>
            This report shows, for any range of dates, a list of borrowed
            items that should have been returned to the library, but were not.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap,
          <a href="https://sandbox.iii.com/docs/Content/titlePage.htm" target="_blank">
            Sierra Integrated Library System API
          </a>

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/tac-inventory-report.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">TAC Inventory Report<h3>

          <h4>Description</h4>

          <p>
            The TAC desk in Randall Library lends computers, battery chargers,
            headphones, and other technology-related items to students.  This
            application helps them manage their inventory.  It queries the
            library management system and provides the current status of any
            single item or any group of items.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap,
          <a href="https://sandbox.iii.com/docs/Content/titlePage.htm" target="_blank">
            Sierra Integrated Library System API
          </a>

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/info-lit.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Information Literacy Website<h3>

          <h4>Description</h4>

          Responsive Design, Drupal,
          JavaScript, jQuery,
          HTML, CSS, Sass

          <h4>Built With</h4>

          <p>
            Information Literacy is the ability to locate,
            evaluate, and use information effectively.  This site was created
            to help students, faculty, and librarians learn these skills.
            My contribution was to modify the theme to create Randall
            Library's first responsive website.
          </p>

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/group-study-statistics.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Group Study Room Reservation Statistics<h3>

          <h4>Description</h4>

          <p>
            This report contains various statistic related to the usage of the
            library's group study rooms.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/assignment-calculator.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Assignment Calculator<h3>

          <h4>Description</h4>

          <p>
            The Assignment Calculator is open source software created by
            <a href="https://www.lib.umn.edu/apps/ac/" target="_blank">
              The University of Minnesota Libraries
            </a>
            to help students budget
            their time when working on complicated projects.  The student
            provides a due date, and the calculator breaks the assignment
            into a series of steps, each with its own completion date.  I
            added additional customization requested by Randall Library,
            including the ability to use multiple kinds of project templates
            within the application for different types of assignments.
          </p>

          <h4>Built With</h4>

          PHP,
          MySQL, phpMyAdmin,
          HTML, CSS

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/virtual-shelf.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Virtual Shelf<h3>

          <h4>Description</h4>

          <p>
            This project creates a local database of library inventory,
            indexed by call number.  It involves downloading a million plus
            records from
            <a href="https://www.iii.com/products/sierra" target="_blank">
              Sierra
            </a>
            , the library's resource management server hosted by
            <a href="https://www.iii.com/" target="_blank">
              Innovative Interfaces Inc
            </a>
            , using the API provided by the vendor.
            Since transactions with Sierra timeout after several thousand
            records have been received, this process has been built as a series
            of batch jobs that repeat every five minutes beginning at 1 in
            the morning.  The project includes online reports for monitoring
            the batch jobs and viewing the resulting data.  It is the
            foundation for a number of new applications to be built using this
            data.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap,
          <a href="https://sandbox.iii.com/docs/Content/titlePage.htm" target="_blank">
            Sierra Integrated Library System API
          </a>

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/best-bets.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Best Bets<h3>

          <h4>Description</h4>

          <p>
            Best Bets is a data entry app that allows
            library staff to key in popular terms and resources that
            are often searched for by students. This information will be used
            to improve the library's
            <a href="http://library.uncw.edu/search_randall" target="_blank">
              Bento Box search
            </a>.
          </p>

          <h4>Built With</h4>

          PHP, Drupal, Yii Framework,
          JavaScript, jQuery,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/transfers.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Transfers<h3>

          <h4>Description</h4>

          <p>
            From time to time, library patrons borrow books and movies and
            CDs--and then they never return them.  You get fines and penalties
            for doing this, of course, along with having to pay the replacement
            cost for the lost items, but all too often none of these get paid
            either.  So once a month, we run the transfers application.  It searches through the library records and finds
            patrons who have had outstanding fines for a long period of time.
            It then transfers these fines to their university account.  Once
            that happens, students are unable to sign up for classes or
            graduate until their fees have been paid.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          JavaScript, jQuery,
          MySQL, phpMyAdmin,
          HTML, CSS,
          Bootstrap,
          <a href="https://sandbox.iii.com/docs/Content/titlePage.htm" target="_blank">
            Sierra Integrated Library System API
          </a>

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/guides.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Guides<h3>

          <h4>Description</h4>

          <p>
            Randall Library librarians create subject guides that include some
            of the best research resources on various topics.  The last time
            I counted, there were almost 250 of these guides.  We created the
            Guides website with the Drupal Content Management System to make it
            easy for the librarians to put these together.  My boss built the
            site using a number of Drupal modules.  I added custom programming
            to solve problems and add additional features.  My list of tasks
            included things like:  hide global description if custom
            description exists, remove the option to save the guide as a new
            default, make proxied links clickable, figure out why the chat
            widgets are crashing.
          </p>

          <h4>Built With</h4>

          PHP, Drupal,
          MySQL, phpMyAdmin,
          HTML, CSS

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/duplicate-patrons.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Duplicate Patrons<h3>

          <h4>Description</h4>

          <p>
            Sometimes patrons get set up twice in the integrated library
            system by mistake.  When this occurs, a lot of bad things happen.
            This application searches the database and finds these duplicates,
            so that the records can be corrected and numerous problems can
            be prevented.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS, Bootstrap,
          <a href="https://sandbox.iii.com/docs/Content/titlePage.htm" target="_blank">
            Sierra Integrated Library System API
          </a>

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/project-management.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Project Management<h3>

          <h4>Description</h4>

          <p>
            In the library systems department, we use
            <a href="https://asana.com"  target="blank">Asana</a> to manage
            our projects.  It’s free for small teams, and it makes it very
            easy to assign tasks and track their status and completion.  I
            used the Asana API to create additional reports that are not
            available through the standard user interface.  For example,
            before my performance review at the end of the year, I would run
            a custom report of everything I accomplished during the previous
            twelve months.  The Asana API can be slow to run, returning only a
            small number of records for each request.  So I built a batch job
            that runs every evening.  It fetches all the records and loads
            them into a local database.  Then, whenever a report is needed, it
            is available instantly.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS,
          Bootstrap,
          <a href="https://asana.com/developers/api-reference/attachments" target="_blank">
            Asana API
          </a>

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/borrow-from-tac.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">TAC Equipment Availability<h3>

          <h4>Description</h4>

          <p>
            Randall Library makes a variety of computers available to help
            students with their studies, including desktop and laptop PCs and
            Macs.  The Computer & Laptop Availability Map shows the location
            of the desktop machines along with their availability status.  But
            we also wanted to show how many laptops were available to be
            borrowed.  That information, like just about everything else in
            the library, was stored in the Sierra integrated library system,
            in a vendor’s database that would not normally be available to the
            library’s Drupal website.  To bridge this gap, I created a Node.JS
            application that took a request from the Drupal site and made a
            call out to the vendor’s database.  It then returned the requested
            information—a count of the available laptop computers—and returned
            that information to Drupal so that it could be displayed in the
            library’s website.  The same Node.JS application is called by a
            number of other applications running throughout the library to
            display this availability information on monitors to the students.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS,
          Node.js,
          <a href="https://sandbox.iii.com/docs/Content/titlePage.htm" target="_blank">
            Sierra Integrated Library System API
          </a>

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/item-status-reports.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Item Status Reports<h3>

          <h4>Description</h4>

          <p>
            Everything you need to run an academic library is stored in the
            library’s ILS—the integrated library system.  Whenever materials
            are added to the collection or borrowed or returned, the
            transactions are captured in the ILS.  It’s very easy to get
            information into the system, but getting information back out is
            often another matter.  Reports can be run, but creating them can
            be a slow and time-consuming chore.  That’s why the Item Status
            Report was created.   It takes some of the most commonly requested
            reports and automates them so that they can be run with a couple
            quick choices and the click of a button.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS,
          Bootstrap,
          <a href="https://sandbox.iii.com/docs/Content/titlePage.htm" target="_blank">
            Sierra Integrated Library System API
          </a>

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/summon-deletes.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Summon Deletes<h3>

          <h4>Description</h4>

          <p>
            Whenever the library removes items from its collections, this
            information needs to be sent to the vendor that handles the
            library discovery service, so that students and researchers don’t
            think we have items that we actually do not.  This application finds the
            deleted items and sends an update to our vendor.
          </p>

          <h4>Built With</h4>

          PHP, Yii Framework,
          MySQL, phpMyAdmin,
          HTML, CSS,
          Bootstrap,
          <a href="https://sandbox.iii.com/docs/Content/titlePage.htm" target="_blank">
            Sierra Integrated Library System API
          </a>

        </div>
      </div>
    </div>




    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/interlibrary-loan.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Interlibrary Loan<h3>

          <h4>Description</h4>

          <p>
            The library’s interlibrary loan form was a mess.  It had way too
            many fields because it needed different information depending on
            the type of patron using the form: faculty, staff, graduate student,
            undergraduate student, or distance (online) student.  I added
            JavaScript code to hide and reveal the fields that were
            appropriate to each type of user.
          </p>

          <h4>Built With</h4>

          PHP,
          JavaScript, jQuery,
          HTML, CSS

        </div>
      </div>
    </div>



    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../images/ticket-tracking.jpg" class="img-responsive" alt="website example">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="project-title">Ticket Tracking<h3>

          <h4>Description</h4>

          <p>
            The library systems department uses the open source
            <a href="http://osticket.com/" target="_blank">osTicket</a>
            application to track user problems and change requests.  I
            migrated the library’s software from an older version to the
            current one and reapplied lots of customizations that had
            previously been made.  I also added new customizations as
            requested, including things like letting users create tickets by
            submitting an email rather than filling out a form.
          </p>

          <h4>Built With</h4>

          PHP,
          MySQL, phpMyAdmin,
          HTML, CSS

        </div>
      </div>
    </div>







</div>  <!-- end of projects -->
