
<div class="container">

<div class="all-resources-contents">

  <div class="row">

    <div class="col-md-4">
      <ul>
        <li>
          <a href="#articles">Articles</a>
        </li>
        <li>
          <a href="#body-and-soul">Body and Soul</a>
        </li>
        <li>
          <a href="#code">Code Libraries</a>
        </li>
        <li>
          <a href="#front-end">Front End</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <ul>
        <li>
          <a href="#laravel">Laravel</a>
        </li>
        <li>
          <a href="#news-and-blogs">News and Blogs</a>
        </li>
        <li>
          <a href="#php">PHP</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <ul>
        <li>
          <a href="#reference">Reference</a>
        </li>
        <li>
          <a href="#tools-heading">Tools</a>
        </li>
        <li>
          <a href="#vue-js">Vue.js</a>
        </li>
      </ul>
    </div>

  </div>

</div>









<h2 id="articles">Articles</h2>

<div class="row">

<div class="col-md-4">
  <div id="links" class="sidebar">
    <ul>
      <li>
        <a href="#better-web">Better Web</a>
      </li>
      <li>
        <a href="#better-world">Better World</a>
      </li>
      <li>
        <a href="#career">Career Management</a>
      </li>
      <li>
        <a href="#lifelong">Lifelong Learning</a>
      </li>
      <li>
        <a href="#mental">Mental Health</a>
      </li>
      <li>
        <a href="#programmers">Programmers</a>
      </li>
      <li>
        <a href="#programming">Programming</a>
      </li>
      <li>
        <a href="#project">Project Management</a>
      </li>
      <li>
        <a href="#working">Working Remotely</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-7 col-md-offset-1">

  <a href="https://medium.com/@jkriss/anti-capitalist-human-scale-software-and-why-it-matters-5936a372b9d#.bga3ditae" target="_blank">
    Anti-capitalist human scale software (and why it matters)</a> - Jesse Kriss<br>
  <a href="http://exilelifestyle.com/big-picturing/" target="_blank">
    Big Picturing</a> - Colin Wright<br>
  <a href="http://classicprogrammerpaintings.com/" target="_blank">
    Classic programmer paintings</a><br>
  <a href="http://fusion.net/story/325231/google-deletes-dennis-cooper-blog/" target="_blank">
    Google deletes artist’s blog and a decade of his work along with it</a><br>
  <a href="http://www.theverge.com/2016/2/17/11030406/neverware-google-chromebook-chromium-os-education-microsoft" target="_blank">
    How schools are turning dead PCs into speedy Chromebooks</a><br>
  <a href="https://medium.freecodecamp.com/2-out-of-3-developers-are-self-taught-and-other-insights-from-stack-overflow-s-2016-survey-of-50-8cf0ee5d4c21#.df7gm7rvs" target="_blank">
    Insights from Stack Overflow’s 2016 survey of 50,000 developers</a><br>
  <a href="http://www.2ality.com/2016/02/js-fatigue-fatigue.html" target="_blank">
    JavaScript fatigue fatigue</a> - Dr. Axel Rauschmayer<br>
  <a href="http://www.sitepoint.com/javascript-tooling-anxiety-help/" target="_blank">
    JavaScript Tooling Anxiety — Help Is at Hand</a><br>
  <a href="https://medium.com/@billjordan1/the-quiet-crisis-unfolding-in-software-development-cffbdafbf450#.zd4jeouk4" target="_blank">
    Quiet Crisis unfolding in Software Development</a><br>
  <a href="http://www.bloomberg.com/graphics/2015-paul-ford-what-is-code/" target="_blank">
    What Is Code?</a> - Paul Ford<br>

  <h3 id="better-web">Better Web</h3>
  <a href="https://blog.blockstack.org/" target="_blank">
    blockstack blog</a><br>
  <a href="https://cryptech.is/" target="_blank">
    CrypTech</a><br>
  <a href="http://www.decentralizedweb.net/" target="_blank">
    Decentralized Web Summit</a><br>
  <a href="http://www.svds.com/ethereum-the-rise-of-the-world-computer/#.Vs3MJboMMl0.facebook" target="_blank">
    Ethereum: Rise of the World Computer</a><br>
  <a href="http://spectrum.ieee.org/view-from-the-valley/telecom/internet/the-fathers-of-the-internet-revolution-urge-todays-pioneers-to-reinvent-the-web" target="_blank">
    Fathers of the Internet Revolution Urge Today’s Software Engineers to Reinvent the Web</a><br>
  <a href="http://elaineou.com/2016/07/18/stick-a-fork-in-ethereum/" target="_blank">
    Stick a Fork in Ethereum</a><br>
  <a href="http://www.nytimes.com/2016/06/08/technology/the-webs-creator-looks-to-reinvent-it.html?_r=0" target="_blank">
    Web’s Creator Looks to Reinvent It</a><br>
  <a href="https://zeronet.io/" target="_blank">
    Zero Net</a><br>

  <h3 id="better-world">Better World</h3>
  <a href="https://drive.google.com/file/d/0B2vDBY9AHUjQN0tJYXlLUmtJUVE/view?pref=2&pli=1" target="_blank">
    A Guide for White Allies Confronting Racial Injustice</a><br>
  <a href="https://www.facebook.com/notes/arnold-schwarzenegger/i-dont-give-a-if-we-agree-about-climate-change/10153855713574658" target="_blank">
    I Don't Give a **** If We Agree About Climate Change</a> - Arnold Schwarzenegger<br>
  <a href="http://www.womenhackfornonprofits.com/" target="_blank">
    Women Hack for Non-Profits</a><br>

  <h3 id="career">Career Management</h3>
  <a href="https://www.microsoft.com/en-gb/developers/articles/week02may16/10-top-developer-portfolios/" target="_blank">
    10 top developer portfolios</a><br>
  <a href="https://80000hours.org/career-guide/how-to-get-a-job/" target="_blank">
    All the best advice we could find on how to get a job</a><br>
  <a href="https://medium.com/@akosma/being-a-developer-after-40-3c5dd112210c#.fibdm46rb" target="_blank">
    Being A Developer After 40</a><br>
  <a href="http://haseebq.com/how-to-break-into-tech-job-hunting-and-interviews/" target="_blank">
    How to Break Into the Tech Industry—a Guide to Job Hunting and Tech Interviews</a><br>
  <a href="https://news.ycombinator.com/item?id=11449133" target="_blank">
    How to detect a toxic environment when interviewing</a><br>
  <a href="https://features.wearemel.com/ill-retire-when-i-m-dead-why-continuing-to-work-is-good-for-a-man-s-health-c3053052d136#.mxmlux3tn" target="_blank">
    I’ll Retire When I’m Dead: Why Continuing to Work Is Good for a Man’s Health</a><br>
  <a href="https://gitlab.com/doctorj/interview-questions" target="_blank">
    Questions to Ask a Potential Tech Employer</a><br>
  <a href="https://medium.com/javascript-scene/tech-hiring-has-always-been-broken-heres-how-i-survived-it-for-decades-b7ac33088de6#.r38q1hnvy" target="_blank">
    Tech Hiring Has Always Been Broken. Here’s How I Survived it for Decades.</a> - Eric Elliott<br>
  <a href="https://medium.com/life-learning/why-quitting-your-job-to-chase-your-dream-is-a-terrible-idea-a3269e281eda#.ibpilu895" target="_blank">
    Why Quitting Your Job to Chase Your Dream Is a Terrible Idea</a><br>
  <a href="https://medium.freecodecamp.com/the-tech-recruiter-red-pill-967dd492560c#.wsiai0h9y" target="_blank">
    Why so many developers hate recruiters</a><br>
  <a href="https://medium.freecodecamp.com/you-in-6-seconds-how-to-write-a-r%C3%A9sum%C3%A9-that-employers-will-actually-read-fd7757740802#.10svolj40" target="_blank">
    You in 6 seconds: how to write a résumé that employers will actually read</a><br>
  <a href="http://seldo.com/weblog/2014/08/26/you_suck_at_technical_interviews" target="_blank">
    You suck at technical interviews</a><br>

  <h3 id="lifelong">Lifelong Learning</h3>
  <a href="http://www.johnmorrisonline.com/fridays-off-best-way-become-full-time-developer/" target="_blank">
    The best way to become a full-time developer</a><br>
  <a href="http://akaptur.com/blog/2015/10/10/effective-learning-strategies-for-programmers/" target="_blank">
    Effective Learning Strategies for Programmers</a> - Allison Kaptur<br>
  <a href="https://timkadlec.com/2015/09/the-fallacy-of-keeping-up/" target="_blank">
    The Fallacy of Keeping Up</a> - Tim Kadlec<br>
  <a href="http://www.larryullman.com/2012/12/19/how-to-become-a-web-developer-resources/?utm_source=feedburner&utm_medium=twitter&utm_campaign=Feed%3A+larryullman%2FbMsj+%28Larry+Ullman%29&utm_content=FaceBook" target="_blank">
    How to Become a Web Developer</a> - Larry Ullman<br>
  <a href="https://medium.freecodecamp.com/the-practical-guide-to-becoming-a-professional-web-developer-2f255bc25c90#.tiyfctbgk" target="_blank">
    Practical Guide to Becoming a Professional Web Developer</a><br>
  <a href="https://medium.com/@djsmith42/what-web-framework-should-i-learn-a9285925ca1f#.fmed7ev7b" target="_blank">
    What web framework should I learn?</a> - Dave Smith<br>
  <a href="https://medium.com/the-mission/why-constant-learners-all-embrace-the-5-hour-rule-8836f554da1#.na32hwd3p" target="_blank">
    Why Constant Learners All Embrace the 5-Hour Rule</a><br>

  <h3 id="mental">Mental Health</h3>
  <a href="https://www.ted.com/talks/mihaly_csikszentmihalyi_on_flow?language=en#t-923984" target="_blank">
    Flow, the secret to happiness</a> - Mihaly Csikszentmihalyi<br>
  <a href="https://www.youtube.com/watch?v=wtrF5C7Gv7E&index=9&list=PLMdXHJK-lGoA9SIsuFy0UWL8PZD1G3YFZ" target="_blank">
    Impostor Syndrome and Individual Competence</a> - Jessica Rose<br>
  <a href="http://randsinrepose.com/archives/shields-down/" target="_blank">
    Shields Down - Happy People Don't Leave Jobs They Love</a> - Michael Lopp<br>
  <a href="https://www.youtube.com/watch?v=0DFh5n8VeBo" target="_blank">
    Stronger Than Fear: Mental Health in the Developer Community</a> - Ed Finkler<br>
  <a href="http://www.belenalbeza.com/top-developers-can-have-a-life-outside-coding/" target="_blank">
    Top developers can have a life outside coding</a><br>

  <h3 id="programmers">Programmers</h3>
  <a href="https://medium.com/art-marketing/being-a-female-developer-6f0dd6692598#.e4sijiay5" target="_blank">
    Being a female developer</a> - Sanni Yettie<br>
  <a href="https://www.theguardian.com/world/2016/jul/26/code-club-senegal-where-women-lead-the-way" target="_blank">
    Code club Senegal, where women are leading the way</a><br>
  <a href="https://medium.com/@Svenskunganka/interviewing-my-mother-a-mainframe-cobol-programmer-c693d40d88f7#.1d33f9blq" target="_blank">
    Interviewing my mother, a mainframe COBOL programmer</a><br>
  <a href="http://www.asahi-net.or.jp/~cs8k-cyu/blog/2014/12/12/games-in-2014/" target="_blank">
    I Have Created 50 Games in 2014</a><br>
  <a href="https://medium.com/code-like-a-girl/i-teach-seniors-how-to-use-technology-b9e4788d8ce7#.uf5bmhvqq" target="_blank">
    I Teach Seniors How to Use Technology</a><br>
  <a href="http://www.theguardian.com/culture/2015/nov/16/nina-freeman-punk-poet-game-designer-cibele-interview" target="_blank">
    Meet Nina Freeman, the punk poet of gaming</a> - Keith Stuart<br>
  <a href="http://www.theguardian.com/commentisfree/2016/mar/07/secret-life-games-programmer" target="_blank">
    Secret Life of a Games Programmer</a><br>

  <h3 id="programming">Programming</h3>
  <a href="https://medium.com/statuscode/7-sites-to-help-you-relax-and-focus-whilst-programming-16057afe90da#.od3qdqqzc" target="_blank">
    7 Sites To Help You Focus While Programming</a><br>
  <a href="http://classicprogrammerpaintings.com/" target="_blank">
    Classic programmer paintings</a><br>
  <a href="https://www.exceptionnotfound.net/code-is-never-perfect-code-is-only-ever-good-enough/" target="_blank">
    Code Is Never "Perfect", Code Is Only Ever "Good Enough"</a><br>
  <a href="http://www.programmingforbeginnersbook.com/blog/friction_between_programming_professionals_and_beginners/" target="_blank">
    Friction Between Programming Professionals and Beginners</a> - Tom  Dalling<br>
  <a href="http://iansommerville.com/systems-software-and-technology/giving-up-on-test-first-development/" target="_blank">
    Giving up on test-first development</a> - Ian Sommerville<br>
  <a href="http://henrikwarne.com/2015/04/16/lessons-learned-in-software-development/" target="_blank">
    Lessons Learned in Software Development</a> - Henrik Warne<br>
  <a href="https://medium.freecodecamp.com/one-does-not-simply-learn-to-code-f25bacdc5b62#.owrwfohr2" target="_blank">
    One does not simply learn to code</a><br>
  <a href="http://www.theatlantic.com/technology/archive/2015/11/programmers-should-not-call-themselves-engineers/414271/" target="_blank">
    Programmers: Stop Calling Yourselves Engineers</a> - Ian Bogost<br>
  <a href="http://lwn.net/Articles/641779/" target="_blank">
    Programming talent myth</a> - Jake Edge<br>
  <a href="http://thetomorrowlab.com/2015/01/why-developers-hate-being-interrupted/" target="_blank">
    Why developers hate being interrupted</a> - Derek Johnson<br>
  <a href="http://joearms.github.io/2014/02/07/why-programming-is-difficult.html" target="_blank">
    Why Programming Is Difficult</a> - Joe Armstrong<br>
  <a href="http://chrismm.com/blog/how-to-reduce-the-cognitive-load-of-your-code/" target="_blank">
    Writing good code: how to reduce cognitive load</a><br>

  <h3 id="project">Project Management</h3>
  <a href="http://alistapart.com/blog/post/pinpointing-expectations" target="_blank">
    Pinpointing Expectations</a><br>
    <a href="http://chrismm.com/blog/software-estimations-are-impossible/" target="_blank">
      Project delays: why good software estimates are impossible</a> - Christian M. Mackeprang<br>
  <a href="http://alistapart.com/blog/post/show-your-work-demonstrating-progress-on-your-projects" target="_blank">
    Show Your Work</a><br>

  <h3 id="working">Working Remotely</h3>
  <a href="https://m.signalvnoise.com/why-i-work-remotely-hint-it-has-nothing-to-do-with-productivity-34ace30f74fc#.5sl95yot8" target="_blank">
    Why I Work Remotely</a> - Jason Zimdars<br>
  <a href="http://www.psmag.com/business-economics/office-youre-already-dead-to-me-leave-us-alone-gawd" target="_blank">
    Why the Future of Work Is at Home</a> - Alana Massey<br>

</div>

</div><br><br><br><br><br>  <!--row-->








<h2 id="body-and-soul">Body and Soul</h2>

<div class="row">

<div class="col-md-7 col-md-offset-5">
  <a href="http://www.bloombergview.com/articles/2016-05-02/a-basic-income-should-be-the-next-big-thing" target="_blank">
    A Basic Income Should Be the Next Big Thing</a><br>
  <a href="http://www.theatlantic.com/business/archive/2016/04/absurd-primacy-of-the-car-in-american-life/476346/?single_page=true" target="_blank">
    Absurd Primacy of the Automobile in American Life</a><br>
  <a href="http://zenhabits.net/true-way/" target="_blank">
    Avoid the Tendency to Think Your Way is the True Way</a> - Leo Babauta<br>
  <a href="http://well.blogs.nytimes.com/2015/11/18/brawn-and-brains/?_r=0" target="_blank">
    Brawn and Brains</a> - Gretchen Reynolds<br>
  <a href="http://www.theatlantic.com/health/archive/2016/03/can-three-words-turn-anxiety-into-success/474909/?single_page=true77777777777777" target="_blank">
    Can Three Words Turn Anxiety Into Success?</a><br>
  <a href="http://taylorpearson.me/change-your-location-change-your-life/" target="_blank">
    Change Your Location. Change Your Life.</a><br>
  <a href="https://www.youtube.com/watch?v=Ouxj5ZFg_BM" target="_blank">
    Evolution's End</a> - Peter Russell<br>
  <a href="http://www.theawl.com/2016/05/the-experts-speak-its-good-to-be-wrong" target="_blank">
    Experts Have Spoken</a><br>
  <a href="https://medium.com/@thatdavidhopkins/how-a-tv-sitcom-triggered-the-downfall-of-western-civilization-336e8ccf7dd0#.x44ps2tp3" target="_blank">
    How a TV Sitcom Triggered the Downfall of Western Civilization</a><br>
  <a href="http://slatestarcodex.com/2015/12/24/how-bad-are-things/" target="_blank">
    How Bad Are Things?</a> - Scott Alexander<br>
  <a href="https://www.washingtonpost.com/news/wonk/wp/2015/10/19/how-to-act-less-stupid-according-to-psychologists/" target="_blank">
    How to act less stupid, according to psychologists</a> - Roberto A. Ferdman<br>
  <a href="https://crew.co/backstage/blog/isolation-and-creativity" target="_blank">
    Is solitude the secret to unlocking our creativity?</a><br>
  <a href="https://medium.com/@Dissident/the-list-of-books-men-must-read-before-messaging-me-about-feminism-3894594bf311#.6vi3i8vdr" target="_blank">
    List of Books Men Must Read Before Messaging Me About Feminism</a><br>
  <a href="http://www.nytimes.com/2015/04/21/upshot/simple-rules-for-healthy-eating.html" target="_blank">
    Simple Rules for Healthy Eating</a><br>
  <a href="https://www.chenhuijing.com/blog/healthier-dev/" target="_blank">
    Strategies for Healthier Dev</a><br>
  <a href="http://www.quietrev.com/the-surprising-benefits-of-a-quiet-ego/" target="_blank">
    Surprising Benefits of a Quiet Ego</a> - Scott Barry Kaufman<br>
  <a href="http://www.soundstrue.com/store/weeklywisdom?page=single&category=IATE&episode=11533&utm_source=bronto&utm_medium=email&utm_term=%E2%80%9CStanding+for+the+Spiritual+in+a+Secular+World.%E2%80%9D&utm_content=Standing+for+the+Spiritual+in+a+Secular+World&utm_campaign=TS160411-Moore&_bta_tid=3.RM0.A4Ysfg.BFPu.e4LB..AMlOTA.b..s.AIdZ.n...IrziKg&_bta_c=f1xr5brnnurzsw5cqgze4yol9rc7t" target="_blank">
    Thomas Moore: Standing for the Spiritual, in a Secular World</a><br>
  <a href="http://www.huffingtonpost.com/jamie-varon/to-anyone-who-thinks-theyre-falling-behind_b_9190758.html" target="_blank">
    To Anyone Who Thinks They're Falling Behind In Life</a> - Jamie Varon<br>
  <a href="http://www.theatlantic.com/business/archive/2016/06/would-a-world-without-work-be-so-bad/488711/" target="_blank">
    Would a Work-Free World Be So Bad?</a><br>
  <a href="http://www.theguardian.com/lifeandstyle/2016/apr/24/why-are-we-so-bored" target="_blank">
    Why are we so bored?</a><br>
  <a href="http://www.nytimes.com/2015/11/22/opinion/why-cool-is-still-cool.html?_r=1" target="_blank">
    Why ‘Cool’ Is Still Cool</a> - Jonah Berger<br>
  <a href="https://robindoherty.com/2016/01/06/nothing-to-hide.html" target="_blank">
    Why privacy is important, and having "nothing to hide" is irrelevant</a> - Robin Doherty<br>
  <a href="http://blogs.scientificamerican.com/guest-blog/you-can-increase-your-intelligence-5-ways-to-maximize-your-cognitive-potential/" target="_blank">
    You can increase your intelligence: 5 ways to maximize your cognitive potential</a><br>
</div>

</div><br><br><br><br><br>  <!--row-->






<h2 id="code">Code Libraries</h2>

<div class="row">

<div class="col-md-4">
  <div id="links" class="sidebar">
    <ul>
      <li>
        <a href="#lists">Lists</a>
      </li>
    </ul>
  </div>
</div>




<div class="col-md-7 col-md-offset-1">
  <a href="https://daneden.github.io/animate.css/" target="_blank">Animate.css</a> - animation<br>
  <a href="http://bootstraptour.com/" target="_blank">Bootstrap Tour</a> - tour / instructions overlay<br>
  <a href="http://carbon.nesbot.com/" target="_blank">Carbon</a> - dates<br>
  <a href="https://github.com/bevacqua/dragula/blob/master/readme.markdown" target="_blank">
    Dragula </a> - drag and drop<br>
  <a href="http://www.dropzonejs.com/" target="_blank">DropzoneJS</a> - drag’n’drop file uploads with image previews<br>
  <a href="http://image.intervention.io/" target="_blank">Intervention Image</a> - image handling and manipulation<br>
  <a href="http://raveren.github.io/kint/" target="_blank">Kint</a> - PHP Debugging Helper<br>
  <a href="http://plugins.krajee.com/" target="_blank">Krajee</a> - jQuery widget plugins for Bootstrap<br>
  <a href="http://lavacharts.com/" target="_blank">Lavacharts</a> - charts and graphs for PHP bassed on the Google Chart API<br>
  <a href="http://mern.io/" target="_blank">MERN</a> - MongoDB, Express, React, and Node scaffolding tool<br>
  <a href="http://mojs.io/" target="_blank">MoJs</a> - animation<br>
  <a href="https://github.com/PHPMailer/PHPMailer" target="_blank">PHPMailer</a> - email sending library<br>
  <a href="https://phpunit.de/" target="_blank">PHPUnit</a> - testing framework<br>
  <a href="https://github.com/PHPOffice/PHPWord" target="_blank">PHPWord</a> - create Word docs from PHP<br>
  <a href="https://phpword.readthedocs.org/en/latest/index.html" target="_blank">PHPWord Documentation</a><br>
  <a href="http://www.seleniumhq.org/projects/remote-control/" target="_blank">Selenium</a> - write automated web application UI tests<br>
  <a href="https://github.com/nuovo/spreadsheet-reader" target="_blank">spreadsheet-reader</a> - PHP spreadsheet reader<br>
  <a href="http://statetable.com/" target="_blank">statetable.com</a> - table of states and provinces<br>
  <a href="http://timeline.knightlab.com/" target="_blank">Timeline.js</a> - timeline builder<br>
  <a href="https://trix-editor.org/" target="_blank">Trix</a> - rich text editor from Basecamp<br>
  <a href="https://vega.github.io/vega-lite/" target="_blank">Vega-Lite</a> - visualization grammar<br>
  <a href="http://fengyuanchen.github.io/viewerjs/" target="_blank">Viewer.js</a> - image viewer<br>

  <h3 id="lists">Lists</h3>
  <a href="http://thephpleague.com/" target="_blank">The League of Extraordinary Packages</a><br>
  <a href="http://bleech.io/" target="_blank">Tech inspiration for creatives</a><br>

</div>

</div><br><br><br><br><br>  <!--row-->








<h2 id="front-end">Front End</h2>

<div class="row">

<div class="col-md-4">
  <div id="links" class="sidebar">
    <ul>
      <li>
        <a href="#animation">Animation</a>
      </li>
      <li>
        <a href="#carousel">Carousel</a>
      </li>
      <li>
        <a href="#charts">Charts</a>
      </li>
      <li>
        <a href="#color">Color</a>
      </li>
      <li>
        <a href="#components">Components</a>
      </li>
      <li>
        <a href="#css">CSS</a>
      </li>
      <li>
        <a href="#css-grid">CSS Grid Layout</a>
      </li>
      <li>
        <a href="#flexbox">Flexbox</a>
      </li>
      <li>
        <a href="#fonts">Fonts</a>
      </li>
      <li>
        <a href="#frameworks">Frameworks</a>
      </li>
      <li>
        <a href="#graphics">Graphics</a>
      </li>
      <li>
        <a href="#html">HTML</a>
      </li>
      <li>
        <a href="#images">Images</a>
      </li>
      <li>
        <a href="#lists">Lists</a>
      </li>
      <li>
        <a href="#markdown">Markdown</a>
      </li>
      <li>
        <a href="#misc">Misc</a>
      </li>
      <li>
        <a href="#photoshop-brushes">Photoshop Brushes</a>
      </li>
      <li>
        <a href="#plugins">Plugins</a>
      </li>
      <li>
        <a href="#responsive">Responsive</a>
      </li>
      <li>
        <a href="#sass-mixins">Sass Mixins</a>
      </li>
      <li>
        <a href="#svg">SVG</a>
      </li>
      <li>
        <a href="#tours">Tours</a>
      </li>
      <li>
        <a href="#typography">Typography</a>
      </li>
      <li>
        <a href="#user-interface">User Interface Design</a>
      </li>
    </ul>
  </div>
</div>




<div class="col-md-7 col-md-offset-1">

  <h3 id="animation" class="first">Animation</h3>
  <a href="http://www.bestdevlist.com/css-animation-tools/" target="_blank">
    20 CSS Animation Tools for Your Collection</a><br>

  <h3 id="carousel">Carousel</h3>
  <a href="http://kenwheeler.github.io/slick/" target="_blank">Slick</a><br>

  <h3 id="charts">Charts</h3>
  <a href="http://www.chartjs.org/" target="_blank">Chart.js</a><br>

  <h3 id="color">Color</h3>
  <a href="http://htmlcolorcodes.com/color-chart/" target="_blank">Color charts</a> - material design color chart<br>
  <a href="https://github.com/Siddharth21/Colorful" target="_blank">Colorful</a> - list of resources<br>
  <a href="http://www.colourlovers.com/" target="_blank">Colour lovers</a> - palettes<br>
  <a href="http://www.w3schools.com/colors/colors_picker.asp" target="_blank">Color picker</a> - W3Schools<br>
  <a href="http://www.rocket-design.fr/color-template/" target="_blank">Color template</a> - color theory<br>
  <a href="http://design-seeds.com/" target="_blank">Design seeds</a> - palettes<br>
  <a href="http://tallys.github.io/color-theory/" target="_blank">Practical color theory for people who code</a><br>
  <a href="https://www.smashingmagazine.com/2016/04/web-developer-guide-color/"
  target="_blank">A Simple Web Developer’s Guide To Color</a><br>

  <h3 id="components">Components</h3>
  <a href="http://frend.co/" target="_blank">
    Frend</a> - accordion, bypass links, modal, off canvas, tabs, tooltips<br>

  <h3 id="css">CSS</h3>
  <a href="http://tympanus.net/codrops/css_reference/" target="_blank">
    CSS</a> - codrops CSS reference<br>
  <a href="http://10clouds.com/blog/css-for-backend-developers-part-i/" target="_blank">
    CSS For Backend Developers</a><br>
  <a href="http://paulcpederson.com/articles/css-for-people-who-hate-css/" target="_blank">
    CSS for People Who Hate CSS</a><br>
  <a href="https://github.com/vasanthk/css-refresher-notes" target="_blank">
    CSS Refresher Notes</a><br>
  <a href="http://labs.jensimmons.com/" target="_blank">
    Experimental Layout Lab of Jen Simmons</a><br>
  <a href="http://codepen.io/bradfrost/full/rCFdb" target="_blank">
    Responsive patterns</a> - from Brad Frost<br>
  <a href="https://stylesheets.co/" target="_blank">
    Stylesheets</a> - community-generated collection of CSS resources<br>
  <a href="http://stylelint.io/" target="_blank">Stylelint</a><br>
  <a href="https://www.smashingmagazine.com/2016/05/stylelint-the-style-sheet-linter-weve-always-wanted/" target="_blank">
    Stylelint - the style sheet linter we've always wanted</a> - Smashing Magazine article<br>
  <a href="https://www.adtrak.co.uk/wp-content/uploads/the_ultimate_css_selectors_cheatsheet.pdf" target="_blank">
    Ultimate CSS selector cheat sheet</a><br>


  <h3 id="css-grid">CSS Grid Layout</h3>
  <a href="https://css-tricks.com/snippets/css/complete-guide-grid/" target="_blank">
    Complete Guide to Grid</a> - CSS-Tricks<br>
  <a href="http://blogs.igalia.com/mrego/2016/02/01/deep-dive-into-grid-layout-placement/" target="_blank">
    Deep Dive into Grid Layout Placement</a><br>
  <a href="https://www.rachelandrew.co.uk/archives/2016/03/25/making-sense-of-the-new-css-layout/" target="_blank">
    Making Sense of the New CSS Layout</a> - Rachel Andrew<br>


  <h3 id="flexbox">Flexbox</h3>
  <a href="http://www.flexboxpatterns.com/home" target="_blank">Flexbox Patterns</a> - examples and code<br>


  <h3 id="fonts">Fonts</h3>
  <a href="http://www.kontrapunkt.com/typetester" target="_blank">Bob</a><br>
  <a href="https://www.zachleat.com/web/comprehensive-webfonts/#abstain" target="_blank">
    Comprehensive Guide to Font Loading Strategies</a><br>
  <a href="https://gidole.github.io/" target="_blank">Gidole</a><br>
  <a href="https://fonts.google.com/" target="_blank">Google Fonts</a><br>
  <a href="https://www.behance.net/gallery/28749913/HK-Grotesk-Open-Source-Typeface" target="_blank">HK Grotesk</a><br>
  <a href="http://overpassfont.org/" target="_blank">Overpass</a><br>
  <a href="https://www.theleagueofmoveabletype.com/league-spartan" target="_blank">Spartan</a><br>
  <a href="http://www.pixelsurplus.com/freebies-/wayward-sans" target="_blank">Wayward Sans</a><br>


  <h3 id="frameworks">Frameworks</h3>
  <a href="http://blazecss.com/" target="_blank">Blaze_CSS</a><br>
  <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a><br>
  <a href="http://hackerthemes.com/bootstrap-cheatsheet#nav-pills" target="_blank">
    Bootstrap 4 Cheat Sheet</a> - with online examples<br>
  <a href="http://upgrade-bootstrap.bootply.com/" target="_blank">
    Bootstrap 4 Upgrade</a> - Migrate to Bootstrap 4 Tool<br>
  <a href="https://medium.com/wdstack/bootstrap-4-whats-new-visual-guide-c84dd81d8387#.oqx9e9n49" target="_blank">
    Bootstrap 4 - Visual Guide to What's New</a><br>
  <a href="http://foundation.zurb.com/" target="_blank">Foundation</a><br>
  <a href="http://mincss.com/index.html" target="_blank">Min</a> - minimal CSS framework<br>
  <a href="http://designmodo.com/migrate-bootstrap-4/" target="_blank">
    Migrating from Bootstrap 3 to 4</a><br>
  <a href="http://picnicss.com/" target="_blank">Picnic</a><br>
  <a href="http://purecss.io/" target="_blank">Pure</a><br>
  <a href="http://sierra-library.github.io/" target="_blank">Sierra</a><br>
  <a href="http://doximity.github.io/vital/" target="_blank">Vital</a><br>


  <h3 id="graphics">Graphics</h3>
  <a href="http://www.darktable.org/" target="_blank">Darktable</a> - photo manipulation<br>
  <a href="https://www.gimp.org/" target="_blank">Gimp</a> - Gnu Image Manipulation Program<br>
  <a href="https://gravit.io/" target="_blank">Gravit</a> - web based vector design<br>


  <h3 id="html">HTML</h3>
  <a href="https://github.com/joshbuchea/HEAD" target="_blank">
    HEAD</a> - a list of everything that goes in the head of a document<br>
  <a href="http://www.w3schools.com/charsets/ref_html_ascii.asp" target="_blank">HTML ASCII</a><br>
  <a href="http://www.w3schools.com/charsets/ref_html_ansi.asp" target="_blank">HTML ANSI (Windows-1252)</a><br>
  <a href="http://htmlcolorcodes.com/" target="_blank">HTML Color Codes</a> - chart, names, color picker<br>
  <a href="http://www.w3schools.com/charsets/ref_html_8859.asp" target="_blank">HTML ISO-8859</a><br>
  <a href="http://www.w3schools.com/charsets/ref_html_symbols.asp" target="_blank">HTML Symbols</a><br>
  <a href="http://www.w3schools.com/charsets/ref_html_utf8.asp" target="_blank">HTML Unicode (UTF-8)</a><br>
  <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">HTML5</a> - Mozilla guide<br>
  <a href="https://github.com/h5bp/server-configs-apache/blob/master/dist/.htaccess" target="_blank">
    HTML5 Boilerplate Apache configuration settings</a><br>


  <h3 id="images">Images</h3>
  <a href="https://kraken.io/" target="_blank">Kraken</a> - image optimizer<br>
  <a href="https://pixlr.com/" target="_blank">Pixlr</a> - image editor<br>
  <a href="https://placehold.it/" target="_blank">Placeholder images</a><br>
  <a href="https://studio.uxpin.com/blog/responsive-images-the-designers-definitive-guide/" target="_blank">
    Responsive Images: The Designer’s Definitive Guide</a><br>
  <a href="http://luci.criosweb.ro/riot/" target="_blank">RIOT</a> - image optimizing<br>
  <a href="https://tinypng.com/" target="_blank">Tiny PNG</a> - image compression<br>


  <h3 id="lists">Lists</h3>
  <a href="https://resourcecards.com/" target="_blank">Resource Cards</a><br>
  <a href="http://bleech.io/" target="_blank">Tech inspiration for creatives</a><br>

  <h3 id="markdown">Markdown</h3>
  <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown cheatsheet</a><br>
  <a href="https://github.com/bradfrost/frontend-guidelines-questionnaire" target="_blank">
    Front-end guideline questionaire</a><br>

  <h3 id="misc">Misc</h3>
  <a href="http://jefflau.net/decrypting-the-ever-complicating-front-end-web-development-stack/" target="_blank">
    Decrypting the ever-complicating front-end web development stack</a><br>

  <h3 id="photoshop-brushes">Photoshop Brushes</h3>
  <a href="http://designm.ag/resources/2000-free-photoshop-brushes/" target="_blank">
    2000 Free Photoshop Brushes</a><br>
  <a href="http://www.creativebloq.com/photoshop/free-photoshop-brushes-11121140/1" target="_blank">
    60 best free Photoshop brushes</a><br>
  <a href="http://www.noupe.com/design/80-all-you-need-photoshop-brushes.html" target="_blank">
    80 All-You-Need Photoshop Brushes</a> - Noupe<br>

  <h3 id="plugins">Plugins</h3>
  <a href="https://github.com/kyleshevlin/matchbox" target="_blank">Matchbox</a> - Matching the height of boxes in a row.<br>
  <a href="https://newsignature.github.io/us-map/" target="_blank">U.S. Map</a><br>

  <h3 id="responsive">Responsive</h3>
  <a href="http://codepen.io/AllThingsSmitty/pen/MyqmdM/" target="_blank">
    Responsive table in CSS</a><br>

  <h3 id="sass-mixins">Sass Mixins</h3>
  <a href="http://lukyvj.github.io/family.scss/" target="_blank">
    Family.scss</a> - manage the style of :nth-child elements<br>


  <h3 id="svg">SVG</h3>
  <a href="http://boxy-svg.com/" target="_blank">Boxy SVG</a> - editor<br>
  <a href="https://ihatetomatoes.net/how-i-created-my-first-svg/" target="_blank">How I created my first SVG</a><br>
  <a href="http://svgpocketguide.com/book/" target="_blank">Pocket Guide to Writing SVG</a><br>
  <a href="https://svgontheweb.com/" target="_blank">SVG on the Web - A practical guide</a><br>
  <a href="https://css-tricks.com/using-svg/" target="_blank">Using SVG</a> - CSS Tricks<br>


  <h3 id="tours">Tours</h3>
  <a href="http://bootstraptour.com/" target="_blank">Bootstrap Tour</a><br>

  <h3 id="typography">Typography</h3>
  <a href="https://medium.com/hh-design/typography-for-developers-975cf2abd1e?imm_mid=0e3509&cmp=em-web-na-na-newsltr_20160504#.htx6zfvut" target="_blank">
    Typography for Developers</a><br>
  <a href="http://typographyhandbook.com/" target="_blank">Typography Handbook</a><br>

  <h3 id="user-interface">User Interface Design</h3>
  <a href="http://blog.invisionapp.com/core-principles-of-ui-design/" target="_blank">
    The Core Principles of UI Design</a><br>

</div>

</div><br><br><br><br><br>  <!--row-->









<h2 id="laravel">Laravel</h2>

<div class="row">

<div class="col-md-4">
  <div id="links" class="sidebar">
    <ul>
      <li>
        <a href="#articles">Articles and Presentations</a>
      </li>
      <li>
        <a href="#cheat">Cheat Sheets</a>
      </li>
      <li>
        <a href="#code">Code Libraries</a>
      </li>
      <li>
        <a href="#deployment">Deployment</a>
      </li>
      <li>
        <a href="#news">News and Blogs</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-7 col-md-offset-1">
  <a href="http://larachat.co/" target="_blank">chat</a><br>
  <a href="https://laravel.com/docs/" target="_blank">documentation</a><br>
  <a href="https://laravel.com/docs/5.2/envoy" target="_blank">Envoy</a> - deployment task runner<br>
  <a href="https://serversforhackers.com/video/deploying-with-envoy-cast" target="_blank">Envoy deployment</a> - tutorial<br>
  <a href="https://envoyer.io/" target="_blank">Envoyer</a> - zero downtime deployment<br>
  <a href="https://forge.laravel.com/" target="_blank">Forge</a> - deployment<br>
  <a href="https://laracasts.com/discuss" target="_blank">forums</a><br>
  <a href="https://laravel.com/docs/5.2/homestead" target="_blank">Homestead</a> - development environment<br>
  <a href="https://www.youtube.com/watch?v=bC8OjU5ZlJQ" target="_blank">Homestead Guide</a> - setting up a virtual box for development<br>
  <a href="http://jigsaw.tighten.co/" target="_blank">Jigsaw</a> - Static site creator<br>
  <a href="https://larajobs.com/" target="_blank">jobs</a><br>
  <a href="https://laracasts.com/" target="_blank">Laracasts</a><br>
  <a href="https://laragon.org/" target="_blank">Laragon</a> - Windows development environment<br>
  <a href="http://laracon.us/" target="_blank">Laracon US</a><br>
  <a href="https://laravel.com/" target="_blank">Laravel</a><br>
  <a href="http://blog.laravel.com/" target="_blank">Laravel blog</a><br>
  <a href="https://laravelgurus.com/" target="_blank">Laravel Gurus</a> - consultants and freelancers<br>
  <a href="https://twitter.com/laravelphp" target="_blank">Laravel Twitter</a><br>
  <a href="https://lumen.laravel.com/" target="_blank">Lumen</a> - micro framework<br>
  <a href="http://rocketeer.autopergamene.eu/" target="_blank">Rocketeer</a> - PHP deployment<br>
  <a href="https://github.com/laravel/spark" target="_blank">Spark</a> - for building business oriented SaaS applications<br>


  <h3 id="articles">Articles and Presentations</h3>
  <a href="http://www.sitepoint.com/building-a-hacker-news-reader-with-lumen/" target="_blank">
    Building a Hacker News Reader with Lumen</a> - SitePoint<br>
  <a href="http://adamwathan.me/2016/04/06/cleaning-up-form-input-with-transpose/" target="_blank">
    Cleaning Up Form Input with Transpose</a><br>
  <a href="https://www.youtube.com/channel/UCb9XEo_1SDNR8Ucpbktrg5A" target="_blank">
    Laracon EU 2014 and 2013</a> - presentation videos<br>
  <a href="https://www.youtube.com/playlist?list=PLMdXHJK-lGoA9SIsuFy0UWL8PZD1G3YFZ" target="_blank">
    Laracon EU 2015 full playlist</a><br>
  <a href="https://www.youtube.com/watch?v=uOU_N8PNOD8" target="_blank">
    Laracon US 2015 keynote</a> - Laravel Spark, Taylor Otwell<br>
  <a href="https://www.youtube.com/watch?v=xKefsl_UiM0" target="_blank">
    Lessons Learned</a> - Taylor Otwell, PHP World 2015<br>
  <a href="http://www.sitepoint.com/quick-tip-get-homestead-vagrant-vm-running/" target="_blank">
    Quick Tip: Get a Homestead Vagrant VM Up and Running</a><br>
  <a href="https://dotdev.co/rapid-laravel-application-scaffolding-with-custom-commands-745e9f683470#.5hjxo3pnw" target="_blank">
    Rapid Laravel Application Scaffolding with Custom Commands</a><br>
  <a href="https://www.youtube.com/watch?v=g4BbeHYCR1E" target="_blank">
    Rapid Application Development</a> - from idea to prototype<br>
  <a href="http://www.sitepoint.com/setting-up-php-7-servers-with-laravel-forge-and-digitalocean/" target="_blank">
    Setting up PHP 7 Servers with Laravel Forge and DigitalOcean</a><br>
  <a href="http://www.sitepoint.com/tag/laravel/" target="_blank">
    Sitepoint articles</a><br>
  <a href="https://laravel-news.com/2016/01/adam-wathan-test-driven-laravel-from-scratch/" target="_blank">
    Test driven Laravel development</a><br>
  <a href="https://scotch.io/tutorials/ultimate-guide-on-sending-email-in-laravel" target="_blank">
    The Ultimate Guide to Sending Email in Laravel</a><br>
  <a href="https://scotch.io/tutorials/understanding-laravel-middleware" target="_blank">
    Understanding Laravel Middleware</a><br>

  <h3 id="cheat">Cheat Sheets</h3>
  <a href="https://aufree.github.io/laravel5-cheatsheet/#" target="_blank">Laravel 5.1 LTS Cheat Sheet</a><br>


  <h3 id="code">Code Libraries</h3>
  <a href="https://github.com/laravel/cashier" target="_blank">
    Cashier</a> - subscription billing<br>
  <a href="http://image.intervention.io/" target="_blank">
    Intervention Image</a> - image handling and manipulation<br>
  <a href="https://github.com/spatie/laravel-backup" target="_blank">
    Laravel Backup</a> - automated application and database backup<br>
  <a href="http://www.maatwebsite.nl/laravel-excel/" target="_blank">
    Laravel Excel</a><br>
  <a href="https://github.com/lstables/Laravel-Mailer-Class" target="_blank">
    Laravel-Mailer-Class</a> - simple mailer class<br>
  <a href="https://github.com/flugger/laravel-responder" target="_blank">
    Laravel Responder</a> - API building tool<br>
  <a href="https://github.com/Nayjest/Grids" target="_blank">
    Nayjest/Grids</a> - grid classes<br>
  <a href="http://orchestraplatform.com/" target="_blank">
    Orchestra Platform</a> - Laravel components<br>
  <a href="https://murze.be/2016/07/processing-csv-file-laravel/" target="_blank">
    Processing a csv file in Laravel</a><br>
  <a href="https://github.com/laravel/socialite" target="_blank">
    Socialite</a> - social authentication<br>
  <a href="https://socialiteproviders.github.io/" target="_blank">
    Socialite Providers</a> - collection of providers for Laravel Socialite<br>
  <a href="https://spatie.be/opensource/laravel" target="_blank">
    Spatie open source Laravel packages</a> - analytics, link-checker, caching, pjax, slugs, search<br>

  <h3 id="deployment">Deployment</h3>
  <a href="https://serversforhackers.com/video/deploying-with-envoy-cast" target="_blank">Deploying with Envoy</a><br>

  <h3 id="news">News and Blogs</h3>
  <a href="https://driesvints.com/blog" target="_blank">Dries Vints</a> - blog<br>
  <a href="https://laracasts.simplecast.fm/" target="_blank">Laracasts Snippet</a> - Jeffrey Way<br>
  <a href="https://larachat.co/live" target="_blank">Larachat Live</a><br>
  <a href="http://laraveldaily.com/" target="_blank">Laravel Daily</a> - Povilas Korop<br>
  <a href="https://laravel-news.com/blog/" target="_blank">Laravel News</a>- Eric L. Barnes<br>
  <a href="https://laravel-news.com/category/podcast/" target="_blank">Laravel News Podcast</a><br>
  <a href="http://www.laravelpodcast.com/" target="_blank">Laravel podcast</a> - Matt Stauffer<br>
  <a href="https://laraveltips.wordpress.com/" target="_blank">Laravel Tips</a> - Bill Keck tutorial blog<br>
  <a href="https://laravel-news.com/category/laravel-tutorials/" target="_blank">Laravel tutorials</a> - Eric L. Barnes<br>
  <a href="https://laravelista.com/" target="_blank">Laravelista</a> - tutorials<br>
  <a href="https://mattstauffer.co/blog" target="_blank">Matt Stauffer</a> - blog<br>
  <a href="https://www.reddit.com/r/laravel/" target="_blank">Reddit / Laravel</a><br>
  <a href="http://taylorotwell.com/" target="_blank">Taylor Otwell</a> - blog<br>
  <a href="http://blog.tighten.co/" target="_blank">Tighten Co.</a> - blog<br>

</div>

</div><br><br><br><br><br>  <!--row-->







<h2 id="news-and-blogs">News and Blogs</h2>

<div class="row">

<div class="col-md-4">
  <div id="links" class="sidebar">
    <ul>
      <li>
        <a href="#developers">Developers</a>
      </li>
      <li>
        <a href="#twitter">Twitter</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-7 col-md-offset-1">
  <a href="https://24ways.org/" target="_blank">24 Ways</a><br>
  <a href="http://alistapart.com/" target="_blank">A List Apart</a><br>
  <a href="http://5by5.tv/bigwebshow" target="_blank">Big Web Show</a><br>
  <a href="https://codyhouse.co/" target="_blank">Cody House</a><br>
  <a href="http://www.creativebloq.com/net-magazine" target="_blank">Creative Bloq</a><br>
  <a href="https://crew.co/backstage/blog/" target="_blank">Crew</a><br>
  <a href="https://www.designernews.co/" target="_blank">Designer News</a><br>
  <a href="https://dotdev.co/" target="_blank">dotdev</a><br>
  <a href="https://www.eff.org/" target="_blank">Electronic Frontier Foundation</a><br>
  <a href="https://medium.freecodecamp.com/" target="_blank">freeCodeCamp</a><br>
  <a href="https://frontendfive.codeschool.com/" target="_blank">Front End Five</a> <br>
  <a href="http://frontendfront.com/" target="_blank">Front End Front</a><br>
  <a href="https://news.ycombinator.com/" target="_blank">Hacker News</a><br>
  <a href="http://html5weekly.com/" target="_blank">HTML5 Weekly</a><br>
  <a href="http://javascriptair.com/" target="_blank">JavaScript Air</a><br>
  <a href="http://javascriptweekly.com/issues" target="_blank">JavaScript Weekly</a><br>
  <a href="https://laravel-news.com/archive/" target="_blank">Laravel News</a><br>
  <a href="http://thenewcode.com/" target="_blank">The New Code</a><br>
  <a href="http://perf.rocks/" target="_blank">Performance Rocks</a><br>
  <a href="http://phptownhall.com/" target="_blank">PHP Town Hall</a><br>
  <a href="http://www.phpweekly.com/archive.html" target="_blank">PHP Weekly</a><br>
  <a href="https://www.getrevue.co/profile/the-react-digest" target="_blank">React Digest</a><br>
  <a href="https://www.reddit.com/r/webdev" target="_blank">Reddit web developers</a><br>
  <a href="http://us7.campaign-archive1.com/home/?u=b4a4054cce715a3b0ae5e7d35&id=f7c505323d" target="_blank">Sass News</a><br>
  <a href="https://scotch.io/" target="_blank">Scotch Tutorials</a><br>
  <a href="http://simpleprogrammer.com/" target="_blank">Simple Programmer</a><br>
  <a href="http://www.sitepoint.com/" target="_blank">Sitepoint</a><br>
  <a href="https://www.sitepoint.com/versioning" target="_blank">Sitepoint Versioning</a><br>
  <a href="http://www.smashingmagazine.com/" target="_blank">Smashing Magazine</a><br>
  <a href="http://speckyboy.com/" target="_blank">Speckyboy</a><br>
  <a href="http://bleech.io/" target="_blank">Tech inspiration for creatives</a><br>
  <a href="http://tutorialzine.com/" target="_blank">Tutorialzine</a><br>
  <a href="https://twitter.com/vuejs" target="_blank">Twitter - Vue.js</a><br>
  <a href="https://web-design-weekly.com/" target="_blank">Web Design Weekly</a><br>
  <a href="https://wdrl.info/archive" target="_blank">Web Development Reading List</a><br>
  <a href="http://webfieldmanual.com/" target="_blank">Web Field Manual</a><br>
  <a href="http://us5.campaign-archive2.com/home/?u=ea228d7061e8bbfa8639666ad&id=104d6bcc2d" target="_blank">Web Tools Weekly</a><br>


  <h3 id="developers">Developers</h3>
  <a href="https://joreteg.com/" target="_blank">Henrik Joreteg</a><br>
  <a href="http://zellwk.com/" target="_blank">Zell Liew</a><br>
  <a href="http://chrismm.com/" target="_blank">Christian M. Mackeprang</a><br>
  <a href="http://benmccormick.org/" target="_blank">Ben McCormick</a><br>
  <a href="http://john.do/" target="_blank">John Saddington</a><br>
  <a href="http://codingwithempathy.com/" target="_blank">Pavneet Singh Saund</a> - Coding with Empathy<br>
  <a href="http://www.larryullman.com/" target="_blank">Larry Ullman</a><br>
  <a href="https://murze.be/" target="_blank">Freek Van der Herten</a><br>
  <a href="http://thecodist.com/" target="_blank">Andrew Wulf</a> - The Codist<br>

  <h3 id="twitter">Twitter</h3>
  <a href="https://twitter.com/laravelphp?lang=en" target="_blank">Laravel</a><br>
  <a href="https://twitter.com/vuejs" target="_blank">Vue.js</a><br>

</div>

</div><br><br><br><br><br>  <!--row-->










<h2 id="php">PHP</h2>

<div class="row">

<div class="col-md-4">
  <div id="links" class="sidebar">
    <ul>
      <li>
        <a href="#autoloading">Autoloading</a>
      </li>
      <li><a href="#code-libraries">Code Libraries</a></li>
      <li>
        <a href="#coding">Coding General</a>
      </li>
      <li><a href="#coding-standards">Coding Standards</a></li>
      <li>
        <a href="#composer">Composer</a>
      </li>
      <li> <a href="#debugging">Debuggin</a> </li>
      <li><a href="#deployment">Deployment</a></li>
      <li>
        <a href="#database">Database</a>
      </li>
      <li><a href="#http">HTTP (PSR-7)</a></li>
      <li><a href="#news">News and Blogs</a></li>
      <li>
        <a href="#security">Security</a>
      </li>
      <li><a href="#testing">Testing</a></li>
      <li><a href="#tools">Tools</a></li>
    </ul>
  </div>
</div>


<div class="col-md-7 col-md-offset-1">

  <a href="https://blog.fortrabbit.com/10-pillars-php-dev" target="_blank">
    10 pillars of modern PHP development</a><br>
  <a href="http://www.cabotsolutions.com/2016/06/the-evolution-of-php-infographic/" target="_blank">
    Evolution of PHP </a> - infographic<br>
  <a href="http://php.net/" target="_blank">PHP.net</a><br>
  <a href="http://www.phptherightway.com/" target="_blank">PHP The Right Way</a><br>

  <h3 id="autoloading">Autoloading (PSR-4)</h3>
  <a href="https://mattstauffer.co/blog/a-brief-introduction-to-php-namespacing" target="_blank">Namespacing</a> - in PHP<br>
  <a href="https://experiencehq.net/blog/how-and-when-to-use-psr-4-autoloading-in-your-craft-plugins" target="_blank">PSR-4 Autoloading</a><br>

  <h3 id="code-libraries">Code Libraries</h3>
  <a href="https://github.com/FriendsOfPHP" target="_blank">FriendsOfPHP</a><br>
  <a href="https://thephpleague.com/" target="_blank">League of Extaordinary Packages</a><br>
  <a href="https://github.com/PHPMailer/PHPMailer" target="_blank">PHPMailer</a> - email sending library<br>
  <a href="https://phpunit.de/" target="_blank">PHPUnit</a> - testing framework<br>
  <a href="https://github.com/PHPOffice/PHPWord" target="_blank">PHPWord</a> - create Word docs from PHP<br>
  <a href="https://phpword.readthedocs.org/en/latest/index.html" target="_blank">PHPWord Documentation</a><br>
  <a href="https://github.com/nuovo/spreadsheet-reader" target="_blank">spreadsheet-reader</a> - PHP spreadsheet reader<br>
  <a href="http://statetable.com/" target="_blank">statetable.com</a> - table of states and provinces<br>



  <h3 id="coding">Coding General</h3>
  <a href="https://laracasts.com/series/design-patterns-in-php" target="_blank">Laracasts: Design Patterns in PHP</a><br>
  <a href="https://laracasts.com/series/php7-up-and-running" target="_blank">Laracasts: PHP 7 Up and Running</a><br>
  <a href="https://laracasts.com/series/solid-principles-in-php" target="_blank">Laracasts: SOLID Principles in PHP</a><br>
  <a href="https://mattstauffer.co/blog/a-brief-introduction-to-php-namespacing" target="_blank">Namespacing</a> - in PHP<br>
  <a href="/reference/object-oriented.html" target="_blank">Object Oriented PHP Cheat Sheet</a><br>
  <a href="http://zaengle.com/blog/simplifying-conditional-expressions" target="_blank">
    Simplifying Conditional Expressions</a><br>

  <h3 id="coding-standards">Coding Standards</h3>
  <a href="https://github.com/squizlabs/PHP_CodeSniffer" target="_blank">PHP CodeSniffer</a> - detects violation of coding standards<br>
  <a href="https://styleci.io/" target="_blank">StyleCI</a> - PHP coding style service<br>
  <a href="https://github.com/FriendsOfPHP/PHP-CS-Fixer" target="_blank">StyleCI</a> - PHP CS Fixer<br>

  <h3 id="composer">Composer</h3>
  <a href="https://getcomposer.org/doc/01-basic-usage.md" target="_blank">Composer basic usage</a><br>
  <a href="https://getcomposer.org/doc/articles/versions.md" target="_blank">Composer versions reference</a><br>

  <h3 id="database">Database</h3>
  <a href="https://www.sanwebe.com/2013/03/basic-php-mysqli-usage" target="_blank">Basic MySQLi</a><br>

  <h3 id="debugging">Debugging</h3>
  <a href="http://raveren.github.io/kint/" target="_blank">Kint</a> - PHP Debugging Helper<br>
  <a href="http://phpdebugbar.com/" target="_blank">PHP Debug Bar</a><br>

  <h3 id="deployment">Deployment</h3>
  <a href="http://deployer.org/" target="_blank">Deployer</a> - PHP deployment tool<br>
  <a href="http://rocketeer.autopergamene.eu/" target="_blank">Rocketeer</a> - PHP deployment<br>

  <h3 id="http">HTTP (PSR-7)</h3>
  <a href="https://mwop.net/blog/2015-01-26-psr-7-by-example.html" target="_blank">
    PSR-7 By Example</a><br>

  <h3 id="news">News and Blogs</h3>
  <a href="http://phptownhall.com/" target="_blank">PHP Town Hall</a><br>
  <a href="http://www.phpweekly.com/archive.html" target="_blank">PHP Weekly</a><br>

  <h3 id="security">Security</h3>
  <a href="http://www.cloudways.com/blog/protect-php-website-sql-injection/" target="_blank">
    Protect A PHP Website From SQL Injection Attacks</a><br>
  <a href="http://www.phpbuilder.com/articles/application-architecture/security/most-secure-password-encryption-methods-in-php.html" target="_blank">
    Secure Password Encryption Methods in PHP</a><br>
  <a href="https://paragonie.com/blog/2016/07/securing-php-application-in-2016-pocket-guide" target="_blank">
    Securing a PHP Application in 2016: The Pocket Guide</a><br>

  <h3 id="testing">Testing</h3>
  <a href="https://phpunit.de" target="_blank">PHP Unit</a><br>

  <h3 id="tools">Tools</h3>

  <a href="http://www.phpdoc.org/" target="_blank">phpDocumentor</a> - creates documentation from source code<br>
  <a href="https://www.apachefriends.org/index.html" target="_blank">XAMPP</a> - local PHP development environment<br>

</div>

</div><br><br><br><br><br>  <!--row-->










<h2 id="reference">Reference</h2>

<div class="row">

<div class="col-md-4">
  <div id="links" class="sidebar">
    <ul>
      <li>
        <a href="#accessibility">Accessibility</a>
      </li>
      <li>
        <a href="#atom">Atom</a>
      </li>
      <li>
        <a href="#autoloading">Autoloading (PSR-4)</a>
      </li>
      <li>
        <a href="#aws">AWS</a>
      </li>
      <li>
        <a href="#browserify">Browserify</a>
      </li>
      <li>
        <a href="#cheat">Cheat Sheets</a>
      </li>
      <li>
        <a href="#composer">Composer</a>
      </li>
      <li>
        <a href="#cors">CORS</a>
      </li>
      <li>
        <a href="#database">Database</a>
      </li>
      <li>
        <a href="#datasets">Datasets</a>
      </li>
      <li>
        <a href="#devops">Devops</a>
      </li>
      <li>
        <a href="#git">Git</a>
      </li>
      <li>
        <a href="#gulp">Gulp</a>
      </li>
      <li>
        <a href="#hardware">Hardware</a>
      </li>
      <li>
        <a href="#http">HTTP</a>
      </li>
      <li>
        <a href="#http2">HTTP/2</a>
      </li>
      <li>
        <a href="#javascript">JavaScript</a>
      </li>
      <li>
        <a href="#learning">Learning</a>
      </li>
      <li>
        <a href="#lists">Lists</a>
      </li>
      <li>
        <a href="#misc">Miscellaneous</a>
      </li>
      <li>
        <a href="#npm">npm</a>
      </li>
      <li>
        <a href="#performance">Performance</a>
      </li>
      <li>
        <a href="#php">PHP</a>
      </li>
      <li>
        <a href="#privacy">Privacy</a>
      </li>
      <li>
        <a href="#regular">Regular Expressions</a>
      </li>
      <li>
        <a href="#security">Security</a>
      </li>
      <li>
        <a href="#servers">Servers</a>
      </li>
      <li>
        <a href="#static">Static Websites</a>
      </li>
      <li>
        <a href="#user">User Experience</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-7 col-md-offset-1">

  <h3 id="accessibility" class="first">Accessibility</h3>
  <a href="http://www.karlgroves.com/2013/09/05/the-6-simplest-web-accessibility-tests-anyone-can-do/" target="_blank">
    The 6 Simplest Web Accessibility Tests Anyone Can Do</a><br>

  <h3 id="atom">Atom</h3>
  <a href="https://medium.com/@0x1AD2/atom-treasures-82a64ac391c#.q4491aug3" target="_blank">
    Atom treasures - a list of Atom plugins I can’t live without</a><br>

  <h3 id="aws">AWS</h3>
  <a href="https://github.com/donnemartin/awesome-aws" target="_blank">Awesome AWS</a>- curated list of resources<br>
  <a href="http://www.brianlinkletter.com/create-a-free-virtual-private-server-on-amazon-web-services/" target="_blank">
    Create a free virtual private server on Amazon Web Services</a><br>

  <h3 id="browserify">Browserify</h3>
  <a href="http://www.sitepoint.com/getting-started-browserify/" target="_blank">
    Getting started with Browserify</a><br>
  <a href="https://lincolnloop.com/blog/untangle-your-javascript-browserify/" target="_blank">
    Untangle Your JavaScript with Browserify</a><br>

  <h3 id="cheat">Cheat Sheets</h3>
  <a href="http://overapi.com/" target="_blank">OverAPI.com</a> - multiple cheat sheets<br>

  <h3 id="cors">CORS</h3>
  <a href="https://manning-content.s3.amazonaws.com/download/f/54fa960-332e-4a8c-8e7f-1eb213831e5a/CORS_ch01.pdf" target="_blank">Core of CORS</a> - CORS in Action chapter 1<br>
  <a href="https://en.wikipedia.org/wiki/Cross-origin_resource_sharing" target="_blank">CORS</a> - Wikipedia<br>
  <a href="https://staticapps.org/articles/cross-domain-requests-with-cors/" target="_blank">Cross-Domain Requests with CORS</a> - A Field Guide to Static Apps<br>
  <a href="http://enable-cors.org/" target="_blank">Enable cross-origin resource sharing</a><br>
  <a href="https://remysharp.com/2011/04/21/getting-cors-working" target="_blank">Getting CORS Working</a> - Remy Sharp<br>
  <a href="https://manning-content.s3.amazonaws.com/download/5/54dea42-e46e-44c7-a930-d4c86a2c2ca3/CORS_ch03.pdf" target="_blank">Handling CORS requests</a> - CORS in Action chapter 3<br>
  <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS" target="_blank">HTTP access control (CORS)</a> - Mozilla<br>
  <a href="http://www.mjhall.org/php-cross-origin-resource-sharing/" target="_blank">PHP CORS example</a><br>
  <a href="https://www.maxcdn.com/one/visual-glossary/cors/" target="_blank">Simple CORS overview</a><br>
  <a href="http://client.cors-api.appspot.com/client" target="_blank">Test CORS tool</a><br>
  <a href="http://www.html5rocks.com/en/tutorials/cors/" target="_blank">Using CORS</a> - HTML5 Rocks<br>

  <h3 id="database">Database</h3>
  <a href="https://www.sanwebe.com/2013/03/basic-php-mysqli-usage" target="_blank">Basic MySQLi</a><br>
  <a href="http://docs.phpmyadmin.net/en/latest/index.html" target="_blank">phpMyAdmin Documentatiion</a><br>

  <h3 id="datasets">Datasets</h3>
  <a href="https://github.com/caesar0301/awesome-public-datasets" target="_blank">Awesome public datasets</a><br>
  <a href="http://tinyletter.com/data-is-plural/archive" target="_blank">Data Is Plural</a> - Open source datasets<br>
  <a href="https://github.com/fivethirtyeight/data" target="_blank">FiveThirtyEight data</a> - created by the FiveThirtyEight website<br>

  <h3 id="devops">Devops</h3>
  <a href="https://github.com/Leo-G/DevopsWiki" target="_blank">Devops Wiki</a> - tools, tutorials, scripts<br>

  <h3 id="git">Git</h3>
  <a href="https://github.com/github/gitignore" target="_blank">gitignore</a> - collection of templates<br>
  <a href="https://gist.github.com/octocat/9257657" target="_blank">.gitignore configuration</a><br>
  <a href="https://git-scm.com/docs" target="_blank">Git reference</a><br>
  <a href="http://www.learnenough.com/git-tutorial" target="_blank">Learn Enough Git to Be Dangerous</a> - online book<br>
  <a href="https://git-scm.com/book/en/v2" target="_blank">Pro Git</a> - online book<br>
  <a href="https://medium.com/@pierreda/understanding-git-for-real-by-exploring-the-git-directory-1e079c15b807#.i0ye5resn" target="_blank">
    Understanding git for real by exploring the .git directory</a><br>

  <h3 id="gulp">Gulp</h3>
  <a href="https://scotch.io/tutorials/automate-your-tasks-easily-with-gulp-js" target="_blank">
    Automate Your Tasks Easily with Gulp.js</a> - Scotch.io<br>
  <a href="https://travismaynard.com/writing/getting-started-with-gulp" target="_blank">
    Getting Started with Gulp</a><br>
  <a href="http://www.sitepoint.com/introduction-gulp-js/" target="_blank">
    An Introduction to Gulp.js</a> - SitePoint<br>
  <a href="http://www.sitepoint.com/simple-gulpy-workflow-sass/" target="_blank">
    A Simple Gulpy Workflow For Sass</a> - SitePoint<br>

  <h3 id="hardware">Hardware</h3>
  <a href="https://getchip.com/" target="_blank">Chip - $9 computer</a><br>

  <h3 id="http">HTTP</h3>
  <a href="https://certsimple.com/blog/ssl-why-do-i-need-it" target="_blank">HTTPS provides more than just privacy</a><br>
  <a href="http://www.freeformatter.com/mime-types-list.html" target="_blank">MIME types list</a><br>
  <a href="http://igoro.com/archive/what-really-happens-when-you-navigate-to-a-url/" target="_blank">
    What really happens when you navigate to a URL</a><br>


  <h3 id="http2">HTTP/2</h3>
  <a href="https://www.smashingmagazine.com/2016/02/getting-ready-for-http2/" target="_blank">
    Getting Ready For HTTP/2: A Guide For Web Designers And Developers</a><br>
  <a href="https://surma.link/things/h2setup/" target="_blank">HTTP/2 - setting up</a><br>

  <h3 id="javascript">JavaScript</h3>
  <a href="http://blog.debugme.eu/getting-started-as-a-javascript-developer/" target="_blank">
    6 Essential Tips for Getting Started as a JavaScript Developer</a><br>
  <a href="http://rainsoft.io/gentle-explanation-of-this-in-javascript/" target="_blank">
    Gentle explanation of 'this' keyword in JavaScript</a><br>
  <a href="http://webdesign.tutsplus.com/tutorials/auto-formatting-input-value--cms-26745" target="_blank">
    Form Design: How to Automatically Format User Input</a><br>
  <a href="https://medium.freecodecamp.com/javascript-modules-a-beginner-s-guide-783f7d7a5fcc#.z5oafymhy" target="_blank">
    JavaScript Modules: A Beginner’s Guide</a><br>
  <a href="https://medium.com/javascript-scene/learn-javascript-b631a4af11f2#.x67xwc526" target="_blank">
    Learn JavaScript Essentials</a> - Eric Elliott<br>
  <a href="https://psdtowp.net/learn-javascript.html" target="_blank">
    Learn JavaScript: The best methods and resources according to 25 JavaScript experts</a><br>
  <a href="https://css-tricks.com/lets-learn-es2015/" target="_blank">
    Let’s Learn ES2015</a><br>
  <a href="https://github.com/cht8687/You-Dont-Need-Lodash-Underscore" target="_blank">
    You don't (may not) need Lodash/Underscore</a><br>

  <h3 id="learning">Learning</h3>
  <a href="https://www.youtube.com/user/phpacademy/playlists" target="_blank">Codecourse</a> - Development tutorial videos<br>
  <a href="https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md" target="_blank">
    Free programming books</a> - Github list<br>
  <a href="https://rrrepo.co/repo/webdesign" target="_blank">rrrepo webdesign</a> - Huge list of web developer resources<br>

  <h3 id="lists">Lists</h3>
  <a href="https://wdrl.info/evergreen" target="_blank">The Evergreen List</a><br>

  <h3 id="misc">Miscellaneous</h3>
  <a href="http://devtoolsecrets.com/" target="_blank">Browser Developer Tools, Secrets of</a><br>
  <a href="https://github.com/ripienaar/free-for-dev" target="_blank">Free for Developers</a> - A list of SaaS, PaaS and IaaS offerings that have free tiers for developers.<br>
  <a href="https://developers.google.com/web/fundamentals/?hl=en" target="_blank">Google Developers - Web Fundamentals</a><br>
  <a href="https://ethicalweb.org/" target="_blank">Principles of Ethical Web Development</a> - Adam Scott<br>
  <a href="http://www.robotstxt.org/" target="_blank">robots.txt</a><br>


  <h3 id="npm">npm</h3>
  <a href="http://howtonode.org/introduction-to-npm" target="_blank">Introduction to npm</a><br>

  <h3 id="performance">Performance</h3>
  <a href="https://remysharp.com/2016/04/04/a-debugging-thought-process" target="_blank">
    A debugging thought process</a> - debugging a slow website<br>

  <h3 id="privacy">Privacy</h3>
  <a href="https://www.troyhunt.com/going-dark-online-privacy-and-anonymity-for-normal-people/" target="_blank">
    Going dark: online privacy and anonymity for normal people</a><br>

  <h3 id="regular">Regular Expressions</h3>
  <a href="http://tutorialzine.com/2014/12/learn-regular-expressions-in-20-minutes/" target="_blank">
    Learn Regular Expressions in 20 Minutes</a> - Tutorialzine<br>

  <h3 id="security">Security</h3>
  <a href="https://www.digitalocean.com/community/tutorials/7-security-measures-to-protect-your-servers" target="_blank">
    7 Security Measures to Protect Your Servers</a><br>
  <a href="http://martinfowler.com/articles/web-security-basics.html" target="_blank">
    Basics of web application security</a><br>
  <a href="http://stackoverflow.com/questions/549/the-definitive-guide-to-form-based-website-authentication" target="_blank">
    Definitive guide to form-based website authentication</a><br>
  <a href="https://paragonie.com/blog/2015/08/gentle-introduction-application-security" target="_blank">
    Gentle Introduction to Application Security</a><br>
  <a href="https://ashleynolan.co.uk/blog/moving-to-https-with-letsencrypt" target="_blank">
    Moving to HTTPS with LetsEncrypt</a><br>
  <a href="http://www.codelitt.com/blog/my-first-10-minutes-on-a-server-primer-for-securing-ubuntu/" target="_blank">
    My First 10 Minutes On a Server - Primer for Securing Ubuntu</a><br>
  <a href="http://www.cloudways.com/blog/protect-php-website-sql-injection/" target="_blank">
    Protect A PHP Website From SQL Injection Attacks</a><br>
  <a href="http://www.phpbuilder.com/articles/application-architecture/security/most-secure-password-encryption-methods-in-php.html" target="_blank">
    Secure Password Encryption Methods in PHP</a><br>
  <a href="https://github.com/FallibleInc/security-guide-for-developers" target="_blank">
    A practical security guide for web developers</a><br>
  <a href="https://paragonie.com/blog/2016/07/securing-php-application-in-2016-pocket-guide" target="_blank">
    Securing a PHP Application in 2016: The Pocket Guide</a><br>
  <a href="https://medium.com/@jitbit/target-blank-the-most-underestimated-vulnerability-ever-96e328301f4c#.ctut31tez" target="_blank">
    Target=”_blank” — the most underestimated vulnerability ever</a><br>

  <h3 id="servers">Servers</h3>
  <a href="https://github.com/phanan/htaccess" target="_blank">.htaccess snippets</a><br>
  <a href="https://serversforhackers.com/" target="_blank">Servers for Hackers</a> - server admin for programmers<br>

  <h3 id="static">Static Websites</h3>
  <a href="http://zellwk.com/blog/deploy-static-site/" target="_blank">
    Deploying a Static Site with Cron and Git</a><br>
  <a href="https://staticapps.org/" target="_blank">Field Guide to Static Apps</a><br>
  <a href="https://www.smashingmagazine.com/2015/11/static-website-generators-jekyll-middleman-roots-hugo-review/" target="_blank">Static website generators reviewed</a> - Smashing Magazine<br>
  <a href="http://cloudcannon.com/tips/2014/12/12/the-ultimate-list-of-services-for-static-websites.html" target="_blank">Ultimate list of services for static websites</a><br>

  <h3 id="user">User Experience</h3>
  <a href="http://www.uxdesignedge.com/2013/11/design-hacking-great-ux-without-time-money-or-design-skills/" target="_blank">
    Design Hacking: Great UX without time, money, or design skills</a><br>
  <a href="http://www.uxdesignedge.com/2011/11/don%E2%80%99t-design-like-a-programmer-part-3/" target="_blank">
    Don't design like a programmer</a><br>

</div>

</div><br><br><br><br><br>  <!--row-->










<h2 id="tools-heading">Tools</h2>

<div class="row">

<div class="col-md-4">
  <div id="links" class="sidebar">
    <ul>
      <li>
        <a href="#accessibility">Accessiblity</a>
      </li>
      <li>
        <a href="#browsers">Browsers</a>
      </li>
      <li>
        <a href="#browser-extensions">Browser Extensions</a>
      </li>
      <li>
        <a href="#cloud">Cloud Storage</a>
      </li>
      <li>
        <a href="#content-delivery">Content Delivery</a>
      </li>
      <li>
        <a href="#content-management">Content Management</a>
      </li>
      <li>
        <a href="#database">Database</a>
      </li>
      <li>
        <a href="#debugging">Debugging</a>
      </li>
      <li>
        <a href="#decentralized">Decentralized Computing</a>
      </li>
      <li>
        <a href="#editors">Editors</a>
      </li>
      <li>
        <a href="#git">Git</a>
      </li>
      <li>
        <a href="#google">Google</a>
      </li>
      <li>
        <a href="#lists">Lists</a>
      </li>
      <li>
        <a href="#microsoft">Microsoft</a>
      </li>
      <li>
        <a href="#pdf">PDF</a>
      </li>
      <li>
        <a href="#privacy">Privacy</a>
      </li>
      <li>
        <a href="#project">Project Management</a>
      </li>
      <li>
        <a href="#seo">SEO</a>
      </li>
      <li>
        <a href="#static">Static Sites</a>
      </li>
      <li>
        <a href="#web">Web Servers</a>
      </li>
      <li>
        <a href="#webpack">Webpack</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-7 col-md-offset-1">
  <a href="http://www.7-zip.org/" target="_blank">7 Zip</a> - file archiver<br>
  <a href="https://acrobat.adobe.com/" target="_blank">Acrobat Reader</a> - PDF viewer<br>
  <a href="http://chromerestclient.appspot.com/" target="_blank">Advanced REST Client</a> - create and test custom HTTP requests<br>
  <a href="http://ankisrs.net/" target="_blank">Anki</a> - flash cards<br>
  <a href="https://blackfire.io/" target="_blank">Blackfire</a> - performance monitoring<br>
  <a href="http://www.brokenlinkcheck.com/" target="_blank">Broken Link Checker</a> - find dead links<br>
  <a href="http://browserify.org/" target="_blank">Browserify</a> - JavaScript with modules<br>
  <a href="http://www.timeanddate.com/calendar/" target="_blank">Calendar</a> - online calendar<br>
  <a href="http://checkgzipcompression.com/" target="_blank">check GZIP compression</a> - server tester<br>
  <a href="http://codepen.io/" target="_blank">CodePen</a> - front end code<br>
  <a href="https://getcomposer.org/" target="_blank">Composer</a> - PHP dependency management<br>
  <a href="https://conemu.github.io/" target="_blank">ConEmu</a> - Windows terminal alternative<br>
  <a href="http://client.cors-api.appspot.com/client" target="_blank">CORS testing tool</a><br>
  <a href="http://deployer.org/" target="_blank">Deployer</a> - PHP deployment tool<br>
  <a href="https://fast.com/" target="_blank">Fast</a> - Netflix download spead measurer<br>
  <a href="http://www.favicon.cc/" target="_blank">Favicon.cc</a> - favicon maker<br>
  <a href="http://www.telerik.com/fiddler" target="_blank">Fiddler</a> - web traffic debugging<br>
  <a href="https://filezilla-project.org/" target="_blank">FileZilla</a> - FTP client<br>
  <a href="http://gulpjs.com/" target="_blank">Gulp</a> - workflow automation<br>
  <a href="http://jsbin.com/?html,js,output" target="_blank">JS Bin</a> - front end code<br>
  <a href="http://jsfiddle.net/" target="_blank">JS Fiddle</a> - front end code<br>
  <a href="http://jsonplaceholder.typicode.com/" target="_blank">JSONPlaceholder</a> - fake online REST API for testing and prototyping<br>
  <a href="https://letsencrypt.org/" target="_blank">Let's Encrypt</a> - free certificate authority <br>
  <a href="https://mailhero.io/" target="_blank">Mailhero</a> - reduce email spam<br>
  <a href="https://www.malwarebytes.org/" target="_blank">Malwarebytes</a> - anti-malware<br>
  <a href="https://www.mindmup.com/" target="_blank">MindMup</a> - mind mapping<br>
  <a href="http://www.neverware.com/" target="_blank">Neverware CloudReady</a> - turn an old PC into a Chromebook<br>
  <a href="http://www.noisli.com/" target="_blank">Background sounds to improve focus and productivity</a><br>
  <a href="https://www.openshift.com/" target="_blank">OpenShift</a> - web deployment<br>
  <a href="http://pa11y.org/" target="_blank">pa11y</a> - automated accessibility testing<br>
  <a href="https://github.com/squizlabs/PHP_CodeSniffer" target="_blank">PHP CodeSniffer</a> - detects violation of coding standards<br>
  <a href="http://www.phpdoc.org/" target="_blank">phpDocumentor</a> - creates documentation from source code<br>
  <a href="http://tools.pingdom.com/fpt/" target="_blank">pingdom</a> - website speed test<br>
  <a href="https://www.getpostman.com/" target="_blank">Postman</a> - test HTTP requests and APIs<br>
  <a href="http://www.putty.org/" target="_blank">PuTTY</a> - SSH client<br>
  <a href="http://regexr.com/" target="_blank">RegExr</a> - regular expression builder / tester<br>
  <a href="http://responsivepx.com/" target="_blank">responsivepx</a> - Find that tricky breakpoint<br>
  <a href="http://rocketeer.autopergamene.eu/" target="_blank">Rocketeer</a> - PHP deployment<br>
  <a href="https://mozilla.github.io/server-side-tls/ssl-config-generator/" target="_blank">SSL Configuration Generator</a> - by Mozilla<br>
  <a href="http://www.2brightsparks.com/freeware/freeware-hub.html" target="_blank">SyncBack</a> - backup software<br>
  <a href="https://styleci.io/" target="_blank">StyleCI</a> - PHP coding style service<br>
  <a href="http://www.onlineconversion.com/unix_time.htm" target="_blank">Unix Time Conversion</a><br>
  <a href="https://www.virtualbox.org/" target="_blank">Virtual Box</a> - virtualization<br>
  <a href="http://webkay.robinlinus.com/" target="_blank">What every browser knows about you</a><br>
  <a href="https://windirstat.info/" target="_blank">WinDirStat</a> - disk space analyzer<br>
  <a href="http://www.wingrep.com/" target="_blank">Windows Grep</a> - file finding utility<br>
  <a href="https://winscp.net/eng/index.php" target="_blank">WinSCP</a> - FTP client<br>
  <a href="http://winmerge.org/" target="_blank">WinMerge</a> - file compare utility<br>
  <a href="https://www.apachefriends.org/index.html" target="_blank">XAMPP</a> - local PHP development environment<br>

  <h3 id="accessibility">Accessibility</h3>
  <a href="http://colorsafe.co/" target="_blank">Color Safe</a> - accessible text colors<br>
  <a href="http://wave.webaim.org/" target="_blank">WAVE</a> - web accessibility evaluation tool<br>

  <h3 id="browsers">Browsers</h3>
  <a href="https://www.brave.com/" target="_blank">Brave</a><br>
  <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">Chrome</a><br>
  <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_blank">Edge</a><br>
  <a href="https://www.mozilla.org/en-US/firefox/products/" target="_blank">Firefox</a><br>
  <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">
    Internet Explorer</a><br>
  <a href="http://www.opera.com/" target="_blank">Opera</a><br>
  <a href="https://support.apple.com/downloads/safari" target="_blank">Safari</a><br>
  <a href="https://www.torproject.org/" target="_blank">Tor</a><br>


  <h3 id="browser-extensions">Browser Extensions</h3>
  <a href="http://builtwith.com/" target="_blank">BuiltWith</a> - what websites are built with<br>
  <a href="https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka" target="_blank">
    Eye Dropper</a> - browser extension color picker<br>
  <a href="https://lastpass.com/" target="_blank">LastPass</a> - password manager<br>
  <a href="https://chrome.google.com/webstore/detail/lorem-ipsum-generator/dmpfoncmmihgkooacnplecaopcefceam" target="_blank">
    Lorem Ipsum Generator</a> - browser extension<br>
  <a href="https://nimbus.everhelper.me/screenshot.php" target="_blank">Nimbus Screenshot</a> - capture browser display<br>
  <a href="http://chrispederick.com/work/web-developer/" target="_blank">Web Developer</a> - browser extension with various tools<br>
  <a href="http://chengyinliu.com/whatfont.html" target="_blank">WhatFont</a> - font identifier<br>
  <a href="http://xmarks.com/" target="_blank">Xmarks</a> - bookmark synchronizer<br>

  <h3 id="cloud">Cloud Storage</h3>
  <a href="https://www.dropbox.com/" target="_blank">DropBox</a><br>
  <a href="https://www.google.com/drive/" target="_blank">Google Drive</a><br>
  <a href="https://onedrive.live.com/about/en-us/" target="_blank">OneDrive</a><br>

  <h3 id="content-delivery">Content Delivery</h3>
  <a href="https://cdnjs.com/libraries" target="_blank">cdnjs</a> - content delivery<br>
  <a href="https://medium.com/surge-sh/introducing-surge-the-cdn-for-front-end-developers-b4a50a61bcfc#.taxbalagl" target="_blank">
    Introducing Surge</a><br>
  <a href="https://github.com/jsdelivr/jsdelivr" target="_blank">jsDeliver</a> - free and open source CDN<br>
  <a href="https://surge.sh/" target="_blank">Surge</a><br>

  <h3 id="content-management">Content Managment</h3>
  <a href="https://bolt.cm/" target="_blank">Bolt</a><br>
  <a href="http://austintoddj.github.io/Canvas/" target="_blank">Canvas</a> - built with Laravel<br>
  <a href="https://craftcms.com/" target="_blank">Craft CMS</a><br>
  <a href="http://processwire.com/" target="_blank">ProcessWire</a><br>

  <h3 id="database">Database</h3>
  <a href="https://www.mysql.com/products/workbench/" target="_blank">MySQL Workbench</a> - data migration<br>
  <a href="http://www.pgadmin.org/" target="_blank">pgAdmin</a> - PostgreSQL database management<br>
  <a href="https://www.phpmyadmin.net/" target="_blank">phpMyAdmin</a> - MySQL administration<br>
  <a href="http://www.ldapbrowser.com/" target="_blank">Softerra LDAP Administrator</a> - LDAP database viewing<br>

  <h3 id="debugging">Debugging</h3>
  <a href="http://phpdebugbar.com/" target="_blank">PHP Debug Bar</a><br>

  <h3 id="decentralized">Decentralized Computing</h3>
  <a href="https://ethereum.org/" target="_blank">Ethereum</a> - decentralized software platform<br>
  <a href="https://github.com/HelloZeroNet/ZeroNet" target="_blank">ZeroNet</a> - decentralized websites using Bitcoin crypto and BitTorrent network<br>

  <h3 id="editors">Editors</h3>
  <a href="https://atom.io/" target="_blank">Atom</a> - text editor<br>
  <a href="https://eclipse.org/" target="_blank">Eclipse</a> - IDE<br>
  <a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a> - text to HTML conversion<br>
  <a href="https://github.com/TailorDev/monod" target="_blank">Monod</a> - Markdown editor<br>
  <a href="https://netbeans.org/" target="_blank">NetBeans</a> - IDE<br>
  <a href="https://notepad-plus-plus.org/" target="_blank">Notepad++</a> - text editor<br>
  <a href="http://simpledown.snazzyham.com/" target="_blank">Simpledown</a> - Online markdown text editor<br>
  <a href="https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx" target="_blank">
    Visual Studio</a> - community edition<br>

  <h3 id="git">Git</h3>
  <a href="https://bitbucket.org/" target="_blank">Bitbucket</a> - git code repositories<br>
  <a href="http://git-scm.com/" target="_blank">Git</a> - code and file management<br>
  <a href="https://github.com/" target="_blank">GitHub</a> - git code repositories<br>
  <a href="https://about.gitlab.com/" target="_blank">GitLab</a> - git code repositories<br>

  <h3 id="google">Google</h3>
  <a href="https://www.google.com/analytics/" target="_blank">Google Analytics</a> - website traffic tracker<br>
  <a href="https://calendar.google.com/" target="_blank">Google Calendar</a> - calendar<br>
  <a href="https://docs.google.com/" target="_blank">Google Docs</a> - word processing, spreadsheets<br>
  <a href="https://mail.google.com/" target="_blank">Google Mail</a> - email<br>

  <h3 id="lists">Lists</h3>
  <a href="http://fredsarmento.me/frontend-tools/" target="_blank">Frontend Tools</a> - Fred Sarmento<br>

  <h3 id="microsoft">Microsoft</h3>
  <a href="https://www.microsoft.com/en-us/download/office.aspx" target="_blank">Microsoft Office</a><br>
  <a href="https://www.onenote.com/" target="_blank">Microsoft One Note</a> - note taking<br>
  <a href="http://windows.microsoft.com/en-us/windows/security-essentials-download" target="_blank">Microsoft Security Essentials</a> - anti-virus<br>

  <h3 id="pdf">PDF</h3>
  <a href="https://www.cutepdf-editor.com/edit.asp" target="_blank">CutePDF</a> - online PDF editor<br>

  <h3 id="privacy">Privacy</h3>
  <a href="https://www.ghostery.com/" target="_blank">Ghostery</a><br>
  <a href="https://www.eff.org/privacybadger" target="_blank">Privacy Badger</a><br>

  <h3 id="project">Project Management</h3>
  <a href="https://asana.com" target="_blank">Asana</a> - project management<br>
  <a href="https://en.todoist.com/" target="_blank">Todoist</a> - to do list<br>
  <a href="https://trello.com/" target="_blank">Trello</a> - simple project management<br>

  <h3 id="seo">SEO</h3>
  <a href="http://saijogeorge.com/best-marketing-tools/" target="_blank">SEO tools</a> - list<br>

  <h3 id="static">Static Sites</h3>
  <a href="https://formspree.io/" target="_blank">Formspree</a> - forms for static sites<br>
  <a href="https://pages.github.com/" target="_blank">GitHub Pages</a> - deploy static sites<br>
  <a href="https://pages.gitlab.io/" target="_blank">GitLab Pages</a> - deploy static sites<br>
  <a href="http://harpjs.com/" target="_blank">Harp</a> - JavaScript static site generator<br>
  <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> - Ruby based static site generator<br>
  <a href="http://jigsaw.tighten.co/" target="_blank">Jigsaw</a> - Laravel-centric static site creator<br>
  <a href="https://app.netlify.com/" target="_blank">Netlify</a> - deploy static sites<br>


  <h3 id="web">Web Servers</h3>
  <a href="https://caddyserver.com/" target="_blank">Caddy</a><br>
  <a href="http://pancakehttp.net/" target="_blank">Pancake</a><br>


  <h3 id="webpack">Webpack</h3>
  <a href="https://github.com/linuxenko/unstuck-webpack" target="_blank">
    Unstuck webpack</a> - webpack project creation<br>

</div>

</div><br><br><br><br><br>  <!--row-->










<h2 id="vue-js">Vue.js</h2>

<div class="row">

<div class="col-md-4">
  <div id="links" class="sidebar">
    <ul>
      <li>
        <a href="#articles">Articles and Presentations</a>
      </li>
      <li>
        <a href="#code">Code Libraries</a>
      </li>
      <li>
        <a href="#laravel">Laravel</a>
      </li>
      <li>
        <a href="#news">News and Blogs</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-7 col-md-offset-1">
  <a href="https://github.com/vuejs/vue/wiki/1.0.0-binding-syntax-cheatsheet" target="_blank">Binding syntax</a> - cheatsheet<br>
  <a href="https://laracasts.com/series/learning-vue-step-by-step" target="_blank">Laracasts</a> - Vue Step by Step series<br>
  <a href="https://github.com/vuejs/awesome-vue" target="_blank">Resources</a> - GitHub awesome list<br>
  <a href="https://twitter.com/vuejs" target="_blank">Twitter</a> - Vue.js<br>
  <a href="http://vuejs.org/api/" target="_blank">Vue API</a><br>
  <a href="http://vuejs.org/guide/" target="_blank">Vue Guide</a><br>



  <h3 id="articles">Articles and Presentations</h3>
  <a href="http://tutorialzine.com/2016/03/5-practical-examples-for-learning-vue-js/" target="_blank">
    5 Practical Examples for Learning Vue.js</a> - Tutorialzine<br>
  <a href="https://medium.com/the-vue-point/announcing-vue-js-2-0-8af1bde7ab9#.2036ctrlp" target="_blank">
    Announcing Vue.js 2.0</a><br>
  <a href="https://auth0.com/docs/quickstart/spa/vuejs/no-api" target="_blank">
    Auth0 and Vue.js</a><br>
  <a href="http://heucke.io/web-dev/" target="_blank">
    The Beginner's Guide to Front End Web Development with Vue</a><br>
  <a href="https://scotch.io/tutorials/build-a-single-page-time-tracking-app-with-vue-js-introduction" target="_blank">
    Build a Single Page Time Tracking App with Vue.js</a><br>
  <a href="https://scotch.io/tutorials/build-an-app-with-vue-js-a-lightweight-alternative-to-angularjs" target="_blank">
    Build an App with Vue.js</a> - Scotch.io<br>
  <a href="https://auth0.com/blog/2015/11/13/build-an-app-with-vuejs/" target="_blank">
    Build an App with Vue.js: From Authentication to Calling an API</a> - Auth0<br>
  <a href="https://benjaminlistwon.com/getting-started-with-vuejs" target="_blank">
    Getting started with Vue.js</a> - Benjamin Listwon<br>
  <a href="http://taha-sh.com/blog/the-ridiculously-easy-way-to-animate-your-applications-with-vuejs" target="_blank">
    The Ridiculously Easy Way to Animate Your Applications With VueJS</a> - Taha Shashtari<br>
  <a href="https://www.firebase.com/blog/2016-04-13-vuefire.html" target="_blank">
    VueFire - Firebase meets Vue.js</a> - Evan You<br>
  <a href="http://www.skyronic.com/2016/04/13/vue-slots-example/" target="_blank">
    Vue Slots - Why would you need them?</a><br>
  <a href="http://coligo.io/vuejs-the-basics/" target="_blank">
    VueJs: The Basics</a><br>
  <a href="http://skyronic.com/2016/01/03/vuex-basics-tutorial/" target="_blank">Vuex basics</a> - Anirudh Sanjeev<br>

  <h3 id="code">Code Libraries</h3>
  <a href="http://gritcode.github.io/gritcode-components/" target="_blank">Gritcode components</a> - file upload, wizard, offcanvas drawer, others<br>
  <a href="http://yuche.github.io/vue-strap/" target="_blank">VueStrap</a> - Bootstrap components built with Vue<br>

  <h3 id="laravel">Laravel</h3>
  <a href="https://www.youtube.com/watch?v=qA5PlSh2Qq8" target="_blank">
    CRUD with Vue JS</a><br>
  <a href="https://murze.be/2016/06/building-dashboard-using-laravel-vue/" target="_blank">
    Building a dashboard using Laravel, Vue.js and Pusher</a><br>
  <a href="https://metricloop.com/blog/how-to-use-vuejs-with-laravel-for-the-first-time" target="_blank">
    How to use Vue.js with Laravel</a><br>
  <a href="https://blog.tighten.co/setting-up-your-first-vuejs-site-using-laravel-elixir-and-vueify" target="_blank">
    Setting up your first Vue.js site using Laravel Elixir and Vueify</a>- Matt Stauffer<br>

  <h3 id="news">News and Blogs</h3>
  <a href="http://taha-sh.com/" target="_blank">Taha Shashtari</a><br>
  <a href="https://twitter.com/vuejs" target="_blank">Twitter</a> - Vue.js<br>


</div>

</div><br><br><br><br><br>  <!--row-->

</div>
