<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="links" class="sidebar">
        <ul>
          <li>
            <a href="#better-web">Better Web</a>
          </li>
          <li>
            <a href="#better-world">Better World</a>
          </li>
          <li>
            <a href="#career">Career Management</a>
          </li>
          <li>
            <a href="#lifelong">Lifelong Learning</a>
          </li>
          <li>
            <a href="#mental">Mental Health</a>
          </li>
          <li>
            <a href="#programmers">Programmers</a>
          </li>
          <li>
            <a href="#programming">Programming</a>
          </li>
          <li>
            <a href="#project">Project Management</a>
          </li>
          <li>
            <a href="#working">Working Remotely</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-7 col-md-offset-1">

      <a href="https://medium.com/@jkriss/anti-capitalist-human-scale-software-and-why-it-matters-5936a372b9d#.bga3ditae" target="_blank">
        Anti-capitalist human scale software (and why it matters)</a> - Jesse Kriss<br>
      <a href="http://exilelifestyle.com/big-picturing/" target="_blank">
        Big Picturing</a> - Colin Wright<br>
      <a href="http://classicprogrammerpaintings.com/" target="_blank">
        Classic programmer paintings</a><br>
      <a href="http://fusion.net/story/325231/google-deletes-dennis-cooper-blog/" target="_blank">
        Google deletes artist’s blog and a decade of his work along with it</a><br>
      <a href="http://www.theverge.com/2016/2/17/11030406/neverware-google-chromebook-chromium-os-education-microsoft" target="_blank">
        How schools are turning dead PCs into speedy Chromebooks</a><br>
      <a href="https://medium.freecodecamp.com/2-out-of-3-developers-are-self-taught-and-other-insights-from-stack-overflow-s-2016-survey-of-50-8cf0ee5d4c21#.df7gm7rvs" target="_blank">
        Insights from Stack Overflow’s 2016 survey of 50,000 developers</a><br>
      <a href="http://www.2ality.com/2016/02/js-fatigue-fatigue.html" target="_blank">
        JavaScript fatigue fatigue</a> - Dr. Axel Rauschmayer<br>
      <a href="http://www.sitepoint.com/javascript-tooling-anxiety-help/" target="_blank">
        JavaScript Tooling Anxiety — Help Is at Hand</a><br>
      <a href="https://medium.com/@billjordan1/the-quiet-crisis-unfolding-in-software-development-cffbdafbf450#.zd4jeouk4" target="_blank">
        Quiet Crisis unfolding in Software Development</a><br>
      <a href="http://www.bloomberg.com/graphics/2015-paul-ford-what-is-code/" target="_blank">
        What Is Code?</a> - Paul Ford<br>

      <h3 id="better-web">Better Web</h3>
        <a href="https://blog.blockstack.org/" target="_blank">
          blockstack blog</a><br>
        <a href="https://cryptech.is/" target="_blank">
          CrypTech</a><br>
        <a href="http://www.decentralizedweb.net/" target="_blank">
          Decentralized Web Summit</a><br>
        <a href="http://www.svds.com/ethereum-the-rise-of-the-world-computer/#.Vs3MJboMMl0.facebook" target="_blank">
          Ethereum: Rise of the World Computer</a><br>
        <a href="http://spectrum.ieee.org/view-from-the-valley/telecom/internet/the-fathers-of-the-internet-revolution-urge-todays-pioneers-to-reinvent-the-web" target="_blank">
          Fathers of the Internet Revolution Urge Today’s Software Engineers to Reinvent the Web</a><br>
        <a href="http://elaineou.com/2016/07/18/stick-a-fork-in-ethereum/" target="_blank">
          Stick a Fork in Ethereum</a><br>
        <a href="http://www.nytimes.com/2016/06/08/technology/the-webs-creator-looks-to-reinvent-it.html?_r=0" target="_blank">
          Web’s Creator Looks to Reinvent It</a><br>
        <a href="https://zeronet.io/" target="_blank">
          Zero Net</a><br>

      <h3 id="better-world">Better World</h3>
      <a href="https://drive.google.com/file/d/0B2vDBY9AHUjQN0tJYXlLUmtJUVE/view?pref=2&pli=1" target="_blank">
        A Guide for White Allies Confronting Racial Injustice</a><br>
      <a href="https://www.facebook.com/notes/arnold-schwarzenegger/i-dont-give-a-if-we-agree-about-climate-change/10153855713574658" target="_blank">
        I Don't Give a **** If We Agree About Climate Change</a> - Arnold Schwarzenegger<br>
      <a href="http://www.womenhackfornonprofits.com/" target="_blank">
        Women Hack for Non-Profits</a><br>

      <h3 id="career">Career Management</h3>
      <a href="https://www.microsoft.com/en-gb/developers/articles/week02may16/10-top-developer-portfolios/" target="_blank">
        10 top developer portfolios</a><br>
      <a href="https://80000hours.org/career-guide/how-to-get-a-job/" target="_blank">
        All the best advice we could find on how to get a job</a><br>
      <a href="https://medium.com/@akosma/being-a-developer-after-40-3c5dd112210c#.fibdm46rb" target="_blank">
        Being A Developer After 40</a><br>
      <a href="http://haseebq.com/how-to-break-into-tech-job-hunting-and-interviews/" target="_blank">
        How to Break Into the Tech Industry—a Guide to Job Hunting and Tech Interviews</a><br>
      <a href="https://news.ycombinator.com/item?id=11449133" target="_blank">
        How to detect a toxic environment when interviewing</a><br>
      <a href="https://features.wearemel.com/ill-retire-when-i-m-dead-why-continuing-to-work-is-good-for-a-man-s-health-c3053052d136#.mxmlux3tn" target="_blank">
        I’ll Retire When I’m Dead: Why Continuing to Work Is Good for a Man’s Health</a><br>
      <a href="https://gitlab.com/doctorj/interview-questions" target="_blank">
        Questions to Ask a Potential Tech Employer</a><br>
      <a href="https://medium.com/javascript-scene/tech-hiring-has-always-been-broken-heres-how-i-survived-it-for-decades-b7ac33088de6#.r38q1hnvy" target="_blank">
        Tech Hiring Has Always Been Broken. Here’s How I Survived it for Decades.</a> - Eric Elliott<br>
      <a href="https://medium.com/life-learning/why-quitting-your-job-to-chase-your-dream-is-a-terrible-idea-a3269e281eda#.ibpilu895" target="_blank">
        Why Quitting Your Job to Chase Your Dream Is a Terrible Idea</a><br>
      <a href="https://medium.freecodecamp.com/the-tech-recruiter-red-pill-967dd492560c#.wsiai0h9y" target="_blank">
        Why so many developers hate recruiters</a><br>
      <a href="https://medium.freecodecamp.com/you-in-6-seconds-how-to-write-a-r%C3%A9sum%C3%A9-that-employers-will-actually-read-fd7757740802#.10svolj40" target="_blank">
        You in 6 seconds: how to write a résumé that employers will actually read</a><br>
      <a href="http://seldo.com/weblog/2014/08/26/you_suck_at_technical_interviews" target="_blank">
        You suck at technical interviews</a><br>

      <h3 id="lifelong">Lifelong Learning</h3>
      <a href="http://www.johnmorrisonline.com/fridays-off-best-way-become-full-time-developer/" target="_blank">
        The best way to become a full-time developer</a><br>
      <a href="http://akaptur.com/blog/2015/10/10/effective-learning-strategies-for-programmers/" target="_blank">
        Effective Learning Strategies for Programmers</a> - Allison Kaptur<br>
      <a href="https://timkadlec.com/2015/09/the-fallacy-of-keeping-up/" target="_blank">
        The Fallacy of Keeping Up</a> - Tim Kadlec<br>
      <a href="http://www.larryullman.com/2012/12/19/how-to-become-a-web-developer-resources/?utm_source=feedburner&utm_medium=twitter&utm_campaign=Feed%3A+larryullman%2FbMsj+%28Larry+Ullman%29&utm_content=FaceBook" target="_blank">
        How to Become a Web Developer</a> - Larry Ullman<br>
      <a href="https://medium.freecodecamp.com/the-practical-guide-to-becoming-a-professional-web-developer-2f255bc25c90#.tiyfctbgk" target="_blank">
        Practical Guide to Becoming a Professional Web Developer</a><br>
      <a href="https://medium.com/@djsmith42/what-web-framework-should-i-learn-a9285925ca1f#.fmed7ev7b" target="_blank">
        What web framework should I learn?</a> - Dave Smith<br>
      <a href="https://medium.com/the-mission/why-constant-learners-all-embrace-the-5-hour-rule-8836f554da1#.na32hwd3p" target="_blank">
        Why Constant Learners All Embrace the 5-Hour Rule</a><br>

      <h3 id="mental">Mental Health</h3>
      <a href="https://www.ted.com/talks/mihaly_csikszentmihalyi_on_flow?language=en#t-923984" target="_blank">
        Flow, the secret to happiness</a> - Mihaly Csikszentmihalyi<br>
      <a href="https://www.youtube.com/watch?v=wtrF5C7Gv7E&index=9&list=PLMdXHJK-lGoA9SIsuFy0UWL8PZD1G3YFZ" target="_blank">
        Impostor Syndrome and Individual Competence</a> - Jessica Rose<br>
      <a href="http://randsinrepose.com/archives/shields-down/" target="_blank">
        Shields Down - Happy People Don't Leave Jobs They Love</a> - Michael Lopp<br>
      <a href="https://www.youtube.com/watch?v=0DFh5n8VeBo" target="_blank">
        Stronger Than Fear: Mental Health in the Developer Community</a> - Ed Finkler<br>
      <a href="http://www.belenalbeza.com/top-developers-can-have-a-life-outside-coding/" target="_blank">
        Top developers can have a life outside coding</a><br>

      <h3 id="programmers">Programmers</h3>
      <a href="https://medium.com/art-marketing/being-a-female-developer-6f0dd6692598#.e4sijiay5" target="_blank">
        Being a female developer</a> - Sanni Yettie<br>
      <a href="https://www.theguardian.com/world/2016/jul/26/code-club-senegal-where-women-lead-the-way" target="_blank">
        Code club Senegal, where women are leading the way</a><br>
      <a href="https://medium.com/@Svenskunganka/interviewing-my-mother-a-mainframe-cobol-programmer-c693d40d88f7#.1d33f9blq" target="_blank">
        Interviewing my mother, a mainframe COBOL programmer</a><br>
      <a href="http://www.asahi-net.or.jp/~cs8k-cyu/blog/2014/12/12/games-in-2014/" target="_blank">
        I Have Created 50 Games in 2014</a><br>
      <a href="https://medium.com/code-like-a-girl/i-teach-seniors-how-to-use-technology-b9e4788d8ce7#.uf5bmhvqq" target="_blank">
        I Teach Seniors How to Use Technology</a><br>
      <a href="http://www.theguardian.com/culture/2015/nov/16/nina-freeman-punk-poet-game-designer-cibele-interview" target="_blank">
        Meet Nina Freeman, the punk poet of gaming</a> - Keith Stuart<br>
      <a href="http://www.theguardian.com/commentisfree/2016/mar/07/secret-life-games-programmer" target="_blank">
        Secret Life of a Games Programmer</a><br>




      <h3 id="programming">Programming</h3>
      <a href="https://medium.com/statuscode/7-sites-to-help-you-relax-and-focus-whilst-programming-16057afe90da#.od3qdqqzc" target="_blank">
        7 Sites To Help You Focus While Programming</a><br>
      <a href="http://classicprogrammerpaintings.com/" target="_blank">
        Classic programmer paintings</a><br>
      <a href="https://www.exceptionnotfound.net/code-is-never-perfect-code-is-only-ever-good-enough/" target="_blank">
        Code Is Never "Perfect", Code Is Only Ever "Good Enough"</a><br>
      <a href="http://www.programmingforbeginnersbook.com/blog/friction_between_programming_professionals_and_beginners/" target="_blank">
        Friction Between Programming Professionals and Beginners</a> - Tom  Dalling<br>
      <a href="http://iansommerville.com/systems-software-and-technology/giving-up-on-test-first-development/" target="_blank">
        Giving up on test-first development</a> - Ian Sommerville<br>
      <a href="http://henrikwarne.com/2015/04/16/lessons-learned-in-software-development/" target="_blank">
        Lessons Learned in Software Development</a> - Henrik Warne<br>
      <a href="https://medium.freecodecamp.com/one-does-not-simply-learn-to-code-f25bacdc5b62#.owrwfohr2" target="_blank">
        One does not simply learn to code</a><br>
      <a href="http://www.theatlantic.com/technology/archive/2015/11/programmers-should-not-call-themselves-engineers/414271/" target="_blank">
        Programmers: Stop Calling Yourselves Engineers</a> - Ian Bogost<br>
      <a href="http://lwn.net/Articles/641779/" target="_blank">
        Programming talent myth</a> - Jake Edge<br>
      <a href="http://thetomorrowlab.com/2015/01/why-developers-hate-being-interrupted/" target="_blank">
        Why developers hate being interrupted</a> - Derek Johnson<br>
      <a href="http://joearms.github.io/2014/02/07/why-programming-is-difficult.html" target="_blank">
        Why Programming Is Difficult</a> - Joe Armstrong<br>
      <a href="http://chrismm.com/blog/how-to-reduce-the-cognitive-load-of-your-code/" target="_blank">
        Writing good code: how to reduce cognitive load</a><br>

      <h3 id="project">Project Management</h3>
      <a href="http://alistapart.com/blog/post/pinpointing-expectations" target="_blank">
        Pinpointing Expectations</a><br>
        <a href="http://chrismm.com/blog/software-estimations-are-impossible/" target="_blank">
          Project delays: why good software estimates are impossible</a> - Christian M. Mackeprang<br>
      <a href="http://alistapart.com/blog/post/show-your-work-demonstrating-progress-on-your-projects" target="_blank">
        Show Your Work</a><br>

      <h3 id="working">Working Remotely</h3>
      <a href="https://m.signalvnoise.com/why-i-work-remotely-hint-it-has-nothing-to-do-with-productivity-34ace30f74fc#.5sl95yot8" target="_blank">
        Why I Work Remotely</a> - Jason Zimdars<br>
      <a href="http://www.psmag.com/business-economics/office-youre-already-dead-to-me-leave-us-alone-gawd" target="_blank">
        Why the Future of Work Is at Home</a> - Alana Massey<br>

    </div>




    

  </div>
</div>


<!--
<a href="XXXXX" target="_blank">XXXXX</a> - XXXXXX<br>

<a href="XXXXX" target="_blank">XXXXX</a><br>
-->
