<div class="container">
  <div class="row">
    <div class="col-md-4">
      <br><br>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <a href="http://www.bloombergview.com/articles/2016-05-02/a-basic-income-should-be-the-next-big-thing" target="_blank">
        A Basic Income Should Be the Next Big Thing</a><br>
      <a href="http://www.theatlantic.com/business/archive/2016/04/absurd-primacy-of-the-car-in-american-life/476346/?single_page=true" target="_blank">
        Absurd Primacy of the Automobile in American Life</a><br>
      <a href="http://zenhabits.net/true-way/" target="_blank">
        Avoid the Tendency to Think Your Way is the True Way</a> - Leo Babauta<br>
      <a href="http://well.blogs.nytimes.com/2015/11/18/brawn-and-brains/?_r=0" target="_blank">
        Brawn and Brains</a> - Gretchen Reynolds<br>
      <a href="http://www.theatlantic.com/health/archive/2016/03/can-three-words-turn-anxiety-into-success/474909/?single_page=true77777777777777" target="_blank">
        Can Three Words Turn Anxiety Into Success?</a><br>
      <a href="http://taylorpearson.me/change-your-location-change-your-life/" target="_blank">
        Change Your Location. Change Your Life.</a><br>
      <a href="https://www.youtube.com/watch?v=Ouxj5ZFg_BM" target="_blank">
        Evolution's End</a> - Peter Russell<br>
      <a href="http://www.theawl.com/2016/05/the-experts-speak-its-good-to-be-wrong" target="_blank">
        Experts Have Spoken</a><br>
      <a href="https://medium.com/@thatdavidhopkins/how-a-tv-sitcom-triggered-the-downfall-of-western-civilization-336e8ccf7dd0#.x44ps2tp3" target="_blank">
        How a TV Sitcom Triggered the Downfall of Western Civilization</a><br>
      <a href="http://slatestarcodex.com/2015/12/24/how-bad-are-things/" target="_blank">
        How Bad Are Things?</a> - Scott Alexander<br>
      <a href="https://www.washingtonpost.com/news/wonk/wp/2015/10/19/how-to-act-less-stupid-according-to-psychologists/" target="_blank">
        How to act less stupid, according to psychologists</a> - Roberto A. Ferdman<br>
      <a href="https://crew.co/backstage/blog/isolation-and-creativity" target="_blank">
        Is solitude the secret to unlocking our creativity?</a><br>
      <a href="https://medium.com/@Dissident/the-list-of-books-men-must-read-before-messaging-me-about-feminism-3894594bf311#.6vi3i8vdr" target="_blank">
        List of Books Men Must Read Before Messaging Me About Feminism</a><br>
      <a href="http://www.nytimes.com/2015/04/21/upshot/simple-rules-for-healthy-eating.html" target="_blank">
        Simple Rules for Healthy Eating</a><br>
      <a href="https://www.chenhuijing.com/blog/healthier-dev/" target="_blank">
        Strategies for Healthier Dev</a><br>
      <a href="http://www.quietrev.com/the-surprising-benefits-of-a-quiet-ego/" target="_blank">
        Surprising Benefits of a Quiet Ego</a> - Scott Barry Kaufman<br>
      <a href="http://www.soundstrue.com/store/weeklywisdom?page=single&category=IATE&episode=11533&utm_source=bronto&utm_medium=email&utm_term=%E2%80%9CStanding+for+the+Spiritual+in+a+Secular+World.%E2%80%9D&utm_content=Standing+for+the+Spiritual+in+a+Secular+World&utm_campaign=TS160411-Moore&_bta_tid=3.RM0.A4Ysfg.BFPu.e4LB..AMlOTA.b..s.AIdZ.n...IrziKg&_bta_c=f1xr5brnnurzsw5cqgze4yol9rc7t" target="_blank">
        Thomas Moore: Standing for the Spiritual, in a Secular World</a><br>
      <a href="http://www.huffingtonpost.com/jamie-varon/to-anyone-who-thinks-theyre-falling-behind_b_9190758.html" target="_blank">
        To Anyone Who Thinks They're Falling Behind In Life</a> - Jamie Varon<br>
      <a href="http://www.theatlantic.com/business/archive/2016/06/would-a-world-without-work-be-so-bad/488711/" target="_blank">
        Would a Work-Free World Be So Bad?</a><br>
      <a href="http://www.theguardian.com/lifeandstyle/2016/apr/24/why-are-we-so-bored" target="_blank">
        Why are we so bored?</a><br>
      <a href="http://www.nytimes.com/2015/11/22/opinion/why-cool-is-still-cool.html?_r=1" target="_blank">
        Why ‘Cool’ Is Still Cool</a> - Jonah Berger<br>
      <a href="https://robindoherty.com/2016/01/06/nothing-to-hide.html" target="_blank">
        Why privacy is important, and having "nothing to hide" is irrelevant</a> - Robin Doherty<br>
      <a href="http://blogs.scientificamerican.com/guest-blog/you-can-increase-your-intelligence-5-ways-to-maximize-your-cognitive-potential/" target="_blank">
        You can increase your intelligence: 5 ways to maximize your cognitive potential</a><br>
    </div>

    

  </div>
</div>
