<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="links" class="sidebar">
        <ul>
          <li>
            <a href="#backbone">Backbone/Ampersand.js</a>
          </li>
          <li>
            <a href="#bash">Bash</a>
          </li>
          <li>
            <a href="#database">Database</a>
          </li>
          <li>
            <a href="#drupal">Drupal</a>
          </li>
          <li>
            <a href="#front-end-design">Front End Design</a>
          </li>
          <li>
            <a href="#front-end-development">Front End Development</a>
          </li>
          <li>
            <a href="#game">Game Development</a>
          </li>
          <li>
            <a href="#git">Git</a>
          </li>
          <li>
            <a href="#graphics">Graphics</a>
          </li>
          <li>
            <a href="#javascript">JavaScript 5</a>
          </li>
          <li>
            <a href="#javascript-6">JavaScript 6</a>
          </li>
          <li>
            <a href="#laravel">Laravel</a>
          </li>
          <li>
            <a href="#linux">Linux</a>
          </li>
          <li>
            <a href="#miscellaneous">Miscellaneous</a>
          </li>
          <li>
            <a href="#node">Node.js</a>
          </li>
          <li>
            <a href="#php">PHP</a>
          </li>
          <li>
            <a href="#python">Python</a>
          </li>
          <li>
            <a href="#react">React</a>
          </li>
          <li>
            <a href="#rest">Rest</a>
          </li>
          <li>
            <a href="#servers">Servers</a>
          </li>
          <li>
            <a href="#wordpress">WordPress</a>
          </li>
          <li>
            <a href="#yii">Yii</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <p>
        All of the books in this collection have been purchased by me, or have
        been made available for free by the authors and/or publishers, or are
        posted online by the authors and/or publishers.  Authentication is
        required to access the content of these books, except for the ones noted
        as being posted online.
      </p>
      <br>
      <div id="backbone">
        <h3 class="first">Backbone / Ampersand.js</h3>
        <a href="http://ebooks.bobhumphrey.org/book/Backbonejs-Cookbook" target="_blank">Backbone.js Cookbook</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Backbone.js-Testing" target="_blank">Backbone.js Testing</a><br>
        <a href="http://addyosmani.github.io/backbone-fundamentals/" target="_blank">Developing Backbone.js Applications (online)</a><br>
        <a href="http://read.humanjavascript.com/" target="_blank">Human JavaScript</a><br>
        <a href="http://pragmatic-backbone.com/" target="_blank">Pragmatic Guide to Backbone.js Apps</a><br>
      </div>

      <div id="bash">
        <h3>Bash</h3>
        <a href="http://www.tldp.org/LDP/Bash-Beginners-Guide/html/" target="_blank">Bash Guide for Beginners (online)</a><br>
        <a href="http://tldp.org/HOWTO/Bash-Prog-Intro-HOWTO.html" target="_blank">Introduction to Bash Programming (online)</a><br>
      </div>

      <div id="database">
        <h3>Database</h3>
        <a href="http://ebooks.bobhumphrey.org/book/aprimeronsql" target="_blank">A Primer on SQL</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Getting-Started-with-MariaDB" target="_blank">Getting Started with MariaDB</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Getting-Started-with-NoSQL" target="_blank">Getting Started with NoSQL</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/GraphDatabases" target="_blank">Graph Databases</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Instant-MongoDB" target="_blank">Instant MongoDB</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/LearningNeo4j_eBook" target="_blank">Learning Neo4jk</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/The Little MongoDB Book" target="_blank">Little MongoDB Book</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Mastering-phpMyAdmin-3.4-for-Effective-MySQL-Management" target="_blank">Mastering phpMyAdmin 3.4</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/MySQL-Admin-Cookbook" target="_blank">MySQL Admin Cookbook</a><br>
        <a href="http://www.techotopia.com/index.php/MySQL_Essentials" target="_blank">MySQL Essentials (online)</a><br>
      </div>

      <div id="drupal">
        <h3>Drupal</h3>
        <a href="http://ebooks.bobhumphrey.org/book/Drupal-7" target="_blank">Drupal 7</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Drupal-7-Business-Solutions" target="_blank">Drupal 7 Business Solutions</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Drupal-7-Cookbook" target="_blank">Drupal 7 Cookbook</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Drupal-7-Media" target="_blank">Drupal 7 Media</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Packtpub.Drupal.7.Module.Development.Dec.2010" target="_blank">Drupal 7 Module Development</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Drupal-7-Webform-Cookbook" target="_blank">Drupal 7 Webform Cookbook</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Apress.Pro.Drupal.7.Development.3rd.Edition.Dec.2010" target="_blank">Pro Drupal 7 Development</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/tiny-book-of-rules" target="_blank">The Tiny Book of Rules</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Using_Drupal" target="_blank">Using Drupal</a><br>
      </div>

      <div id="front-end-design">
        <h3>Front End Design</h3>
        <a href="http://ebooks.bobhumphrey.org/book/design_for_the_human_eye" target="_blank">Design for the Human Eye</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Pixel Perfect Precision" target="_blank">Pixel Perfect Precision</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Save_the_pixel" target="_blank">Save the Pixel</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/smashing-ebook-professional-web-design-2" target="_blank">Smashing Web Design</a><br>
      </div>

      <div id="front-end-development">
        <h3>Front End Development</h3>
        <a href="http://adaptivewebdesign.info/1st-edition/" target="_blank">Adaptive Web Design (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Art and Science of CSS" target="_blank">Art and Science of CSS</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Designing-Next-Generation-Web-Projects-with-CSS3" target="_blank">Designing Next Generation Web Projects with CSS</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Hello!HTML5andCSS3" target="_blank">Hello! HTML and CSS</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/High_Performance_Responsive_Design" target="_blank">High Performance Responsive Design</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/HTML5_and_CSS3_Transition_Transformation_and_Animation" target="_blank">HTML5 and CSS3 Transition, Transformation, and Animation</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/HTML_and_CSS_The_Good_Parts" target="_blank">HTML and CSS - The Good Parts</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/HTML5-Data-and-Services-Cookbook" target="_blank">HTML5 Data and Services Cookbook</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/HTML5-Web-Application-Development-By-Example-Beginner's-guide" target="_blank">HTML5 Web Development by Example</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Instant-Handlebars.js" target="_blank">Instant Handlebars</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/markdown" target="_blank">Learn Markdown</a><br>
        <a href="http://learn.shayhowe.com/html-css/" target="_blank">Learn to Code HTML & CSS (online)</a><br>
        <a href="http://learn.shayhowe.com/advanced-html-css/" target="_blank">Learn to Code Advanced HTML & CSS (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Learning-Highcharts" target="_blank">Learning Highcharts</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/book-of-html-css-frameworks" target="_blank">Little Book of HTML/CSS Frameworks</a><br>
        <a href="http://adamschwartz.co/magic-of-css/" target="_blank">Magic of CSS (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/QuickandEasyHTML5andCSS3" target="_blank">Quick and Easy HTML5 and CSS3</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Responsive-Web-Design-by-Example-Beginner's-Guide" target="_blank">Responsive Web Design by Example</a><br>
        <a href="http://sass-guidelin.es/" target="_blank">Sass Guidelines (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Transforms_in_CSS" target="_blank">Transforms in CSS</a><br>
        <a href="https://developers.google.com/web/fundamentals/" target="_blank">Web Fundamentals (Google)  (online)</a><br>
      </div>

      <div id="game">
        <h3>Game Development</h3>
        <a href="http://ebooks.bobhumphrey.org/book/Getting-Started-with-Unity" target="_blank">Getting Started with Unity</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/HTML5-Game-Development-with-ImpactJS" target="_blank">HTML5 Game Development with ImpactJS</a><br>
      </div>

      <div id="git">
        <h3>Git</h3>
        <a href="http://www.git-tower.com/learn/ebook/command-line/introduction" target="_blank">Learn Version Control with Git (online)</a><br>
        <a href="http://git-scm.com/book/en/v2" target="_blank">Pro Git (online)</a><br>
      </div>

      <div id="graphics">
        <h3>Graphics</h3>
        <a href="http://joshondesign.com/p/books/canvasdeepdive/toc.html" target="_blank">HTML Canvas Deep Dive (online)</a><br>
        <a href="https://github.com/jonitrythall/svgpocketguide/blob/master/svgpocketguide.md" target="_blank">Pocket Guide to Writing SVG (online)</a><br>
      </div>

      <div id="javascript">
        <h3>JavaScript 5</h3>
        <a href="https://github.com/airbnb/javascript" target="_blank">Airbnb JavaScript Style Guide (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Eloquent_JavaScript" target="_blank">Eloquent JavaScript</a><br>
        <a href="http://eloquentjavascript.net/" target="_blank">Eloquent JavaScript (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Express Web Application Development [eBook]" target="_blank">Express Web Application Development</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/JavaScript_and_jQuery_The_Missing_Manual_Second_Edition" target="_blank">JavaScript and jQuery - The Missing Manual</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/JavaScript_Enlightenment" target="_blank">JavaScript Enlightenment</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/JavaScript-Testing-Beginner's-Guide" target="_blank">JavaScript Testing - Beginner's Guide</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/jQuery_Cookbook" target="_blank">jQuery Cookbook</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/jquery-fundamentals-book" target="_blank">jQuery Fundamentals</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Learning-jQuery-Fourth-Edition" target="_blank">Learning jQuery - Fourth Edition</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Mastering Web Application Development with AngularJS [eBook]" target="_blank">Mastering Web Application Development with AngularJS</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Principles_of_Object_Oriented_JavaScript" target="_blank">Principles of Object Oriented JavaScript</a><br>
        <a href="http://chimera.labs.oreilly.com/books/1234000000262/index.html" target="_blank">Programming Javascript Applications (online)</a><br>
        <a href="http://speakingjs.com/es5/" target="_blank">Speaking JavaScript (online)</a><br>
        <a href="https://github.com/getify/You-Dont-Know-JS" target="_blank">You Don't Know JS (online)</a><br>
      </div>

      <div id="javascript-6">
        <h3>JavaScript 6</h3>
        <a href="https://leanpub.com/exploring-es6/read" target="_blank">Exploring ES6 (online)</a><br>
        <a href="http://chimera.labs.oreilly.com/books/1234000001623/index.html" target="_blank">JS.next: A Manager's Guide (online)</a><br>
        <a href="https://leanpub.com/understandinges6/read" target="_blank">Understanding ECMAScript 6 (online)</a><br>
      </div>

      <div id="laravel">
        <h3>Laravel Framework</h3>
        <a href="http://ebooks.bobhumphrey.org/book/artisanfiles" target="_blank">Artisan Files</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/laravel_cookbook" target="_blank">Laravel Cookbook</a><br>
      </div>

      <div id="linux">
        <h3>Linux</h3>
        <a href="http://ebooks.bobhumphrey.org/book/Hacking-Vim-7.2" target="_blank">Hacking Vim</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/TLCL-13.07" target="_blank">Linux Command Line</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Linux-Email" target="_blank">Linux Email</a><br>
        <a href="http://www.techotopia.com/index.php/Red_Hat_Enterprise_Linux_6_Essentials" target="_blank">Red Hat Enterprise Linux 6 Essentials (online)</a><br>
      </div>

      <div id="miscellaneous">
        <h3>Miscellaneous</h3>
        <a href="http://programmer.97things.oreilly.com/wiki/index.php/Contributions_Appearing_in_the_Book" target="_blank">97 Things Every Programmer Should Know (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Aptana-Studio-Beginner's-Guide" target="_blank">Aptana Studio Beginner's Guide</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Creating-Development-Environments-with-Vagrant" target="_blank">Creating Development Environments with Vagrant</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/designing-for-the-internet-of-things" target="_blank">Designing for the Internet of Things</a><br>
        <a href="https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md" target="_blank">Free Programming Books (online)</a><br>
        <a href="http://hackershelf.com/" target="_blank">Hacker Shelf (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/api-design" target="_blank">Little Manual of API Design</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/MediaWiki-1.1-Beginner's-Guide" target="_blank">MediaWiki 1.1 Beginner's Guide</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Rob Miles CSharp Yellow Book 2014" target="_blank">Rob Miles CSharp Yellow Book 2014</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Uncertain_Web" target="_blank">The Uncertain Web</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/WebsiteOwner'sManual" target="_blank">Website Owner's Manual</a><br>
      </div>

      <div id="node">
        <h3>Node.js</h3>
        <a href="http://ebooks.bobhumphrey.org/book/Nodejs-Blueprints" target="_blank">Node.js Blueprints</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Nodejs in Action" target="_blank">Node.js in Action</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Node-Cookbook-Second-Edition" target="_blank">Node Cookbook</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Node-Security" target="_blank">Node Security</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Smashing_Node.js" target="_blank">Smashing Node.js</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Web_Development_with_Node_and_Express" target="_blank">Web Development with Node and Express</a><br>
      </div>

      <div id="php">
        <h3>PHP</h3>
        <a href="http://ebooks.bobhumphrey.org/book/AJAX-and-PHP-Building-Modern-Web-Applications-2nd-Edition" target="_blank">Ajax and PHP - Building Modern Web Applications</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Expert PHP and MySQL" target="_blank">Expert PHP and MySQL</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Learning-PHP-Data-Objects" target="_blank">Learning PHP Data Objects</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/PHP_MySQL_JavaScript_CSS" target="_blank">Learning PHP MySQL JavaScript CSS & HTML5</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/PHP 5 Power Programming" target="_blank">PHP 5 Power Programming</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/PHP-Ajax-Cookbook" target="_blank">PHP Ajax Cookbook</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/PHP-jQuery-Cookbook" target="_blank">PHP jQuery Cookbook</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/PHP Master" target="_blank">PHP Master</a><br>
        <a href="http://www.phptherightway.com/" target="_blank">PHP the Right Way (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/RESTful-PHP-Web-services" target="_blank">Restful PHP Web Services</a><br>
      </div>

      <div id="python">
        <h3>Python</h3>
        <a href="http://ebooks.bobhumphrey.org/book/diveintopython" target="_blank">Dive into Python</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Hello!Python" target="_blank">Hello! Python</a><br>
        <a href="http://learnpythonthehardway.org/book/" target="_blank">Learn Python the Hard Way (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Python-3-Web-Development-Beginner's-Guide" target="_blank">Python 3 Web Developers Beginners Guide</a><br>
        <a href="http://chimera.labs.oreilly.com/books/1230000000393/index.html" target="_blank">Python Cookbook (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Python_Programming" target="_blank">Python Programming</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Python-Testing-Beginner's-Guide" target="_blank">Python Testing Beginners Guide</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Python-Testing-Cookbook" target="_blank">Python Testing Cookbook</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/QuickandEasyPython" target="_blank">Quick and Easy Python</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/thinkpython" target="_blank">Think Python</a><br>
      </div>

      <div id="react">
        <h3>React</h3>
        <a href="http://ebooks.bobhumphrey.org/book/React.js-Essentials" target="_blank">React.js Essentials</a><br>
        <a href="http://survivejs.com/webpack_react/introduction/" target="_blank">SurviveJS (Webpack and React)(online)</a><br>
      </div>

      <div id="rest">
        <h3>Rest</h3>
        <a href="http://restcookbook.com/" target="_blank">REST Cookbook (online)</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/RESTful-PHP-Web-services" target="_blank">Restful PHP Web Services</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/RESTful_Web_Services" target="_blank">RESTful Web Services</a><br>
      </div>

      <div id="servers">
        <h3>Servers</h3>
        <a href="http://ebooks.bobhumphrey.org/book/Community-Server-Quickly" target="_blank">Community Server Quickly</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Getting_Started_with_OpenShift" target="_blank">Getting Started with OpenShift</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/NGINX_A Practical Guide_Preview Edition" target="_blank">nginx - A Practical Guide to High Performance</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Nginx-HTTP-Server" target="_blank">nginx HTTP Server</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/vSphere-High-Performance-Cookbook" target="_blank">vSphere High Performance Cookbook</a><br>
      </div>

      <div id="wordpress">
        <h3>WordPress</h3>
        <a href="http://ebooks.bobhumphrey.org/book/WordPress-Plugin-Development-Cookbook" target="_blank">WordPress Plugin Development Cookbook</a><br>
      </div>

      <div id="yii">
        <h3>Yii Framework</h3>
        <a href="http://ebooks.bobhumphrey.org/book/YiiBook" target="_blank">The Yii Book</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/YiiBook2" target="_blank">The Yii 2 Book</a><br>
        <a href="http://ebooks.bobhumphrey.org/book/Web-Application-Development-with-Yii2-and-PHP" target="_blank">Web Application Development with Yii2</a><br>
      </div>

    </div>
  </div>
</div>
