<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="links" class="sidebar">
        <ul>
          <li>
            <a href="#animation">Animation</a>
          </li>
          <li>
            <a href="#carousel">Carousel</a>
          </li>
          <li>
            <a href="#charts">Charts</a>
          </li>
          <li>
            <a href="#color">Color</a>
          </li>
          <li>
            <a href="#components">Components</a>
          </li>
          <li>
            <a href="#css">CSS</a>
          </li>
          <li>
            <a href="#css-grid">CSS Grid Layout</a>
          </li>
          <li>
            <a href="#flexbox">Flexbox</a>
          </li>
          <li>
            <a href="#fonts">Fonts</a>
          </li>
          <li>
            <a href="#frameworks">Frameworks</a>
          </li>
          <li>
            <a href="#graphics">Graphics</a>
          </li>
          <li>
            <a href="#html">HTML</a>
          </li>
          <li>
            <a href="#images">Images</a>
          </li>
          <li>
            <a href="#lists">Lists</a>
          </li>
          <li>
            <a href="#markdown">Markdown</a>
          </li>
          <li>
            <a href="#misc">Misc</a>
          </li>
          <li>
            <a href="#photoshop-brushes">Photoshop Brushes</a>
          </li>
          <li>
            <a href="#plugins">Plugins</a>
          </li>
          <li>
            <a href="#responsive">Responsive</a>
          </li>
          <li>
            <a href="#sass-mixins">Sass Mixins</a>
          </li>
          <li>
            <a href="#svg">SVG</a>
          </li>
          <li>
            <a href="#tours">Tours</a>
          </li>
          <li>
            <a href="#typography">Typography</a>
          </li>
          <li>
            <a href="#user-interface">User Interface Design</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-7 col-md-offset-1">

      <h3 id="animation" class="first">Animation</h3>
      <a href="http://www.bestdevlist.com/css-animation-tools/" target="_blank">
        20 CSS Animation Tools for Your Collection</a><br>

      <h3 id="carousel">Carousel</h3>
      <a href="http://kenwheeler.github.io/slick/" target="_blank">Slick</a><br>


      <h3 id="charts">Charts</h3>
      <a href="http://www.chartjs.org/" target="_blank">Chart.js</a><br>


      <h3 id="color">Color</h3>
      <a href="http://htmlcolorcodes.com/color-chart/" target="_blank">Color charts</a> - material design color chart<br>
      <a href="https://github.com/Siddharth11/Colorful" target="_blank">Colorful</a> - list of resources<br>
      <a href="http://www.colourlovers.com/" target="_blank">Colour lovers</a> - palettes<br>
      <a href="http://www.w3schools.com/colors/colors_picker.asp" target="_blank">Color picker</a> - W3Schools<br>
      <a href="http://www.rocket-design.fr/color-template/" target="_blank">Color template</a> - color theory<br>
      <a href="http://design-seeds.com/" target="_blank">Design seeds</a> - palettes<br>
      <a href="http://tallys.github.io/color-theory/" target="_blank">Practical color theory for people who code</a><br>
      <a href="https://www.smashingmagazine.com/2016/04/web-developer-guide-color/"
      target="_blank">A Simple Web Developer’s Guide To Color</a><br>

      <h3 id="components">Components</h3>
      <a href="http://frend.co/" target="_blank">
        Frend</a> - accordion, bypass links, modal, off canvas, tabs, tooltips<br>


      <h3 id="css">CSS</h3>
      <a href="http://tympanus.net/codrops/css_reference/" target="_blank">
        CSS</a> - codrops CSS reference<br>
      <a href="http://10clouds.com/blog/css-for-backend-developers-part-i/" target="_blank">
        CSS For Backend Developers</a><br>
      <a href="http://paulcpederson.com/articles/css-for-people-who-hate-css/" target="_blank">
        CSS for People Who Hate CSS</a><br>
      <a href="https://github.com/vasanthk/css-refresher-notes" target="_blank">
        CSS Refresher Notes</a><br>
      <a href="http://labs.jensimmons.com/" target="_blank">
        Experimental Layout Lab of Jen Simmons</a><br>
      <a href="http://codepen.io/bradfrost/full/rCFdb" target="_blank">
        Responsive patterns</a> - from Brad Frost<br>
      <a href="https://stylesheets.co/" target="_blank">
        Stylesheets</a> - community-generated collection of CSS resources<br>
      <a href="http://stylelint.io/" target="_blank">Stylelint</a><br>
      <a href="https://www.smashingmagazine.com/2016/05/stylelint-the-style-sheet-linter-weve-always-wanted/" target="_blank">
        Stylelint - the style sheet linter we've always wanted</a> - Smashing Magazine article<br>


      <h3 id="css-grid">CSS Grid Layout</h3>
      <a href="https://css-tricks.com/snippets/css/complete-guide-grid/" target="_blank">
        Complete Guide to Grid</a> - CSS-Tricks<br>
      <a href="http://blogs.igalia.com/mrego/2016/02/01/deep-dive-into-grid-layout-placement/" target="_blank">
        Deep Dive into Grid Layout Placement</a><br>
      <a href="https://www.rachelandrew.co.uk/archives/2016/03/25/making-sense-of-the-new-css-layout/" target="_blank">
        Making Sense of the New CSS Layout</a> - Rachel Andrew<br>


      <h3 id="flexbox">Flexbox</h3>
      <a href="http://www.flexboxpatterns.com/home" target="_blank">Flexbox Patterns</a> - examples and code<br>


      <h3 id="fonts">Fonts</h3>
      <a href="http://www.kontrapunkt.com/typetester" target="_blank">Bob</a><br>
      <a href="https://www.zachleat.com/web/comprehensive-webfonts/#abstain" target="_blank">
        Comprehensive Guide to Font Loading Strategies</a><br>
      <a href="https://gidole.github.io/" target="_blank">Gidole</a><br>
      <a href="https://fonts.google.com/" target="_blank">Google Fonts</a><br>
      <a href="https://www.behance.net/gallery/28749913/HK-Grotesk-Open-Source-Typeface" target="_blank">HK Grotesk</a><br>
      <a href="http://overpassfont.org/" target="_blank">Overpass</a><br>
      <a href="https://www.theleagueofmoveabletype.com/league-spartan" target="_blank">Spartan</a><br>
      <a href="http://www.pixelsurplus.com/freebies-/wayward-sans" target="_blank">Wayward Sans</a><br>


      <h3 id="frameworks">Frameworks</h3>
      <a href="http://blazecss.com/" target="_blank">Blaze_CSS</a><br>
      <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a><br>
      <a href="http://hackerthemes.com/bootstrap-cheatsheet#nav-pills" target="_blank">
        Bootstrap 4 Cheat Sheet</a> - with online examples<br>
      <a href="http://upgrade-bootstrap.bootply.com/" target="_blank">
        Bootstrap 4 Upgrade</a> - Migrate to Bootstrap 4 Tool<br>
      <a href="https://medium.com/wdstack/bootstrap-4-whats-new-visual-guide-c84dd81d8387#.oqx9e9n49" target="_blank">
        Bootstrap 4 - Visual Guide to What's New</a><br>
      <a href="http://foundation.zurb.com/" target="_blank">Foundation</a><br>
      <a href="http://mincss.com/index.html" target="_blank">Min</a> - minimal CSS framework<br>
      <a href="http://designmodo.com/migrate-bootstrap-4/" target="_blank">
        Migrating from Bootstrap 3 to 4</a><br>
      <a href="http://picnicss.com/" target="_blank">Picnic</a><br>
      <a href="http://purecss.io/" target="_blank">Pure</a><br>
      <a href="http://sierra-library.github.io/" target="_blank">Sierra</a><br>
      <a href="http://doximity.github.io/vital/" target="_blank">Vital</a><br>


      <h3 id="graphics">Graphics</h3>
      <a href="http://www.darktable.org/" target="_blank">Darktable</a> - photo manipulation<br>
      <a href="https://www.gimp.org/" target="_blank">Gimp</a> - Gnu Image Manipulation Program<br>
      <a href="https://gravit.io/" target="_blank">Gravit</a> - web based vector design<br>


      <h3 id="html">HTML</h3>
      <a href="https://github.com/joshbuchea/HEAD" target="_blank">
        HEAD</a> - a list of everything that goes in the head of a document<br>
      <a href="http://www.w3schools.com/charsets/ref_html_ascii.asp" target="_blank">HTML ASCII</a><br>
      <a href="http://www.w3schools.com/charsets/ref_html_ansi.asp" target="_blank">HTML ANSI (Windows-1252)</a><br>
      <a href="http://htmlcolorcodes.com/" target="_blank">HTML Color Codes</a> - chart, names, color picker<br>
      <a href="http://www.w3schools.com/charsets/ref_html_8859.asp" target="_blank">HTML ISO-8859</a><br>
      <a href="http://www.w3schools.com/charsets/ref_html_symbols.asp" target="_blank">HTML Symbols</a><br>
      <a href="http://www.w3schools.com/charsets/ref_html_utf8.asp" target="_blank">HTML Unicode (UTF-8)</a><br>
      <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">HTML5</a> - Mozilla guide<br>
      <a href="https://github.com/h5bp/server-configs-apache/blob/master/dist/.htaccess" target="_blank">
        HTML5 Boilerplate Apache configuration settings</a><br>


      <h3 id="images">Images</h3>
      <a href="https://kraken.io/" target="_blank">Kraken</a> - image optimizer<br>
      <a href="https://pixlr.com/" target="_blank">Pixlr</a> - image editor<br>
      <a href="https://placehold.it/" target="_blank">Placeholder images</a><br>
      <a href="https://studio.uxpin.com/blog/responsive-images-the-designers-definitive-guide/" target="_blank">
        Responsive Images: The Designer’s Definitive Guide</a><br>
      <a href="http://luci.criosweb.ro/riot/" target="_blank">RIOT</a> - image optimizing<br>
      <a href="https://tinypng.com/" target="_blank">Tiny PNG</a> - image compression<br>


      <h3 id="lists">Lists</h3>
      <a href="https://resourcecards.com/" target="_blank">Resource Cards</a><br>
      <a href="http://bleech.io/" target="_blank">Tech inspiration for creatives</a><br>

      <h3 id="markdown">Markdown</h3>
      <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown cheatsheet</a><br>


      <h3 id="misc">Misc</h3>
      <a href="http://jefflau.net/decrypting-the-ever-complicating-front-end-web-development-stack/" target="_blank">
        Decrypting the ever-complicating front-end web development stack</a><br>

      <h3 id="photoshop-brushes">Photoshop Brushes</h3>
      <a href="http://designm.ag/resources/2000-free-photoshop-brushes/" target="_blank">
        2000 Free Photoshop Brushes</a><br>
      <a href="http://www.creativebloq.com/photoshop/free-photoshop-brushes-11121140/1" target="_blank">
        60 best free Photoshop brushes</a><br>
      <a href="http://www.noupe.com/design/80-all-you-need-photoshop-brushes.html" target="_blank">
        80 All-You-Need Photoshop Brushes</a> - Noupe<br>

      <h3 id="plugins">Plugins</h3>
      <a href="https://github.com/kyleshevlin/matchbox" target="_blank">Matchbox</a> - Matching the height of boxes in a row.<br>
      <a href="https://newsignature.github.io/us-map/" target="_blank">U.S. Map</a><br>

      <h3 id="responsive">Responsive</h3>
      <a href="http://codepen.io/AllThingsSmitty/pen/MyqmdM/" target="_blank">
        Responsive table in CSS</a><br>

      <h3 id="sass-mixins">Sass Mixins</h3>
      <a href="http://lukyvj.github.io/family.scss/" target="_blank">
        Family.scss</a> - manage the style of :nth-child elements<br>


      <h3 id="svg">SVG</h3>
      <a href="http://boxy-svg.com/" target="_blank">Boxy SVG</a> - editor<br>
      <a href="https://ihatetomatoes.net/how-i-created-my-first-svg/" target="_blank">How I created my first SVG</a><br>
      <a href="http://svgpocketguide.com/book/" target="_blank">Pocket Guide to Writing SVG</a><br>
      <a href="https://svgontheweb.com/" target="_blank">SVG on the Web - A practical guide</a><br>
      <a href="https://css-tricks.com/using-svg/" target="_blank">Using SVG</a> - CSS Tricks<br>


      <h3 id="tours">Tours</h3>
      <a href="http://bootstraptour.com/" target="_blank">Bootstrap Tour</a><br>

      <h3 id="typography">Typography</h3>
      <a href="https://medium.com/hh-design/typography-for-developers-975cf2abd1e?imm_mid=0e3509&cmp=em-web-na-na-newsltr_20160504#.htx6zfvut" target="_blank">
        Typography for Developers</a><br>
      <a href="http://typographyhandbook.com/" target="_blank">Typography Handbook</a><br>

      <h3 id="user-interface">User Interface Design</h3>
      <a href="http://blog.invisionapp.com/core-principles-of-ui-design/" target="_blank">
        The Core Principles of UI Design</a><br>

    </div>






  </div>
</div>
