<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="links" class="sidebar">
        <ul>
          <li>
            <a href="#articles">Articles and Presentations</a>
          </li>
          <li>
            <a href="#cheat">Cheat Sheets</a>
          </li>
          <li>
            <a href="#code">Code Libraries</a>
          </li>
          <li>
            <a href="#deployment">Deployment</a>
          </li>
          <li>
            <a href="#news">News and Blogs</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <a href="http://larachat.co/" target="_blank">chat</a><br>
      <a href="https://laravel.com/docs/" target="_blank">documentation</a><br>
      <a href="https://laravel.com/docs/5.2/envoy" target="_blank">Envoy</a> - deployment task runner<br>
      <a href="https://serversforhackers.com/video/deploying-with-envoy-cast" target="_blank">Envoy deployment</a> - tutorial<br>
      <a href="https://envoyer.io/" target="_blank">Envoyer</a> - zero downtime deployment<br>
      <a href="https://forge.laravel.com/" target="_blank">Forge</a> - deployment<br>
      <a href="https://laracasts.com/discuss" target="_blank">forums</a><br>
      <a href="https://laravel.com/docs/5.2/homestead" target="_blank">Homestead</a> - development environment<br>
      <a href="https://www.youtube.com/watch?v=bC8OjU5ZlJQ" target="_blank">Homestead Guide</a> - setting up a virtual box for development<br>
      <a href="http://jigsaw.tighten.co/" target="_blank">Jigsaw</a> - Static site creator<br>
      <a href="https://larajobs.com/" target="_blank">jobs</a><br>
      <a href="https://laracasts.com/" target="_blank">Laracasts</a><br>
      <a href="https://laragon.org/" target="_blank">Laragon</a> - Windows development environment<br>
      <a href="http://laracon.us/" target="_blank">Laracon US</a><br>
      <a href="https://laravel.com/" target="_blank">Laravel</a><br>
      <a href="http://blog.laravel.com/" target="_blank">Laravel blog</a><br>
      <a href="https://laravelgurus.com/" target="_blank">Laravel Gurus</a> - consultants and freelancers<br>
      <a href="https://twitter.com/laravelphp" target="_blank">Laravel Twitter</a><br>
      <a href="https://lumen.laravel.com/" target="_blank">Lumen</a> - micro framework<br>
      <a href="http://rocketeer.autopergamene.eu/" target="_blank">Rocketeer</a> - PHP deployment<br>
      <a href="https://github.com/laravel/spark" target="_blank">Spark</a> - for building business oriented SaaS applications<br>


      <h3 id="articles">Articles and Presentations</h3>
      <a href="http://www.sitepoint.com/building-a-hacker-news-reader-with-lumen/" target="_blank">
        Building a Hacker News Reader with Lumen</a> - SitePoint<br>
      <a href="http://adamwathan.me/2016/04/06/cleaning-up-form-input-with-transpose/" target="_blank">
        Cleaning Up Form Input with Transpose</a><br>
      <a href="https://www.youtube.com/channel/UCb9XEo_1SDNR8Ucpbktrg5A" target="_blank">
        Laracon EU 2014 and 2013</a> - presentation videos<br>
      <a href="https://www.youtube.com/playlist?list=PLMdXHJK-lGoA9SIsuFy0UWL8PZD1G3YFZ" target="_blank">
        Laracon EU 2015 full playlist</a><br>
      <a href="https://www.youtube.com/watch?v=uOU_N8PNOD8" target="_blank">
        Laracon US 2015 keynote</a> - Laravel Spark, Taylor Otwell<br>
      <a href="https://www.youtube.com/watch?v=xKefsl_UiM0" target="_blank">
        Lessons Learned</a> - Taylor Otwell, PHP World 2015<br>
      <a href="http://www.sitepoint.com/quick-tip-get-homestead-vagrant-vm-running/" target="_blank">
        Quick Tip: Get a Homestead Vagrant VM Up and Running</a><br>
      <a href="https://dotdev.co/rapid-laravel-application-scaffolding-with-custom-commands-745e9f683470#.5hjxo3pnw" target="_blank">
        Rapid Laravel Application Scaffolding with Custom Commands</a><br>
      <a href="https://www.youtube.com/watch?v=g4BbeHYCR1E" target="_blank">
        Rapid Application Development</a> - from idea to prototype<br>
      <a href="http://www.sitepoint.com/setting-up-php-7-servers-with-laravel-forge-and-digitalocean/" target="_blank">
        Setting up PHP 7 Servers with Laravel Forge and DigitalOcean</a><br>
      <a href="http://www.sitepoint.com/tag/laravel/" target="_blank">
        Sitepoint articles</a><br>
      <a href="https://laravel-news.com/2016/01/adam-wathan-test-driven-laravel-from-scratch/" target="_blank">
        Test driven Laravel development</a><br>
      <a href="https://scotch.io/tutorials/ultimate-guide-on-sending-email-in-laravel" target="_blank">
        The Ultimate Guide to Sending Email in Laravel</a><br>
      <a href="https://scotch.io/tutorials/understanding-laravel-middleware" target="_blank">
        Understanding Laravel Middleware</a><br>

      <h3 id="cheat">Cheat Sheets</h3>
      <a href="https://aufree.github.io/laravel5-cheatsheet/#" target="_blank">Laravel 5.1 LTS Cheat Sheet</a><br>


      <h3 id="code">Code Libraries</h3>
      <a href="https://github.com/laravel/cashier" target="_blank">
        Cashier</a> - subscription billing<br>
      <a href="http://image.intervention.io/" target="_blank">
        Intervention Image</a> - image handling and manipulation<br>
      <a href="https://github.com/spatie/laravel-backup" target="_blank">
        Laravel Backup</a> - automated application and database backup<br>
      <a href="http://www.maatwebsite.nl/laravel-excel/" target="_blank">
        Laravel Excel</a><br>
      <a href="https://github.com/lstables/Laravel-Mailer-Class" target="_blank">
        Laravel-Mailer-Class</a> - simple mailer class<br>
      <a href="https://github.com/flugger/laravel-responder" target="_blank">
        Laravel Responder</a> - API building tool<br>
      <a href="https://github.com/Nayjest/Grids" target="_blank">
        Nayjest/Grids</a> - grid classes<br>
      <a href="http://orchestraplatform.com/" target="_blank">
        Orchestra Platform</a> - Laravel components<br>
      <a href="https://murze.be/2016/07/processing-csv-file-laravel/" target="_blank">
        Processing a csv file in Laravel</a><br>
      <a href="https://github.com/laravel/socialite" target="_blank">
        Socialite</a> - social authentication<br>
      <a href="https://socialiteproviders.github.io/" target="_blank">
        Socialite Providers</a> - collection of providers for Laravel Socialite<br>
      <a href="https://spatie.be/opensource/laravel" target="_blank">
        Spatie open source Laravel packages</a> - analytics, link-checker, caching, pjax, slugs, search<br>

      <h3 id="deployment">Deployment</h3>
      <a href="https://serversforhackers.com/video/deploying-with-envoy-cast" target="_blank">Deploying with Envoy</a><br>

      <h3 id="news">News and Blogs</h3>
      <a href="https://driesvints.com/blog" target="_blank">Dries Vints</a> - blog<br>
      <a href="https://laracasts.simplecast.fm/" target="_blank">Laracasts Snippet</a> - Jeffrey Way<br>
      <a href="https://larachat.co/live" target="_blank">Larachat Live</a><br>
      <a href="http://laraveldaily.com/" target="_blank">Laravel Daily</a> - Povilas Korop<br>
      <a href="https://laravel-news.com/blog/" target="_blank">Laravel News</a>- Eric L. Barnes<br>
      <a href="https://laravel-news.com/category/podcast/" target="_blank">Laravel News Podcast</a><br>
      <a href="http://www.laravelpodcast.com/" target="_blank">Laravel podcast</a> - Matt Stauffer<br>
      <a href="https://laraveltips.wordpress.com/" target="_blank">Laravel Tips</a> - Bill Keck tutorial blog<br>
      <a href="https://laravel-news.com/category/laravel-tutorials/" target="_blank">Laravel tutorials</a> - Eric L. Barnes<br>
      <a href="https://laravelista.com/" target="_blank">Laravelista</a> - tutorials<br>
      <a href="https://mattstauffer.co/blog" target="_blank">Matt Stauffer</a> - blog<br>
      <a href="https://www.reddit.com/r/laravel/" target="_blank">Reddit / Laravel</a><br>
      <a href="http://taylorotwell.com/" target="_blank">Taylor Otwell</a> - blog<br>
      <a href="http://blog.tighten.co/" target="_blank">Tighten Co.</a> - blog<br>

  </div>







</div>
</div>


<!--
<a href="XXXXX" target="_blank">XXXXX</a> - XXXXXX<br>

<a href="XXXXX" target="_blank">XXXXX</a><br>
-->
