<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="links" class="sidebar">
        <ul>
          <li>
            <a href="#developers">Developers</a>
          </li>
          <li>
            <a href="#twitter">Twitter</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <a href="https://24ways.org/" target="_blank">24 Ways</a><br>
      <a href="http://alistapart.com/" target="_blank">A List Apart</a><br>
      <a href="http://5by5.tv/bigwebshow" target="_blank">Big Web Show</a><br>
      <a href="https://codyhouse.co/" target="_blank">Cody House</a><br>
      <a href="http://www.creativebloq.com/net-magazine" target="_blank">Creative Bloq</a><br>
      <a href="https://crew.co/backstage/blog/" target="_blank">Crew</a><br>
      <a href="https://www.designernews.co/" target="_blank">Designer News</a><br>
      <a href="https://dotdev.co/" target="_blank">dotdev</a><br>
      <a href="https://www.eff.org/" target="_blank">Electronic Frontier Foundation</a><br>
      <a href="https://medium.freecodecamp.com/" target="_blank">freeCodeCamp</a><br>
      <a href="https://frontendfive.codeschool.com/" target="_blank">Front End Five</a> <br>
      <a href="http://frontendfront.com/" target="_blank">Front End Front</a><br>
      <a href="https://news.ycombinator.com/" target="_blank">Hacker News</a><br>
      <a href="http://html5weekly.com/" target="_blank">HTML5 Weekly</a><br>
      <a href="http://javascriptair.com/" target="_blank">JavaScript Air</a><br>
      <a href="http://javascriptweekly.com/issues" target="_blank">JavaScript Weekly</a><br>
      <a href="https://laravel-news.com/archive/" target="_blank">Laravel News</a><br>
      <a href="http://thenewcode.com/" target="_blank">The New Code</a><br>
      <a href="http://perf.rocks/" target="_blank">Performance Rocks</a><br>
      <a href="http://phptownhall.com/" target="_blank">PHP Town Hall</a><br>
      <a href="http://www.phpweekly.com/archive.html" target="_blank">PHP Weekly</a><br>
      <a href="https://www.getrevue.co/profile/the-react-digest" target="_blank">React Digest</a><br>
      <a href="https://www.reddit.com/r/webdev" target="_blank">Reddit web developers</a><br>
      <a href="http://us7.campaign-archive1.com/home/?u=b4a4054cce715a3b0ae5e7d35&id=f7c505323d" target="_blank">Sass News</a><br>
      <a href="https://scotch.io/" target="_blank">Scotch Tutorials</a><br>
      <a href="http://simpleprogrammer.com/" target="_blank">Simple Programmer</a><br>
      <a href="http://www.sitepoint.com/" target="_blank">Sitepoint</a><br>
      <a href="https://www.sitepoint.com/versioning" target="_blank">Sitepoint Versioning</a><br>
      <a href="http://www.smashingmagazine.com/" target="_blank">Smashing Magazine</a><br>
      <a href="http://speckyboy.com/" target="_blank">Speckyboy</a><br>
      <a href="http://bleech.io/" target="_blank">Tech inspiration for creatives</a><br>
      <a href="http://tutorialzine.com/" target="_blank">Tutorialzine</a><br>
      <a href="https://twitter.com/vuejs" target="_blank">Twitter - Vue.js</a><br>
      <a href="https://web-design-weekly.com/" target="_blank">Web Design Weekly</a><br>
      <a href="https://wdrl.info/archive" target="_blank">Web Development Reading List</a><br>
      <a href="http://webfieldmanual.com/" target="_blank">Web Field Manual</a><br>
      <a href="http://us5.campaign-archive2.com/home/?u=ea228d7061e8bbfa8639666ad&id=104d6bcc2d" target="_blank">Web Tools Weekly</a><br>
      <br>

      <h3 id="developers">Developers</h3>
      <a href="https://joreteg.com/" target="_blank">Henrik Joreteg</a><br>
      <a href="http://zellwk.com/" target="_blank">Zell Liew</a><br>
      <a href="http://chrismm.com/" target="_blank">Christian M. Mackeprang</a><br>
      <a href="http://benmccormick.org/" target="_blank">Ben McCormick</a><br>
      <a href="http://john.do/" target="_blank">John Saddington</a><br>
      <a href="http://codingwithempathy.com/" target="_blank">Pavneet Singh Saund</a> - Coding with Empathy<br>
      <a href="http://www.larryullman.com/" target="_blank">Larry Ullman</a><br>
      <a href="https://murze.be/" target="_blank">Freek Van der Herten</a><br>
      <a href="http://thecodist.com/" target="_blank">Andrew Wulf</a> - The Codist<br>

      <h3 id="twitter">Twitter</h3>
      <a href="https://twitter.com/laravelphp?lang=en" target="_blank">Laravel</a><br>
      <a href="https://twitter.com/vuejs" target="_blank">Vue.js</a><br>

    </div>
  </div>





</div>






<!--
<a href="XXXXX" target="_blank">XXXXX</a><br>
-->
