<div class="container">

  <div class="col-md-4">
    <div id="links" class="sidebar">
      <ul>
        <li>
          <a href="#autoloading">Autoloading</a>
        </li>
        <li><a href="#code-libraries">Code Libraries</a></li>
        <li>
          <a href="#coding">Coding General</a>
        </li>
        <li><a href="#coding-standards">Coding Standards</a></li>
        <li>
          <a href="#composer">Composer</a>
        </li>
        <li> <a href="#debugging">Debuggin</a> </li>
        <li><a href="#deployment">Deployment</a></li>
        <li>
          <a href="#database">Database</a>
        </li>
        <li><a href="#http">HTTP (PSR-7)</a></li>
        <li><a href="#news">News and Blogs</a></li>
        <li>
          <a href="#security">Security</a>
        </li>
        <li><a href="#testing">Testing</a></li>
        <li><a href="#tools">Tools</a></li>
      </ul>
    </div>
  </div>


  <div class="col-md-7 col-md-offset-1">

    <a href="https://blog.fortrabbit.com/10-pillars-php-dev" target="_blank">
      10 pillars of modern PHP development</a><br>
    <a href="http://www.cabotsolutions.com/2016/06/the-evolution-of-php-infographic/" target="_blank">
      Evolution of PHP </a> - infographic<br>
    <a href="http://php.net/" target="_blank">PHP.net</a><br>
    <a href="http://www.phptherightway.com/" target="_blank">PHP The Right Way</a><br>

    <h3 id="autoloading">Autoloading (PSR-4)</h3>
    <a href="https://mattstauffer.co/blog/a-brief-introduction-to-php-namespacing" target="_blank">Namespacing</a> - in PHP<br>
    <a href="https://experiencehq.net/blog/how-and-when-to-use-psr-4-autoloading-in-your-craft-plugins" target="_blank">PSR-4 Autoloading</a><br>

    <h3 id="code-libraries">Code Libraries</h3>
    <a href="https://github.com/PHPMailer/PHPMailer" target="_blank">PHPMailer</a> - email sending library<br>
    <a href="https://phpunit.de/" target="_blank">PHPUnit</a> - testing framework<br>
    <a href="https://github.com/PHPOffice/PHPWord" target="_blank">PHPWord</a> - create Word docs from PHP<br>
    <a href="https://phpword.readthedocs.org/en/latest/index.html" target="_blank">PHPWord Documentation</a><br>
    <a href="https://github.com/nuovo/spreadsheet-reader" target="_blank">spreadsheet-reader</a> - PHP spreadsheet reader<br>
    <a href="http://statetable.com/" target="_blank">statetable.com</a> - table of states and provinces<br>


    <h3 id="coding">Coding General</h3>
    <a href="https://laracasts.com/series/design-patterns-in-php" target="_blank">Laracasts: Design Patterns in PHP</a><br>
    <a href="https://laracasts.com/series/php7-up-and-running" target="_blank">Laracasts: PHP 7 Up and Running</a><br>
    <a href="https://laracasts.com/series/solid-principles-in-php" target="_blank">Laracasts: SOLID Principles in PHP</a><br>
    <a href="http://thephpleague.com/" target="_blank">League of Extraordinary Packages</a><br>
    <a href="https://mattstauffer.co/blog/a-brief-introduction-to-php-namespacing" target="_blank">Namespacing</a> - in PHP<br>
    <a href="/reference/object-oriented.html" target="_blank">Object Oriented PHP Cheat Sheet</a><br>
    <a href="http://zaengle.com/blog/simplifying-conditional-expressions" target="_blank">
      Simplifying Conditional Expressions</a><br>

    <h3 id="coding-standards">Coding Standards</h3>
    <a href="https://github.com/squizlabs/PHP_CodeSniffer" target="_blank">PHP CodeSniffer</a> - detects violation of coding standards<br>
    <a href="https://styleci.io/" target="_blank">StyleCI</a> - PHP coding style service<br>

    <h3 id="composer">Composer</h3>
    <a href="https://getcomposer.org/doc/01-basic-usage.md" target="_blank">Composer basic usage</a><br>
    <a href="https://getcomposer.org/doc/articles/versions.md" target="_blank">Composer versions reference</a><br>

    <h3 id="database">Database</h3>
    <a href="https://www.sanwebe.com/2013/03/basic-php-mysqli-usage" target="_blank">Basic MySQLi</a><br>

    <h3 id="debugging">Debugging</h3>
    <a href="http://raveren.github.io/kint/" target="_blank">Kint</a> - PHP Debugging Helper<br>
    <a href="http://phpdebugbar.com/" target="_blank">PHP Debug Bar</a><br>

    <h3 id="deployment">Deployment</h3>
    <a href="http://deployer.org/" target="_blank">Deployer</a> - PHP deployment tool<br>
    <a href="http://rocketeer.autopergamene.eu/" target="_blank">Rocketeer</a> - PHP deployment<br>

    <h3 id="http">HTTP (PSR-7)</h3>
    <a href="https://mwop.net/blog/2015-01-26-psr-7-by-example.html" target="_blank">
      PSR-7 By Example</a><br>

    <h3 id="news">News and Blogs</h3>
    <a href="http://phptownhall.com/" target="_blank">PHP Town Hall</a><br>
    <a href="http://www.phpweekly.com/archive.html" target="_blank">PHP Weekly</a><br>

    <h3 id="security">Security</h3>
    <a href="http://www.cloudways.com/blog/protect-php-website-sql-injection/" target="_blank">
      Protect A PHP Website From SQL Injection Attacks</a><br>
    <a href="http://www.phpbuilder.com/articles/application-architecture/security/most-secure-password-encryption-methods-in-php.html" target="_blank">
      Secure Password Encryption Methods in PHP</a><br>
    <a href="https://paragonie.com/blog/2016/07/securing-php-application-in-2016-pocket-guide" target="_blank">
      Securing a PHP Application in 2016: The Pocket Guide</a><br>

    <h3 id="testing">Testing</h3>
    <a href="https://phpunit.de" target="_blank">PHP Unit</a><br>

    <h3 id="tools">Tools</h3>

    <a href="http://www.phpdoc.org/" target="_blank">phpDocumentor</a> - creates documentation from source code<br>
    <a href="https://www.apachefriends.org/index.html" target="_blank">XAMPP</a> - local PHP development environment<br>

  </div>

</div>
