<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="links" class="sidebar">
        <ul>
          <li>
            <a href="#accessibility">Accessibility</a>
          </li>
          <li>
            <a href="#atom">Atom</a>
          </li>
          <li>
            <a href="#autoloading">Autoloading (PSR-4)</a>
          </li>
          <li>
            <a href="#aws">AWS</a>
          </li>
          <li>
            <a href="#browserify">Browserify</a>
          </li>
          <li>
            <a href="#cheat">Cheat Sheets</a>
          </li>
          <li>
            <a href="#composer">Composer</a>
          </li>
          <li>
            <a href="#cors">CORS</a>
          </li>
          <li>
            <a href="#database">Database</a>
          </li>
          <li>
            <a href="#datasets">Datasets</a>
          </li>
          <li>
            <a href="#devops">Devops</a>
          </li>
          <li>
            <a href="#git">Git</a>
          </li>
          <li>
            <a href="#gulp">Gulp</a>
          </li>
          <li>
            <a href="#hardware">Hardware</a>
          </li>
          <li>
            <a href="#http">HTTP</a>
          </li>
          <li>
            <a href="#http2">HTTP/2</a>
          </li>
          <li>
            <a href="#javascript">JavaScript</a>
          </li>
          <li>
            <a href="#learning">Learning</a>
          </li>
          <li>
            <a href="#lists">Lists</a>
          </li>
          <li>
            <a href="#misc">Miscellaneous</a>
          </li>
          <li>
            <a href="#npm">npm</a>
          </li>
          <li>
            <a href="#performance">Performance</a>
          </li>
          <li>
            <a href="#php">PHP</a>
          </li>
          <li>
            <a href="#privacy">Privacy</a>
          </li>
          <li>
            <a href="#regular">Regular Expressions</a>
          </li>
          <li>
            <a href="#security">Security</a>
          </li>
          <li>
            <a href="#servers">Servers</a>
          </li>
          <li>
            <a href="#static">Static Websites</a>
          </li>
          <li>
            <a href="#user">User Experience</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-7 col-md-offset-1">

      <h3 id="accessibility" class="first">Accessibility</h3>
      <a href="http://www.karlgroves.com/2013/09/05/the-6-simplest-web-accessibility-tests-anyone-can-do/" target="_blank">
        The 6 Simplest Web Accessibility Tests Anyone Can Do</a><br>

      <h3 id="atom">Atom</h3>
      <a href="https://medium.com/@0x1AD2/atom-treasures-82a64ac391c#.q4491aug3" target="_blank">
        Atom treasures - a list of Atom plugins I can’t live without</a><br>

      <h3 id="autoloading">Autoloading (PSR-4)</h3>
      <a href="https://mattstauffer.co/blog/a-brief-introduction-to-php-namespacing" target="_blank">Namespacing</a> - in PHP<br>
      <a href="https://experiencehq.net/blog/how-and-when-to-use-psr-4-autoloading-in-your-craft-plugins" target="_blank">PSR-4 Autoloading</a><br>

      <h3 id="aws">AWS</h3>
      <a href="https://github.com/donnemartin/awesome-aws" target="_blank">Awesome AWS</a>- curated list of resources<br>
      <a href="http://www.brianlinkletter.com/create-a-free-virtual-private-server-on-amazon-web-services/" target="_blank">
        Create a free virtual private server on Amazon Web Services</a><br>

      <h3 id="browserify">Browserify</h3>
      <a href="http://www.sitepoint.com/getting-started-browserify/" target="_blank">
        Getting started with Browserify</a><br>
      <a href="https://lincolnloop.com/blog/untangle-your-javascript-browserify/" target="_blank">
        Untangle Your JavaScript with Browserify</a><br>

      <h3 id="cheat">Cheat Sheets</h3>
      <a href="http://overapi.com/" target="_blank">OverAPI.com</a> - multiple cheat sheets<br>

      <h3 id="composer">Composer</h3>
        <a href="https://getcomposer.org/doc/01-basic-usage.md" target="_blank">Composer basic usage</a><br>
        <a href="https://getcomposer.org/doc/articles/versions.md" target="_blank">Composer versions reference</a><br>

      <h3 id="cors">CORS</h3>
      <a href="https://manning-content.s3.amazonaws.com/download/f/54fa960-332e-4a8c-8e7f-1eb213831e5a/CORS_ch01.pdf" target="_blank">Core of CORS</a> - CORS in Action chapter 1<br>
      <a href="https://en.wikipedia.org/wiki/Cross-origin_resource_sharing" target="_blank">CORS</a> - Wikipedia<br>
      <a href="https://staticapps.org/articles/cross-domain-requests-with-cors/" target="_blank">Cross-Domain Requests with CORS</a> - A Field Guide to Static Apps<br>
      <a href="http://enable-cors.org/" target="_blank">Enable cross-origin resource sharing</a><br>
      <a href="https://remysharp.com/2011/04/21/getting-cors-working" target="_blank">Getting CORS Working</a> - Remy Sharp<br>
      <a href="https://manning-content.s3.amazonaws.com/download/5/54dea42-e46e-44c7-a930-d4c86a2c2ca3/CORS_ch03.pdf" target="_blank">Handling CORS requests</a> - CORS in Action chapter 3<br>
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS" target="_blank">HTTP access control (CORS)</a> - Mozilla<br>
      <a href="http://www.mjhall.org/php-cross-origin-resource-sharing/" target="_blank">PHP CORS example</a><br>
      <a href="https://www.maxcdn.com/one/visual-glossary/cors/" target="_blank">Simple CORS overview</a><br>
      <a href="http://client.cors-api.appspot.com/client" target="_blank">Test CORS tool</a><br>
      <a href="http://www.html5rocks.com/en/tutorials/cors/" target="_blank">Using CORS</a> - HTML5 Rocks<br>

      <h3 id="database">Database</h3>
      <a href="https://www.sanwebe.com/2013/03/basic-php-mysqli-usage" target="_blank">Basic MySQLi</a><br>
      <a href="http://docs.phpmyadmin.net/en/latest/index.html" target="_blank">phpMyAdmin Documentatiion</a><br>

      <h3 id="datasets">Datasets</h3>
      <a href="https://github.com/caesar0301/awesome-public-datasets" target="_blank">Awesome public datasets</a><br>
      <a href="http://tinyletter.com/data-is-plural/archive" target="_blank">Data Is Plural</a> - Open source datasets<br>
      <a href="https://github.com/fivethirtyeight/data" target="_blank">FiveThirtyEight data</a> - created by the FiveThirtyEight website<br>

      <h3 id="devops">Devops</h3>
      <a href="https://github.com/Leo-G/DevopsWiki" target="_blank">Devops Wiki</a> - tools, tutorials, scripts<br>

      <h3 id="git">Git</h3>
      <a href="https://github.com/github/gitignore" target="_blank">gitignore</a> - collection of templates<br>
      <a href="https://gist.github.com/octocat/9257657" target="_blank">.gitignore configuration</a><br>
      <a href="https://git-scm.com/docs" target="_blank">Git reference</a><br>
      <a href="http://www.learnenough.com/git-tutorial" target="_blank">Learn Enough Git to Be Dangerous</a> - online book<br>
      <a href="https://git-scm.com/book/en/v2" target="_blank">Pro Git</a> - online book<br>
      <a href="https://medium.com/@pierreda/understanding-git-for-real-by-exploring-the-git-directory-1e079c15b807#.i0ye5resn" target="_blank">
        Understanding git for real by exploring the .git directory</a><br>

      <h3 id="gulp">Gulp</h3>
      <a href="https://scotch.io/tutorials/automate-your-tasks-easily-with-gulp-js" target="_blank">
        Automate Your Tasks Easily with Gulp.js</a> - Scotch.io<br>
      <a href="https://travismaynard.com/writing/getting-started-with-gulp" target="_blank">
        Getting Started with Gulp</a><br>
      <a href="http://www.sitepoint.com/introduction-gulp-js/" target="_blank">
          An Introduction to Gulp.js</a> - SitePoint<br>
      <a href="http://www.sitepoint.com/simple-gulpy-workflow-sass/" target="_blank">
        A Simple Gulpy Workflow For Sass</a> - SitePoint<br>

      <h3 id="hardware">Hardware</h3>
      <a href="https://getchip.com/" target="_blank">Chip - $9 computer</a><br>

      <h3 id="http">HTTP</h3>
      <a href="https://certsimple.com/blog/ssl-why-do-i-need-it" target="_blank">HTTPS provides more than just privacy</a><br>
      <a href="http://www.freeformatter.com/mime-types-list.html" target="_blank">MIME types list</a><br>
      <a href="http://igoro.com/archive/what-really-happens-when-you-navigate-to-a-url/" target="_blank">
        What really happens when you navigate to a URL</a><br>


      <h3 id="http2">HTTP/2</h3>
      <a href="https://www.smashingmagazine.com/2016/02/getting-ready-for-http2/" target="_blank">
        Getting Ready For HTTP/2: A Guide For Web Designers And Developers</a><br>
      <a href="https://surma.link/things/h2setup/" target="_blank">HTTP/2 - setting up</a><br>

      <h3 id="javascript">JavaScript</h3>
      <a href="http://blog.debugme.eu/getting-started-as-a-javascript-developer/" target="_blank">
        6 Essential Tips for Getting Started as a JavaScript Developer</a><br>
      <a href="http://rainsoft.io/gentle-explanation-of-this-in-javascript/" target="_blank">
        Gentle explanation of 'this' keyword in JavaScript</a><br>
      <a href="http://webdesign.tutsplus.com/tutorials/auto-formatting-input-value--cms-26745" target="_blank">
        Form Design: How to Automatically Format User Input</a><br>
      <a href="https://medium.freecodecamp.com/javascript-modules-a-beginner-s-guide-783f7d7a5fcc#.z5oafymhy" target="_blank">
        JavaScript Modules: A Beginner’s Guide</a><br>
      <a href="https://medium.com/javascript-scene/learn-javascript-b631a4af11f2#.x67xwc526" target="_blank">
        Learn JavaScript Essentials</a> - Eric Elliott<br>
      <a href="https://psdtowp.net/learn-javascript.html" target="_blank">
        Learn JavaScript: The best methods and resources according to 25 JavaScript experts</a><br>
      <a href="https://css-tricks.com/lets-learn-es2015/" target="_blank">
        Let’s Learn ES2015</a><br>
      <a href="https://github.com/cht8687/You-Dont-Need-Lodash-Underscore" target="_blank">
        You don't (may not) need Lodash/Underscore</a><br>

      <h3 id="learning">Learning</h3>
      <a href="https://www.youtube.com/user/phpacademy/playlists" target="_blank">Codecourse</a> - Development tutorial videos<br>
      <a href="https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md" target="_blank">
        Free programming books</a> - Github list<br>
      <a href="https://rrrepo.co/repo/webdesign" target="_blank">rrrepo webdesign</a> - Huge list of web developer resources<br>

      <h3 id="lists">Lists</h3>
      <a href="https://wdrl.info/evergreen" target="_blank">The Evergreen List</a><br>

      <h3 id="misc">Miscellaneous</h3>
      <a href="http://devtoolsecrets.com/" target="_blank">Browser Developer Tools, Secrets of</a><br>
      <a href="https://github.com/ripienaar/free-for-dev" target="_blank">Free for Developers</a> - A list of SaaS, PaaS and IaaS offerings that have free tiers for developers.<br>
      <a href="https://developers.google.com/web/fundamentals/?hl=en" target="_blank">Google Developers - Web Fundamentals</a><br>
      <a href="https://ethicalweb.org/" target="_blank">Principles of Ethical Web Development</a> - Adam Scott<br>
      <a href="http://www.robotstxt.org/" target="_blank">robots.txt</a><br>


      <h3 id="npm">npm</h3>
      <a href="http://howtonode.org/introduction-to-npm" target="_blank">Introduction to npm</a><br>

      <h3 id="performance">Performance</h3>
      <a href="https://remysharp.com/2016/04/04/a-debugging-thought-process" target="_blank">
        A debugging thought process</a> - debugging a slow website<br>


      <h3 id="php">PHP</h3>
      <a href="https://www.sanwebe.com/2013/03/basic-php-mysqli-usage" target="_blank">Basic MySQLi</a><br>
      <a href="http://www.cabotsolutions.com/2016/06/the-evolution-of-php-infographic/" target="_blank">
        Evolution of PHP </a> - infographic<br>
      <a href="https://laracasts.com/series/design-patterns-in-php" target="_blank">Laracasts: Design Patterns in PHP</a><br>
      <a href="https://laracasts.com/series/php7-up-and-running" target="_blank">Laracasts: PHP 7 Up and Running</a><br>
      <a href="https://laracasts.com/series/solid-principles-in-php" target="_blank">Laracasts: SOLID Principles in PHP</a><br>
      <a href="https://mattstauffer.co/blog/a-brief-introduction-to-php-namespacing" target="_blank">Namespacing</a> - in PHP<br>
      <a href="/reference/object-oriented.html" target="_blank">Object Oriented PHP Cheat Sheet</a><br>
      <a href="http://php.net/" target="_blank">PHP.net</a><br>
      <a href="http://www.phptherightway.com/" target="_blank">PHP The Right Way</a><br>
      <a href="http://zaengle.com/blog/simplifying-conditional-expressions" target="_blank">
        Simplifying Conditional Expressions</a><br>

      <h3 id="privacy">Privacy</h3>
      <a href="https://www.troyhunt.com/going-dark-online-privacy-and-anonymity-for-normal-people/" target="_blank">
        Going dark: online privacy and anonymity for normal people</a><br>

      <h3 id="regular">Regular Expressions</h3>
      <a href="http://tutorialzine.com/2014/12/learn-regular-expressions-in-20-minutes/" target="_blank">
        Learn Regular Expressions in 20 Minutes</a> - Tutorialzine<br>

      <h3 id="security">Security</h3>
      <a href="https://www.digitalocean.com/community/tutorials/7-security-measures-to-protect-your-servers" target="_blank">
        7 Security Measures to Protect Your Servers</a><br>
      <a href="http://martinfowler.com/articles/web-security-basics.html" target="_blank">
        Basics of web application security</a><br>
      <a href="http://stackoverflow.com/questions/549/the-definitive-guide-to-form-based-website-authentication" target="_blank">
        Definitive guide to form-based website authentication</a><br>
      <a href="https://paragonie.com/blog/2015/08/gentle-introduction-application-security" target="_blank">
        Gentle Introduction to Application Security</a><br>
      <a href="https://ashleynolan.co.uk/blog/moving-to-https-with-letsencrypt" target="_blank">
        Moving to HTTPS with LetsEncrypt</a><br>
      <a href="http://www.codelitt.com/blog/my-first-10-minutes-on-a-server-primer-for-securing-ubuntu/" target="_blank">
        My First 10 Minutes On a Server - Primer for Securing Ubuntu</a><br>
      <a href="http://www.cloudways.com/blog/protect-php-website-sql-injection/" target="_blank">
        Protect A PHP Website From SQL Injection Attacks</a><br>
      <a href="http://www.phpbuilder.com/articles/application-architecture/security/most-secure-password-encryption-methods-in-php.html" target="_blank">
        Secure Password Encryption Methods in PHP</a><br>
      <a href="https://github.com/FallibleInc/security-guide-for-developers" target="_blank">
        A practical security guide for web developers</a><br>
      <a href="https://paragonie.com/blog/2016/07/securing-php-application-in-2016-pocket-guide" target="_blank">
        Securing a PHP Application in 2016: The Pocket Guide</a><br>
      <a href="https://medium.com/@jitbit/target-blank-the-most-underestimated-vulnerability-ever-96e328301f4c#.ctut31tez" target="_blank">
        Target=”_blank” — the most underestimated vulnerability ever</a><br>

      <h3 id="servers">Servers</h3>
      <a href="https://github.com/phanan/htaccess" target="_blank">.htaccess snippets</a><br>
      <a href="https://serversforhackers.com/" target="_blank">Servers for Hackers</a> - server admin for programmers<br>

      <h3 id="static">Static Websites</h3>
      <a href="http://zellwk.com/blog/deploy-static-site/" target="_blank">
        Deploying a Static Site with Cron and Git</a><br>
      <a href="https://staticapps.org/" target="_blank">Field Guide to Static Apps</a><br>
      <a href="https://www.smashingmagazine.com/2015/11/static-website-generators-jekyll-middleman-roots-hugo-review/" target="_blank">Static website generators reviewed</a> - Smashing Magazine<br>
      <a href="http://cloudcannon.com/tips/2014/12/12/the-ultimate-list-of-services-for-static-websites.html" target="_blank">Ultimate list of services for static websites</a><br>

      <h3 id="user">User Experience</h3>
      <a href="http://www.uxdesignedge.com/2013/11/design-hacking-great-ux-without-time-money-or-design-skills/" target="_blank">
        Design Hacking: Great UX without time, money, or design skills</a><br>
      <a href="http://www.uxdesignedge.com/2011/11/don%E2%80%99t-design-like-a-programmer-part-3/" target="_blank">
        Don't design like a programmer</a><br>

  </div>







  
</div>
</div>
