<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="links" class="sidebar">
        <ul>
          <li>
            <a href="#accessibility">Accessiblity</a>
          </li>
          <li>
            <a href="#browsers">Browsers</a>
          </li>
          <li>
            <a href="#browser-extensions">Browser Extensions</a>
          </li>
          <li>
            <a href="#cloud">Cloud Storage</a>
          </li>
          <li>
            <a href="#content-delivery">Content Delivery</a>
          </li>
          <li>
            <a href="#content-management">Content Management</a>
          </li>
          <li>
            <a href="#database">Database</a>
          </li>
          <li>
            <a href="#debugging">Debugging</a>
          </li>
          <li>
            <a href="#decentralized">Decentralized Computing</a>
          </li>
          <li>
            <a href="#editors">Editors</a>
          </li>
          <li>
            <a href="#git">Git</a>
          </li>
          <li>
            <a href="#google">Google</a>
          </li>
          <li>
            <a href="#lists">Lists</a>
          </li>
          <li>
            <a href="#microsoft">Microsoft</a>
          </li>
          <li>
            <a href="#pdf">PDF</a>
          </li>
          <li>
            <a href="#privacy">Privacy</a>
          </li>
          <li>
            <a href="#project">Project Management</a>
          </li>
          <li>
            <a href="#seo">SEO</a>
          </li>
          <li>
            <a href="#static">Static Sites</a>
          </li>
          <li>
            <a href="#web">Web Servers</a>
          </li>
          <li>
            <a href="#webpack">Webpack</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <a href="http://www.7-zip.org/" target="_blank">7 Zip</a> - file archiver<br>
      <a href="https://acrobat.adobe.com/" target="_blank">Acrobat Reader</a> - PDF viewer<br>
      <a href="http://chromerestclient.appspot.com/" target="_blank">Advanced REST Client</a> - create and test custom HTTP requests<br>
      <a href="http://ankisrs.net/" target="_blank">Anki</a> - flash cards<br>
      <a href="https://blackfire.io/" target="_blank">Blackfire</a> - performance monitoring<br>
      <a href="http://www.brokenlinkcheck.com/" target="_blank">Broken Link Checker</a> - find dead links<br>
      <a href="http://browserify.org/" target="_blank">Browserify</a> - JavaScript with modules<br>
      <a href="http://www.timeanddate.com/calendar/" target="_blank">Calendar</a> - online calendar<br>
      <a href="http://checkgzipcompression.com/" target="_blank">check GZIP compression</a> - server tester<br>
      <a href="http://codepen.io/" target="_blank">CodePen</a> - front end code<br>
      <a href="https://getcomposer.org/" target="_blank">Composer</a> - PHP dependency management<br>
      <a href="https://conemu.github.io/" target="_blank">ConEmu</a> - Windows terminal alternative<br>
      <a href="http://client.cors-api.appspot.com/client" target="_blank">CORS testing tool</a><br>
      <a href="http://deployer.org/" target="_blank">Deployer</a> - PHP deployment tool<br>
      <a href="https://fast.com/" target="_blank">Fast</a> - Netflix download spead measurer<br>
      <a href="http://www.favicon.cc/" target="_blank">Favicon.cc</a> - favicon maker<br>
      <a href="http://www.telerik.com/fiddler" target="_blank">Fiddler</a> - web traffic debugging<br>
      <a href="https://filezilla-project.org/" target="_blank">FileZilla</a> - FTP client<br>
      <a href="http://gulpjs.com/" target="_blank">Gulp</a> - workflow automation<br>
      <a href="http://jsbin.com/?html,js,output" target="_blank">JS Bin</a> - front end code<br>
      <a href="http://jsfiddle.net/" target="_blank">JS Fiddle</a> - front end code<br>
      <a href="http://jsonplaceholder.typicode.com/" target="_blank">JSONPlaceholder</a> - fake online REST API for testing and prototyping<br>
      <a href="https://letsencrypt.org/" target="_blank">Let's Encrypt</a> - free certificate authority <br>
      <a href="https://mailhero.io/" target="_blank">Mailhero</a> - reduce email spam<br>
      <a href="https://www.malwarebytes.org/" target="_blank">Malwarebytes</a> - anti-malware<br>
      <a href="https://www.mindmup.com/" target="_blank">MindMup</a> - mind mapping<br>
      <a href="http://www.neverware.com/" target="_blank">Neverware CloudReady</a> - turn an old PC into a Chromebook<br>
      <a href="http://www.noisli.com/" target="_blank">Background sounds to improve focus and productivity</a><br>
      <a href="https://www.openshift.com/" target="_blank">OpenShift</a> - web deployment<br>
      <a href="http://pa11y.org/" target="_blank">pa11y</a> - automated accessibility testing<br>
      <a href="https://github.com/squizlabs/PHP_CodeSniffer" target="_blank">PHP CodeSniffer</a> - detects violation of coding standards<br>
      <a href="http://www.phpdoc.org/" target="_blank">phpDocumentor</a> - creates documentation from source code<br>
      <a href="http://tools.pingdom.com/fpt/" target="_blank">pingdom</a> - website speed test<br>
      <a href="https://www.getpostman.com/" target="_blank">Postman</a> - test HTTP requests and APIs<br>
      <a href="http://www.putty.org/" target="_blank">PuTTY</a> - SSH client<br>
      <a href="http://regexr.com/" target="_blank">RegExr</a> - regular expression builder / tester<br>
      <a href="http://responsivepx.com/" target="_blank">responsivepx</a> - Find that tricky breakpoint<br>
      <a href="http://rocketeer.autopergamene.eu/" target="_blank">Rocketeer</a> - PHP deployment<br>
      <a href="https://mozilla.github.io/server-side-tls/ssl-config-generator/" target="_blank">SSL Configuration Generator</a> - by Mozilla<br>
      <a href="http://www.2brightsparks.com/freeware/freeware-hub.html" target="_blank">SyncBack</a> - backup software<br>
      <a href="https://styleci.io/" target="_blank">StyleCI</a> - PHP coding style service<br>
      <a href="http://www.onlineconversion.com/unix_time.htm" target="_blank">Unix Time Conversion</a><br>
      <a href="https://www.virtualbox.org/" target="_blank">Virtual Box</a> - virtualization<br>
      <a href="http://webkay.robinlinus.com/" target="_blank">What every browser knows about you</a><br>
      <a href="https://windirstat.info/" target="_blank">WinDirStat</a> - disk space analyzer<br>
      <a href="http://www.wingrep.com/" target="_blank">Windows Grep</a> - file finding utility<br>
      <a href="https://winscp.net/eng/index.php" target="_blank">WinSCP</a> - FTP client<br>
      <a href="http://winmerge.org/" target="_blank">WinMerge</a> - file compare utility<br>
      <a href="https://www.apachefriends.org/index.html" target="_blank">XAMPP</a> - local PHP development environment<br>

      <h3 id="accessibility">Accessibility</h3>
      <a href="http://colorsafe.co/" target="_blank">Color Safe</a> - accessible text colors<br>
      <a href="http://wave.webaim.org/" target="_blank">WAVE</a> - web accessibility evaluation tool<br>

      <h3 id="browsers">Browsers</h3>
      <a href="https://www.brave.com/" target="_blank">Brave</a><br>
      <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">Chrome</a><br>
      <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_blank">Edge</a><br>
      <a href="https://www.mozilla.org/en-US/firefox/products/" target="_blank">Firefox</a><br>
      <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">
        Internet Explorer</a><br>
      <a href="http://www.opera.com/" target="_blank">Opera</a><br>
      <a href="https://support.apple.com/downloads/safari" target="_blank">Safari</a><br>
      <a href="https://www.torproject.org/" target="_blank">Tor</a><br>


      <h3 id="browser-extensions">Browser Extensions</h3>
      <a href="http://builtwith.com/" target="_blank">BuiltWith</a> - what websites are built with<br>
      <a href="https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka" target="_blank">
        Eye Dropper</a> - browser extension color picker<br>
      <a href="https://lastpass.com/" target="_blank">LastPass</a> - password manager<br>
      <a href="https://chrome.google.com/webstore/detail/lorem-ipsum-generator/dmpfoncmmihgkooacnplecaopcefceam" target="_blank">
        Lorem Ipsum Generator</a> - browser extension<br>
      <a href="https://nimbus.everhelper.me/screenshot.php" target="_blank">Nimbus Screenshot</a> - capture browser display<br>
      <a href="http://chrispederick.com/work/web-developer/" target="_blank">Web Developer</a> - browser extension with various tools<br>
      <a href="http://chengyinliu.com/whatfont.html" target="_blank">WhatFont</a> - font identifier<br>
      <a href="http://xmarks.com/" target="_blank">Xmarks</a> - bookmark synchronizer<br>

      <h3 id="cloud">Cloud Storage</h3>
      <a href="https://www.dropbox.com/" target="_blank">DropBox</a><br>
      <a href="https://www.google.com/drive/" target="_blank">Google Drive</a><br>
      <a href="https://onedrive.live.com/about/en-us/" target="_blank">OneDrive</a><br>

      <h3 id="content-delivery">Content Delivery</h3>
      <a href="https://cdnjs.com/libraries" target="_blank">cdnjs</a> - content delivery<br>
      <a href="https://medium.com/surge-sh/introducing-surge-the-cdn-for-front-end-developers-b4a50a61bcfc#.taxbalagl" target="_blank">
        Introducing Surge</a><br>
      <a href="https://github.com/jsdelivr/jsdelivr" target="_blank">jsDeliver</a> - free and open source CDN<br>
      <a href="https://surge.sh/" target="_blank">Surge</a><br>

      <h3 id="content-management">Content Managment</h3>
      <a href="https://bolt.cm/" target="_blank">Bolt</a><br>
      <a href="http://austintoddj.github.io/Canvas/" target="_blank">Canvas</a> - built with Laravel<br>
      <a href="https://craftcms.com/" target="_blank">Craft CMS</a><br>
      <a href="http://processwire.com/" target="_blank">ProcessWire</a><br>

      <h3 id="database">Database</h3>
      <a href="https://www.mysql.com/products/workbench/" target="_blank">MySQL Workbench</a> - data migration<br>
      <a href="http://www.pgadmin.org/" target="_blank">pgAdmin</a> - PostgreSQL database management<br>
      <a href="https://www.phpmyadmin.net/" target="_blank">phpMyAdmin</a> - MySQL administration<br>
      <a href="http://www.ldapbrowser.com/" target="_blank">Softerra LDAP Administrator</a> - LDAP database viewing<br>

      <h3 id="debugging">Debugging</h3>
      <a href="http://phpdebugbar.com/" target="_blank">PHP Debug Bar</a><br>

      <h3 id="decentralized">Decentralized Computing</h3>
      <a href="https://ethereum.org/" target="_blank">Ethereum</a> - decentralized software platform<br>
      <a href="https://github.com/HelloZeroNet/ZeroNet" target="_blank">ZeroNet</a> - decentralized websites using Bitcoin crypto and BitTorrent network<br>

      <h3 id="editors">Editors</h3>
      <a href="https://atom.io/" target="_blank">Atom</a> - text editor<br>
      <a href="https://eclipse.org/" target="_blank">Eclipse</a> - IDE<br>
      <a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a> - text to HTML conversion<br>
      <a href="https://github.com/TailorDev/monod" target="_blank">Monod</a> - Markdown editor<br>
      <a href="https://netbeans.org/" target="_blank">NetBeans</a> - IDE<br>
      <a href="https://notepad-plus-plus.org/" target="_blank">Notepad++</a> - text editor<br>
      <a href="http://simpledown.snazzyham.com/" target="_blank">Simpledown</a> - Online markdown text editor<br>
      <a href="https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx" target="_blank">
        Visual Studio</a> - community edition<br>

      <h3 id="git">Git</h3>
      <a href="https://bitbucket.org/" target="_blank">Bitbucket</a> - git code repositories<br>
      <a href="http://git-scm.com/" target="_blank">Git</a> - code and file management<br>
      <a href="https://github.com/" target="_blank">GitHub</a> - git code repositories<br>
      <a href="https://about.gitlab.com/" target="_blank">GitLab</a> - git code repositories<br>

      <h3 id="google">Google</h3>
      <a href="https://www.google.com/analytics/" target="_blank">Google Analytics</a> - website traffic tracker<br>
      <a href="https://calendar.google.com/" target="_blank">Google Calendar</a> - calendar<br>
      <a href="https://docs.google.com/" target="_blank">Google Docs</a> - word processing, spreadsheets<br>
      <a href="https://mail.google.com/" target="_blank">Google Mail</a> - email<br>

      <h3 id="lists">Lists</h3>
      <a href="http://fredsarmento.me/frontend-tools/" target="_blank">Frontend Tools</a> - Fred Sarmento<br>

      <h3 id="microsoft">Microsoft</h3>
      <a href="https://www.microsoft.com/en-us/download/office.aspx" target="_blank">Microsoft Office</a><br>
      <a href="https://www.onenote.com/" target="_blank">Microsoft One Note</a> - note taking<br>
      <a href="http://windows.microsoft.com/en-us/windows/security-essentials-download" target="_blank">Microsoft Security Essentials</a> - anti-virus<br>

      <h3 id="pdf">PDF</h3>
      <a href="https://www.cutepdf-editor.com/edit.asp" target="_blank">CutePDF</a> - online PDF editor<br>

      <h3 id="privacy">Privacy</h3>
      <a href="https://www.ghostery.com/" target="_blank">Ghostery</a><br>
      <a href="https://www.eff.org/privacybadger" target="_blank">Privacy Badger</a><br>

      <h3 id="project">Project Management</h3>
      <a href="https://asana.com" target="_blank">Asana</a> - project management<br>
      <a href="https://en.todoist.com/" target="_blank">Todoist</a> - to do list<br>
      <a href="https://trello.com/" target="_blank">Trello</a> - simple project management<br>

      <h3 id="seo">SEO</h3>
      <a href="http://saijogeorge.com/best-marketing-tools/" target="_blank">SEO tools</a> - list<br>

      <h3 id="static">Static Sites</h3>
      <a href="https://formspree.io/" target="_blank">Formspree</a> - forms for static sites<br>
      <a href="https://pages.github.com/" target="_blank">GitHub Pages</a> - deploy static sites<br>
      <a href="https://pages.gitlab.io/" target="_blank">GitLab Pages</a> - deploy static sites<br>
      <a href="http://harpjs.com/" target="_blank">Harp</a> - JavaScript static site generator<br>
      <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> - Ruby based static site generator<br>
      <a href="http://jigsaw.tighten.co/" target="_blank">Jigsaw</a> - Laravel-centric static site creator<br>
      <a href="https://app.netlify.com/" target="_blank">Netlify</a> - deploy static sites<br>


      <h3 id="web">Web Servers</h3>
      <a href="https://caddyserver.com/" target="_blank">Caddy</a><br>
      <a href="http://pancakehttp.net/" target="_blank">Pancake</a><br>


      <h3 id="webpack">Webpack</h3>
      <a href="https://github.com/linuxenko/unstuck-webpack" target="_blank">
        Unstuck webpack</a> - webpack project creation<br>

    </div>







  </div>
</div>


<!--
coding / performance / page optimization
<a href="XXXXX" target="_blank">XXXXX</a> - XXXXXX<br>
-->
