<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="links" class="sidebar">
        <ul>
          <li>
            <a href="#articles">Articles and Presentations</a>
          </li>
          <li>
            <a href="#code">Code Libraries</a>
          </li>
          <li>
            <a href="#laravel">Laravel</a>
          </li>
          <li>
            <a href="#news">News and Blogs</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <a href="https://github.com/vuejs/vue/wiki/1.0.0-binding-syntax-cheatsheet" target="_blank">Binding syntax</a> - cheatsheet<br>
      <a href="https://laracasts.com/series/learning-vue-step-by-step" target="_blank">Laracasts</a> - Vue Step by Step series<br>
      <a href="https://github.com/vuejs/awesome-vue" target="_blank">Resources</a> - GitHub awesome list<br>
      <a href="https://twitter.com/vuejs" target="_blank">Twitter</a> - Vue.js<br>
      <a href="http://vuejs.org/api/" target="_blank">Vue API</a><br>
      <a href="http://vuejs.org/guide/" target="_blank">Vue Guide</a><br>



      <h3 id="articles">Articles and Presentations</h3>
      <a href="http://tutorialzine.com/2016/03/5-practical-examples-for-learning-vue-js/" target="_blank">
        5 Practical Examples for Learning Vue.js</a> - Tutorialzine<br>
      <a href="https://medium.com/the-vue-point/announcing-vue-js-2-0-8af1bde7ab9#.2036ctrlp" target="_blank">
        Announcing Vue.js 2.0</a><br>
      <a href="https://auth0.com/docs/quickstart/spa/vuejs/no-api" target="_blank">
        Auth0 and Vue.js</a><br>
      <a href="http://heucke.io/web-dev/" target="_blank">
        The Beginner's Guide to Front End Web Development with Vue</a><br>
      <a href="https://scotch.io/tutorials/build-a-single-page-time-tracking-app-with-vue-js-introduction" target="_blank">
        Build a Single Page Time Tracking App with Vue.js</a><br>
      <a href="https://scotch.io/tutorials/build-an-app-with-vue-js-a-lightweight-alternative-to-angularjs" target="_blank">
        Build an App with Vue.js</a> - Scotch.io<br>
      <a href="https://auth0.com/blog/2015/11/13/build-an-app-with-vuejs/" target="_blank">
        Build an App with Vue.js: From Authentication to Calling an API</a> - Auth0<br>
      <a href="https://benjaminlistwon.com/getting-started-with-vuejs" target="_blank">
        Getting started with Vue.js</a> - Benjamin Listwon<br>
      <a href="http://taha-sh.com/blog/the-ridiculously-easy-way-to-animate-your-applications-with-vuejs" target="_blank">
        The Ridiculously Easy Way to Animate Your Applications With VueJS</a> - Taha Shashtari<br>
      <a href="https://www.firebase.com/blog/2016-04-13-vuefire.html" target="_blank">
        VueFire - Firebase meets Vue.js</a> - Evan You<br>
      <a href="http://www.skyronic.com/2016/04/13/vue-slots-example/" target="_blank">
        Vue Slots - Why would you need them?</a><br>
      <a href="http://coligo.io/vuejs-the-basics/" target="_blank">
        VueJs: The Basics</a><br>
      <a href="http://skyronic.com/2016/01/03/vuex-basics-tutorial/" target="_blank">Vuex basics</a> - Anirudh Sanjeev<br>

      <h3 id="code">Code Libraries</h3>
      <a href="http://gritcode.github.io/gritcode-components/" target="_blank">Gritcode components</a> - file upload, wizard, offcanvas drawer, others<br>
      <a href="http://yuche.github.io/vue-strap/" target="_blank">VueStrap</a> - Bootstrap components built with Vue<br>

      <h3 id="laravel">Laravel</h3>
      <a href="https://www.youtube.com/watch?v=qA5PlSh1Qq8" target="_blank">
        CRUD with Vue JS</a><br>
      <a href="https://murze.be/2016/06/building-dashboard-using-laravel-vue/" target="_blank">
        Building a dashboard using Laravel, Vue.js and Pusher</a><br>
      <a href="https://metricloop.com/blog/how-to-use-vuejs-with-laravel-for-the-first-time" target="_blank">
        How to use Vue.js with Laravel</a><br>
      <a href="https://blog.tighten.co/setting-up-your-first-vuejs-site-using-laravel-elixir-and-vueify" target="_blank">
        Setting up your first Vue.js site using Laravel Elixir and Vueify</a>- Matt Stauffer<br>

      <h3 id="news">News and Blogs</h3>
      <a href="http://taha-sh.com/" target="_blank">Taha Shashtari</a><br>
      <a href="https://twitter.com/vuejs" target="_blank">Twitter</a> - Vue.js<br>


    </div>










  </div>
</div>


<!--
<a href="XXXXX" target="_blank">XXXXX</a> - XXXXXX<br>

<a href="XXXXX" target="_blank">XXXXX</a><br>
-->
